/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: actions.tmpl,v 1.23 2006/09/05 12:51:53 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License.
**/

{PHP_FILE: input: actions.php.t; output: actions.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: alt_var.tmpl}
{REF: ulink.tmpl}
{REF: is_perms.tmpl}

{SECTION: last_post last by a user}
{TEMPLATE: last_post_date}<br />
<a href="{TEMPLATE: last_post_lnk}">{VAR: r[8]}</a>
{SECTION: END}

{SECTION: last_post_na no last post}
{MSG: na}
{SECTION: END}

{SECTION: action_entry iSpy user list row}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}">
	<td class="GenText">{VAR: user_login}</td>
	<td class="GenText">{VAR: action}</td>
	<td class="DateText">{TEMPLATE: action_entry_date}</td>
	<td class="SmallText">{TEMPLATE-DATA: last_post}</td>
</tr>
{SECTION: END}

{SECTION: anon_user anon user name}
{GVAR: ANON_NICK}
{SECTION: END}

{SECTION: reg_user_link registered user link}
<a href="{TEMPLATE: reg_user_link_lnk}">{FUNC: draw_user_link($r[3], $r[6], $r[4])}</a>
{SECTION: END}

{PAGE: ACTION_PAGE iSpy User Action List}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<div class="GenText ac">[<a href="{TEMPLATE: ACTION_PAGE_lnk}">{MSG: refresh_list}</a>]</div>
<p>
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th>{MSG: user}</th><th>{MSG: action}</th><th>{MSG: time}</th><th>{MSG: action_latest_post}</th></tr>
{TEMPLATE-DATA: action_data}
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: actions_update}
{MSG: actions_update}
{SECTION: END}

{SECTION: no_view_perm}
{MSG: no_view_perm}
{SECTION: END}

{SECTION: reg_user_link_lnk}
{ROOT}?t=usrinfo&id={VAR: r[1]}&{DEF: _rsid}
{SECTION: END}

{SECTION: last_post_lnk}
{ROOT}?t={DEF: d_thread_view}&goto={VAR: r[7]}&{DEF: _rsid}#msg_{VAR: r[7]}
{SECTION: END}

{SECTION: ACTION_PAGE_lnk}
{ROOT}?t=actions&rand={FUNC: get_random_value()}&{DEF: _rsid}
{SECTION: END}
