/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: admincp.tmpl,v 1.19 2007/01/01 18:23:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: admincp.inc.t; output: @admincp.inc;}

{MAIN_SECTION: admin_cp Administrator Control Panel}
<br /><span class="GenText fb">{MSG: admin}:</span> {TEMPLATE-DATA: mod_que} {TEMPLATE-DATA: reported_msgs} {TEMPLATE-DATA: thr_exch} {TEMPLATE-DATA: custom_avatar_queue} {TEMPLATE-DATA: group_mgr} {TEMPLATE-DATA: accounts_pending_approval}<br />
{MAIN_SECTION: END}

{SECTION: custom_avatar_queue (appears if there are custom avatars in que for approval)}
| <a href="adm/admapprove_avatar.php?S={DEF: s}&amp;SQ={GVAR: sq}">{MSG: custom_avatar_queue}</a> <span class="GenTextRed">({VAR: avatar_count})</span>
{SECTION: END}

{SECTION: group_mgr_lnk}
{ROOT}?t=groupmgr&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: group_mgr link to the group manager for admin & group managers}
| <a href="{TEMPLATE: group_mgr_lnk}">{MSG: group_mgr}</a>
{SECTION: END}

{SECTION: reported_msgs_lnk}
{ROOT}?t=reported&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: reported_msgs link to reported messages form, with an idicator that shows the # of reported messages}
| <a href="{TEMPLATE: reported_msgs_lnk}">{MSG: reported_messages}</a> <span class="GenTextRed">({VAR: report_count})</span>
{SECTION: END}

{SECTION: thr_exch_lnk}
{ROOT}?t=thr_exch&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch a link to thread exchange, with an idicator of the # of threads waiting approval}
| <a href="{TEMPLATE: thr_exch_lnk}">{MSG: thread_exchange}</a> <span class="GenTextRed">({VAR: thr_exchc})</span>
{SECTION: END}

{SECTION: mod_que_lnk}
{ROOT}?t=modque&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: mod_que link to form for approving messages in moderated forums}
<a href="{TEMPLATE: mod_que_lnk}">{MSG: moderation_queue}</a> <span class="GenTextRed">({VAR: approve_count})</span>
{SECTION: END}

{SECTION: accounts_pending_approval accounts pending administrator's approval}
| <a href="adm/admaccapr.php?S={DEF: s}&amp;SQ={GVAR: sq}">{MSG: accounts_pending_approval}</a> <span class="GenTextRed">({VAR: accounts_pending_approval})</span>
{SECTION: END}
