/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: avatarsel.tmpl,v 1.4 2002/08/05 05:58:21 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: avatarsel.php.t; output: avatarsel.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: alt_var.tmpl}

{SECTION: no_avatars}
<td bgcolor="#f4f4f4" align="center">{MSG: no_avatars}</td>
{SECTION: END}

{SECTION: avatar_entry single avatar entry}
<td style="{ALT-VAR: avatarsel_cl #f4f4f4 #fefefe}" nowrap valign="middle" align="center">
<a class="GenLink" href="javascript: window.opener.document.reg_avatar_img.src=\'images/avatars/{VAR: obj->img}\'; window.opener.document.fud_register.reg_avatar.value=\'{VAR: obj->id}\'; window.opener.document.fud_register.submit(); window.close();"><img src="images/avatars/{VAR: obj->img}" border=0 alt="" /><br /><font class="SmallText">{VAR: obj->descr}</font></a></td>
{SECTION: END}

{SECTION: row_separator}
</tr><tr>
{SECTION: END}

{PAGE: AVATARSEL_PAGE Built In Avatar List}
{TEMPLATE: header_plain}
<table border=0 cellspacing=1 cellpadding=2><tr>
{TEMPLATE-DATA: avatars_data}
</tr></table>
{TEMPLATE: footer_plain}
{PAGE: END}

{SECTION: avatar_sel_form}
{MSG: avatar_sel_form}
{SECTION: END}
