/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: avatarsel.tmpl,v 1.22 2009/01/27 05:40:00 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: avatarsel.php.t; output: avatarsel.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: alt_var.tmpl}
{REF: draw_select_opt.tmpl}

{SECTION: no_avatars}
<td class="NoAvatar">{MSG: no_avatars}</td>
{SECTION: END}

{SECTION: avatar_entry single avatar entry}
<td class="{ALT-VAR: avatarsel_cl Av1 Av2}">
<a href="window.opener.document.fud_register.reg_avatar.value=\'{VAR: r[0]}\'; window.opener.document.reg_avatar_img.src=\'images/avatars/{VAR: r[2]}\'; window.close();"><img src="images/avatars/{VAR: r[2]}" alt="" /><br /><span class="SmallText">{VAR: r[1]}</span></a></td>
{SECTION: END}

{SECTION: row_separator}
</tr><tr>
{SECTION: END}

{PAGE: AVATARSEL_PAGE Built In Avatar List}
{TEMPLATE: header_plain}
{TEMPLATE-DATA: select}
<table border="0" cellspacing="1" cellpadding="2"><tr>
{TEMPLATE-DATA: avatars_data}
</tr></table>
{TEMPLATE: footer_plain}
{PAGE: END}

{SECTION: avatar_sel_form}
{MSG: avatar_sel_form}
{SECTION: END}

{SECTION: avatar_sel_lnk}
{ROOT}?t=avatarsel
{SECTION: END}

{SECTION: avatarsel_gal_sel avatar gallery selection}
<form id="avsel" method="post" action="{TEMPLATE: avatar_sel_lnk}">{DEF: _hs}
<select name="gal" onchange="document.avsel.submit();">{TEMPLATE-DATA: select}</select> <input type="submit" name="sbm" value="View" />
</form><hr />
{SECTION: END}
