/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: buddy_list.tmpl,v 1.19 2003/12/19 18:20:44 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: buddy_list.php.t; output: buddy_list.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: buddy.tmpl}
{REF: return.tmpl}
{REF: tabs.tmpl}
{REF: alt_var.tmpl}

{SECTION: homepage_link}
<a href="{VAR: r[7]}" target="_blank"><img src="{THEME_IMAGE_ROOT}/homepage.gif" alt="" /></a>
{SECTION: END}

{SECTION: online_indicator}
<img src="{THEME_IMAGE_ROOT}/online.gif" title="{MSG: buddy_online}" alt="{MSG: buddy_online}" />
{SECTION: END}

{SECTION: offline_indicator}
<img src="{THEME_IMAGE_ROOT}/offline.gif" title="{MSG: buddy_offline}" alt="{MSG: buddy_offline}" />
{SECTION: END}

{SECTION: bday_indicator}
<img src="blank.gif" alt="" width=10 height=1 /><img src="{THEME_IMAGE_ROOT}/bday.gif" alt="" />{MSG: buddy_list_bday}
{SECTION: END}

{SECTION: pm_link}
<a href="{TEMPLATE: pm_link_lnk}">{VAR: r[2]}</a>
{SECTION: END}

{SECTION: email_link}
<a href="{TEMPLATE: email_link_lnk}">{VAR: r[2]}</a>
{SECTION: END}

{SECTION: buddy buddy row entry}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}">
	<td align="center">{TEMPLATE-DATA: online_status}</td>
	<td width="100%" class="GenText">{TEMPLATE-DATA: contact_link}&nbsp;<font class="SmallText">(<a href="{TEMPLATE: buddy_lnk}">{MSG: buddy_remove}</a>)</font>&nbsp;{TEMPLATE-DATA: bday_indicator}</td>
	<td align="center">{VAR: r[6]}</td>
	<td align="center" nowrap>{DATE: r[3] %a, %d %B %Y %H:%M}</td>
	<td class="GenText" nowrap><a href="{TEMPLATE: buddy_lnk1}"><img src="{THEME_IMAGE_ROOT}/msg_about.gif" alt="" /></a>&nbsp;<a href="{TEMPLATE: buddy_lnk2}"><img src="{THEME_IMAGE_ROOT}/show_posts.gif" alt="" /></a> {TEMPLATE-DATA: homepage_link}</td>
</tr>
{SECTION: END}

{SECTION: buddy_list the buddy list table}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th>{MSG: buddy_status}</th><th>{MSG: my_buddies}</th><th nowrap align="center">{MSG: referals_post_count}</th><th nowrap align="center">{MSG: referals_registered_on}</th><th nowrap align="center">{MSG: referals_action}</th></tr>
{TEMPLATE-DATA: buddies}
</table>
{SECTION: END}

{PAGE: BUDDYLIST_PAGE Buddy list}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: tabs}
{TEMPLATE-DATA: buddies}
<br /><br />
<form name="buddy_add" action="{TEMPLATE: BUDDYLIST_PAGE_lnk3}" method="post">{DEF: _hs}<div align="center">
<table align="center" border="0" cellspacing="1" cellpadding="2" class="MiniTable">
<tr><th nowrap>{MSG: add_buddy}</th></tr>
<tr class="RowStyleA">
<td nowrap class="GenText"><font class="Smalltext">{MSG: buddy_search}{TEMPLATE-DATA: buddy_member_search}</font><p>
<input type="text" name="add_login" value="" maxlength=100 size=25> <input type="submit" class="button" name="submit" value="{MSG: add}"></td></tr>
</table></div></form>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: err_info}
{MSG: err_info}
{SECTION: END}

{SECTION: buddy_list_err_cantadd}
{MSG: buddy_list_err_cantadd}
{SECTION: END}

{SECTION: buddy_list_err_dup}
{MSG: buddy_list_err_dup}
{SECTION: END}

{SECTION: buddy_list_err_nouser_title}
{MSG: buddy_list_err_nouser_title}
{SECTION: END}

{SECTION: buddy_list_err_nouser}
{MSG: buddy_list_err_nouser}
{SECTION: END}

{SECTION: buddy_list_update}
{MSG: buddy_list_update}
{SECTION: END}

{SECTION: buddy_member_search}
{MSG: member_search}
{SECTION: END}

{SECTION: pm_link_lnk}
{ROOT}?t=ppost&amp;{DEF: _rsid}&amp;toi={VAR-URL: r[0]}
{SECTION: END}

{SECTION: email_link_lnk}
{ROOT}?t=email&amp;toi={VAR: r[1]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: buddy_lnk}
{ROOT}?t=buddy_list&amp;{DEF: _rsid}&amp;del={VAR: r[0]}
{SECTION: END}

{SECTION: buddy_lnk1}
{ROOT}?t=usrinfo&amp;id={VAR: r[1]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: buddy_lnk2}
{ROOT}?t=showposts&amp;{DEF: _rsid}&amp;id={VAR: r[1]}
{SECTION: END}

{SECTION: BUDDYLIST_PAGE_lnk3}
{ROOT}?t=buddy_list
{SECTION: END}
