/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: coppa.tmpl,v 1.20 2009/07/11 10:49:08 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: coppa.php.t; output: coppa.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: usercp.tmpl}
{REF: curtime.tmpl}
{REF: footer.tmpl}

{PAGE: COPPA_PAGE determines if a new user is <13 years of age, needed for COPPA compliance}
{TEMPLATE: header}
{TEMPLATE: usercp}
<div class="ctb">
<table cellspacing="1" cellpadding="2" class="DialogTable">
<tr><th>{MSG: coppa_conf}</th></tr>
<tr class="RowStyleA GenText ac"><td>
{MSG: coppa_link}<br /><br />
[<a href="{TEMPLATE: COPPA_PAGE_lnk}">{MSG: coppa_before}</a>]&nbsp;
[<a href="{TEMPLATE: COPPA_PAGE_lnk1}">{MSG: coppa_after}</a>]
<hr/>
{MSG: coppa}
</td></tr>
</table></div>
{TEMPLATE: curtime}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: coppa_conf}
{MSG: coppa_conf}
{SECTION: END}

{SECTION: COPPA_PAGE_lnk}
{ROOT}?t=pre_reg&amp;coppa=&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: COPPA_PAGE_lnk1}
{ROOT}?t=pre_reg&amp;coppa=1&amp;{DEF: _rsid}
{SECTION: END}
