/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: core.tmpl,v 1.1 2002/06/18 16:41:04 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: core.inc.t; output: core.inc;}


{SECTION: core_err_invinp_title}
{MSG: core_err_invinp_title}
{SECTION: END}

{SECTION: core_err_invinp_err}
{MSG: core_err_invinp_err}
{SECTION: END}

{SECTION: core_adm_login_msg}
{MSG: core_adm_login_msg}
{SECTION: END}

{SECTION: install_script_present_error}
{MSG: install_script_present_error}
{SECTION: END}
