/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: date_formats.tmpl,v 1.5 2005/12/07 18:07:45 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{SECTION: last_post_date date of the last post}
{DATE: r[9] %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: action_entry_date last visit time}
{DATE: r[5] %H:%M:%S}
{SECTION: END}

{SECTION: dmsg_join_date}
{DATE: obj->join_date %B %Y}
{SECTION: END}

{SECTION: dmsg_update_on_date}
{DATE: obj->update_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: dmsg_post_date}
{DATE: obj->post_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: uinfo_last_post_date}
{DATE: r[2] %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: uinfo_last_visit_date}
{DATE: u->last_visit %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: uinfo_join_date}
{DATE: u->join_date %a, %B %d, %Y}
{SECTION: END}

{SECTION: uc_pm_date}
{DATE: r[2] %b %d %Y %H:%M}
{SECTION: END}

{SECTION: uc_last_post_date}
{DATE: r->post_stamp %a, %d %B %Y}
{SECTION: END}

{SECTION: uc_sub_topic_date}
{DATE: r->post_stamp %a, %d %B %Y}
{SECTION: END}

{SECTION: tree_msg_post_date}
{DATE: cur->post_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: threadt_msg_post_date}
{DATE: cur->post_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: thread_last_post_date}
{DATE: r[10] %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: thread_first_post_date}
{DATE: r[4] %a, %d %B %Y}
{SECTION: END}

{SECTION: current_date}
{DATE: !__request_timestamp__ %a %b %e %H:%M:%S %Z %Y}
{SECTION: END}

{SECTION: buddy_date}
{DATE: r[3] %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: showposts_ent_date}
{DATE: r[4] %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: finduser_join_date}
{DATE: r->join_date %a, %d %B %Y}
{SECTION: END}

{SECTION: search_post_date}
{DATE: r->post_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: reported_date}
{DATE: obj->report_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: make_report_date}
{DATE: msg->post_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: referrals_join_date}
{DATE: r[2] %a, %d %B %Y}
{SECTION: END}

{SECTION: online_today_last_post_date}
{DATE: r[7] %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: online_today_visit_date}
{DATE: r[3] %H:%M:%S}
{SECTION: END}

{SECTION: poll_date}
{DATE: obj->creation_date %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: index_last_post_date}
{DATE: r[2] %a, %d %B %Y}
{SECTION: END}

{SECTION: ignore_list_date}
{DATE: r[4] %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: registered_on_date}
{DATE: u_reg_date %a, %d %B %Y}
{SECTION: END}

{SECTION: welcome_message_date}
{DATE: usr->last_visit %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: coppa_date}
{DATE: coppa %B %e, %Y}
{SECTION: END}

{SECTION: ppost_quote_msg_date}
{DATE: msg_r->post_stamp %a, %d %B %Y %H:%M}
{SECTION: END}

{SECTION: private_msg_notify_body_date}
{DATE: m->post_stamp %a, %d %B %Y %H:%M}
{SECTION: END}
