/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: draw_radio_opt.tmpl,v 1.10 2006/09/05 12:51:53 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License.
**/

{PHP_FILE: input: draw_radio_opt.inc.t; output: draw_radio_opt.inc;}

{MAIN_SECTION: checkbox_area  standart forum checkbox apperance}
{TEMPLATE-DATA: checkboxes}
{MAIN_SECTION: END}

{SECTION: checkbox checkbox}
<input type="radio" name="{VAR: name}" value="{VAR: v}" {IF: $v == $selected}checked {ENDIFI}>{VAR: nms[$k]}{VAR: sep}
{SECTION: END}
