/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: drawpmsg.tmpl,v 1.20 2003/10/10 12:43:29 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: drawpmsg.inc.t; output: drawpmsg.inc;}

{SECTION: dpmsg_online_indicator}
<img src="{THEME_IMAGE_ROOT}/online.gif" alt="{MSG: user_online}" title="{MSG: user_online}" />
{SECTION: END}

{SECTION: dpmsg_offline_indicator}
<img src="{THEME_IMAGE_ROOT}/offline.gif" alt="{MSG: user_offline}" title="{MSG: user_offline}" />
{SECTION: END}

{SECTION: dpmsg_avatar}
{VAR: obj->avatar_loc}
{SECTION: END}

{SECTION: dpmsg_no_avatar}
{SECTION: END}

{SECTION: dpmsg_host_name}
<b>{MSG: from}</b> {VAR: obj->host_name}&nbsp;&nbsp;&nbsp;
{SECTION: END}

{SECTION: dpmsg_location}
<B>{MSG: location}</b> {VAR: location}&nbsp;&nbsp;&nbsp;
{SECTION: END}

{SECTION: dpmsg_no_location}
{SECTION: END}

{SECTION: dpmsg_custom_tags}
{VAR: obj->custom_status}
{SECTION: END}

{SECTION: dpmsg_no_custom_tags}
{SECTION: END}

{SECTION: dpmsg_msg_icon}
<img src="images/message_icons/{VAR: obj->icon}" alt="" />&nbsp;&nbsp;
{SECTION: END}

{SECTION: dpmsg_no_msg_icon}
{SECTION: END}

{SECTION: dpmsg_buddy_link_lnk}
{ROOT}?t=buddy_list&amp;{DEF: _rsid}&amp;add={VAR: obj->user_id}
{SECTION: END}

{SECTION: dpmsg_buddy_link}
<br />[<a href="{TEMPLATE: dpmsg_buddy_link_lnk}" class="GenLink">{MSG: add_to_buddy_list}</a>]
{SECTION: END}

{SECTION: dpmsg_im_icq_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: obj->user_id}&amp;{DEF: _rsid}#icq_msg
{SECTION: END}

{SECTION: dpmsg_im_icq}
<a href="{TEMPLATE: dpmsg_im_icq_lnk}"><img src="http://web.icq.com/whitepages/online?icq={VAR: obj->icq}&amp;img=5" alt="" alt="" /></a>&nbsp;
{SECTION: END}

{SECTION: dpmsg_im_aim}
<a href="aim:goim?screenname={VAR: obj->aim}&amp;message=Hi.+Are+you+there?"><img src="{THEME_IMAGE_ROOT}/aim.gif" alt="" /></a>&nbsp;
{SECTION: END}

{SECTION: dpmsg_im_yahoo}
<a target="_blank" href="http://edit.yahoo.com/config/send_webmesg?.target={VAR: obj->yahoo}&amp;.src=pg"><img src="{THEME_IMAGE_ROOT}/yahoo.gif" alt="" /></a>&nbsp;
{SECTION: END}

{SECTION: dpmsg_im_msnm}
<a href="mailto:{VAR: obj->msnm}"><img src="{THEME_IMAGE_ROOT}/msnm.gif" alt="" /></a>
{SECTION: END}

{SECTION: dpmsg_im_jabber}
<img src="{THEME_IMAGE_ROOT}/jabber.gif" title="{VAR-UH: obj->jabber}" alt="{VAR-UH: obj->jabber}" />
{SECTION: END}

{SECTION: dpmsg_file_attachments the file attachments list}
<p>
<table border=0 cellspacing=0 cellpadding=2>
{TEMPLATE-DATA: file_attachments}
</table>
{SECTION: END}

{SECTION: dpmsg_file_attachment_lnk}
{ROOT}?t=getfile&amp;id={VAR: r->id}&amp;{DEF: _rsid}&amp;private=1
{SECTION: END}

{SECTION: dpmsg_file_attachment file attachment entry row}
<tr>
<td valign=middle><a class="GenLink" href="{TEMPLATE: dpmsg_file_attachment_lnk}"><img src="images/mime/{VAR: r->icon}" alt="" /></a></td>
<td><font class="GenText"><b>{MSG: attachment}</b></font> <a class="GenLink" href="{TEMPLATE: dpmsg_file_attachment_lnk}">{VAR: r->original_name}</a><br />
<font class="SmallText">({MSG: size} {VAR: sz}, {MSG: pmsg_download_counter})</font></td></tr>
{SECTION: END}

{SECTION: dpmsg_signature}
<p><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br />{VAR: obj->sig}
{SECTION: END}

{SECTION: dpmsg_user_profile_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_user_profile}
<a class="GenLink" href="{TEMPLATE: dpmsg_user_profile_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_about.gif" alt="" /></a>
{SECTION: END}

{SECTION: dpmsg_email_link_lnk}
{ROOT}?t=email&amp;toi={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_email_link}
<a class="GenLink" href="{TEMPLATE: dpmsg_email_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_email.gif" alt="" /></a>
{SECTION: END}

{SECTION: dpmsg_private_msg_link_lnk}
{ROOT}?t=ppost&amp;toi={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_private_msg_link}
<a class="GenLink" href="{TEMPLATE: dpmsg_private_msg_link_lnk}"><img title="{MSG: send_pm_desc}" src="{THEME_IMAGE_ROOT}/msg_pm.gif" alt="" /></a>
{SECTION: END}

{SECTION: dpmsg_edit_link_lnk}
{ROOT}?t=ppost&amp;msg_id={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_edit_link}
<a class="GenLink" href="{TEMPLATE: dpmsg_edit_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_edit.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
{SECTION: END}

{SECTION: dpmsg_reply_link_lnk}
{ROOT}?t=ppost&amp;reply={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_reply_link}
<a class="GenLink" href="{TEMPLATE: dpmsg_reply_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_reply.gif" alt="" /></a>&nbsp;
{SECTION: END}

{SECTION: dpmsg_quote_link_lnk}
{ROOT}?t=ppost&amp;quote={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_quote_link}
<a class="GenLink" href="{TEMPLATE: dpmsg_quote_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_quote.gif" alt="" /></a>
{SECTION: END}

{MAIN_SECTION: private_message_entry draws a single private message}
<tr class="RowStyleA">
<td valign="top" align="left" class="MsgSubText">{TEMPLATE-DATA: msg_icon}{VAR: obj->subject}</td>
<td valign="top" align=right class="DateText">{DATE: obj->post_stamp %a, %d %B %Y %H:%M}</td>
</tr>

<tr class="RowStyleA"><td class="RowStyleA" colspan=2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="RowStyleA">
{TEMPLATE-DATA: avatar}
<td width="100%" valign="top" class="GenText">
{TEMPLATE-DATA: online_indicator}{TEMPLATE-DATA: profile_link}{TEMPLATE-DATA: dmsg_tags}<br />
{TEMPLATE-DATA: dmsg_user_info}{TEMPLATE-DATA: dmsg_im_row}{TEMPLATE-DATA: buddy_link}
</td></tr></table>
</td>
</tr>
<tr><td class="RowStyleA" colspan=2>{TEMPLATE-DATA: msg_body}{TEMPLATE-DATA: file_attachments}{TEMPLATE-DATA: signature}</td></tr>
{TEMPLATE-DATA: msg_toolbar}
<tr><td align="right" colspan=2 bgcolor="#FFFFFF">{GVAR: dpmsg_prev_message} {GVAR: dpmsg_next_message}</td></tr>
{MAIN_SECTION: END}

{SECTION: dpmsg_no_msg_body}
{MSG: no_msg_body}
{SECTION: END}

{SECTION: dpmsg_msg_toolbar_lnk}
{ROOT}?t=pmsg&amp;{DEF: _rsid}&amp;btn_delete=1&amp;sel={VAR: obj->id}
{SECTION: END}

{SECTION: dpmsg_msg_toolbar_lnk2}
{ROOT}?t=ppost&amp;forward={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_msg_toolbar buttons for replying,editing,deliting and forwarding the message}
<tr class="MsgToolBar"><td colspan=2><table border=0 cellspacing=0 cellpadding=0 width="100%"><tr>
<td align="left" nowrap width="1%">
{TEMPLATE-DATA: user_profile}&nbsp;{TEMPLATE-DATA: email_link}&nbsp;{TEMPLATE-DATA: private_msg_link}
</td>
<td align="right" nowrap width="1%">
<a class="GenLink" href="{TEMPLATE: dpmsg_msg_toolbar_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_delete.gif" alt="" /></a>&nbsp;{TEMPLATE-DATA: edit_link}{TEMPLATE-DATA: reply_link}{TEMPLATE-DATA: quote_link}
<a class="GenLink" href="{TEMPLATE: dpmsg_msg_toolbar_lnk2}"><img src="{THEME_IMAGE_ROOT}/msg_forward.gif" alt="" /></a>
</td></tr></table></td></tr>
{SECTION: END}

{SECTION: dpmsg_profile_link_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_profile_link}
<a class="GenLink" href="{TEMPLATE: dpmsg_profile_link_lnk}">{VAR: obj->alias}</a>
{SECTION: END}

{SECTION: dpmsg_profile_no_link user's name without the link to the profile}
{VAR: obj->alias}
{SECTION: END}

{SECTION: dpmsg_prev_message_lnk}
{ROOT}?t=pmsg_view&amp;{DEF: _rsid}&amp;id={VAR: pid}
{SECTION: END}

{SECTION: dpmsg_prev_message link to the previous message}
<a href="{TEMPLATE: dpmsg_prev_message_lnk}" class="GenLink"><img src="{THEME_IMAGE_ROOT}/goback.gif" alt="" /> {MSG: pmsg_prev_msg}</a>
{SECTION: END}

{SECTION: dpmsg_next_message_lnk}
{ROOT}?t=pmsg_view&amp;{DEF: _rsid}&amp;id={VAR: nid}
{SECTION: END}

{SECTION: dpmsg_next_message link to the next message}
<a href="{TEMPLATE: dpmsg_next_message_lnk}" class="GenLink">{MSG: pmsg_next_msg} <img src="{THEME_IMAGE_ROOT}/goto.gif" alt="" /></a>
{SECTION: END}

{SECTION: drawpmsg_affero_reg}
<a href="http://svcs.affero.net/rm.php?r={VAR-URL: obj->affero}&amp;ll=0.{VAR-URL: GLOBALS['affero_domain']['host']}&amp;lp=0.{VAR-URL: GLOBALS['affero_domain']['host']}&amp;ls={VAR-URL: obj->subject}" target=_blank><img alt="" src="{THEME_IMAGE_ROOT}/affero_reg.gif" /></a>
{SECTION: END}

{SECTION: drawpmsg_affero_noreg}
<a href="http://svcs.affero.net/rm.php?m={VAR-URL: obj->email}&amp;ll=0.{VAR-URL: GLOBALS['affero_domain']['host']}&amp;lp=0.{VAR-URL: GLOBALS['affero_domain']['host']}&amp;ls={VAR-URL: obj->subject}" target=_blank><img alt="" src="{THEME_IMAGE_ROOT}/affero_noreg.gif" /></a>
{SECTION: END}

{SECTION: dpmsg_buddy_link_remove_lnk}
{ROOT}?t=buddy_list&amp;del={VAR: obj->user_id}&amp;redr=1&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_buddy_link_remove add this user to your buddy list link}
<br />[<a href="{TEMPLATE: dpmsg_buddy_link_remove_lnk}" class="GenLink">{MSG: remove_from_buddy_list}</a>]
{SECTION: END}
