/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: drawmsg.tmpl,v 1.67 2004/04/27 00:15:09 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: drawmsg.inc.t; output: drawmsg.inc;}
{REF: fileio.tmpl}
{REF: alt_var.tmpl}
{REF: imsg.tmpl}

{SECTION: dmsg_prev_message previous page arrow drawn on the message}
<a href="javascript://" onClick="chng_focus(\'#msg_num_{VAR: msg_num}\');"><img alt="{MSG: goto_prev_msg}" title="{MSG: goto_prev_msg}" src="{THEME_IMAGE_ROOT}/up.png" width=16 height=11 /></a>
{SECTION: END}

{SECTION: dmsg_prev_message_prev_page_lnk}
{ROOT}?t={VAR: _GET['t']}&amp;{DEF: _rsid}&amp;prevloaded=1&amp;th={VAR: obj->thread_id}&amp;start={VAR: msg_start}{DEF: reveal_lnk}{DEF: unignore_tmp}
{SECTION: END}

{SECTION: dmsg_prev_message_prev_page previous page arrrow drawn on the message}
<a href="{TEMPLATE: dmsg_prev_message_prev_page_lnk}"><img src="{THEME_IMAGE_ROOT}/up.png" title="{MSG: goto_prev_msg}" alt="{MSG: goto_prev_msg}" width=16 height=11 /></a>
{SECTION: END}

{SECTION: dmsg_tree_prev_message_prev_page_lnk}
{ROOT}?t={VAR: _GET['t']}&amp;{DEF: _rsid}&amp;th={VAR: obj->thread_id}&amp;mid={VAR: misc[0]}
{SECTION: END}

{SECTION: dmsg_tree_prev_message_prev_page previous page (tree view) arrrow drawn on the message}
<a href="{TEMPLATE: dmsg_tree_prev_message_prev_page_lnk}"><img src="{THEME_IMAGE_ROOT}/up.png" title="{MSG: goto_prev_msg}" alt="{MSG: goto_prev_msg}" width=16 height=11 /></a>
{SECTION: END}

{SECTION: dmsg_next_message next message arrow drawn on the message}
<a href="javascript://" onClick="chng_focus(\'#msg_num_{VAR: msg_num}\');"><img alt="{MSG: goto_next_msg}" title="{MSG: goto_next_msg}" src="{THEME_IMAGE_ROOT}/down.png" width=16 height=11 /></a>
{SECTION: END}

{SECTION: dmsg_next_message_next_page_lnk}
{ROOT}?t={VAR: _GET['t']}&amp;{DEF: _rsid}&amp;prevloaded=1&amp;th={VAR: obj->thread_id}&amp;start={VAR: msg_start}{DEF: reveal_lnk}{DEF: unignore_tmp}
{SECTION: END}

{SECTION: dmsg_next_message_next_page next page arrow drawn on the message}
<a href="{TEMPLATE: dmsg_next_message_next_page_lnk}"><img alt="{MSG: goto_prev_msg}" title="{MSG: goto_next_msg}" src="{THEME_IMAGE_ROOT}/down.png" width=16 height=11 /></a>
{SECTION: END}

{SECTION: dmsg_tree_next_message_next_page_lnk}
{ROOT}?t={VAR: _GET['t']}&amp;{DEF: _rsid}&amp;th={VAR: obj->thread_id}&amp;mid={VAR: misc[1]}
{SECTION: END}

{SECTION: dmsg_tree_next_message_next_page next page (tree view) arrow drawn on the message}
<a href="{TEMPLATE: dmsg_tree_next_message_next_page_lnk}"><img alt="{MSG: goto_prev_msg}" title="{MSG: goto_next_msg}" src="{THEME_IMAGE_ROOT}/down.png" width=16 height=11 /></a>
{SECTION: END}

{SECTION: dmsg_ignored_user_message_regged}
{MSG: ignored_user_post}&nbsp;
{SECTION: END}

{SECTION: dmsg_ignored_user_message_anon}
{MSG: ignored_anon_post}&nbsp;
{SECTION: END}

{SECTION: dmsg_ignored_user_message_lnk}
{ROOT}?t=ignore_list&amp;del={VAR: obj->poster_id}&amp;redr=1&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: dmsg_ignored_user_message_lnk2}
{ROOT}?{VAR: rev_url}
{SECTION: END}

{SECTION: dmsg_ignored_user_message_lnk3}
{ROOT}?{VAR: un_ignore_url}
{SECTION: END}

{SECTION: dmsg_ignored_user_message ignored message row (this gets draw if this message is ignored due to ignored user)}
<tr><td><table border=0 cellspacing=0 cellpadding=0 class="MsgTable"><tr><td class="MsgIg al">
<a name="msg_num_{VAR: m_num}"></a>
<a name="msg_{VAR: obj->id}"></a>
{VAR: user_login_td}
[<a href="{TEMPLATE: dmsg_ignored_user_message_lnk2}">{MSG: reveal_post}</a>]&nbsp;
[<a href="{TEMPLATE: dmsg_ignored_user_message_lnk3}">{MSG: reveal_all_posts}</a>]&nbsp;
[<a href="{TEMPLATE: dmsg_ignored_user_message_lnk}">{MSG: stop_ignoring}</a>]</td>
<td class="MsgIg" align="right">{TEMPLATE-DATA: prev_message}{TEMPLATE-DATA: next_message}</td></tr>
</table></td></tr>
{SECTION: END}

{SECTION: dmsg_ignored_user_message_static used as ignore message row on the post form in the thread preview}
<tr class="MsgR1 GenText">
<td><a name="msg_num_{VAR: m_num}"></a> <a name="msg_{VAR: obj->id}"></a>Post by {VAR: user_login} is ignored&nbsp;</td>
</tr>
{SECTION: END}

{SECTION: dmsg_online_indicator}
<img src="{THEME_IMAGE_ROOT}/online.png" alt="{MSG: user_online}" title="{MSG: user_online}" />&nbsp;
{SECTION: END}

{SECTION: dmsg_offline_indicator}
<img src="{THEME_IMAGE_ROOT}/offline.png" alt="{MSG: user_offline}" title="{MSG: user_offline}" />&nbsp;
{SECTION: END}

{SECTION: dmsg_level_image}
&nbsp;<img src="images/{VAR: obj->level_img}" alt="" />
{SECTION: END}

{SECTION: dmsg_avatar}
<td class="avatarPad wo">{VAR: obj->avatar_loc}{TEMPLATE-DATA: level_image}</td>
{SECTION: END}

{SECTION: dmsg_reg_user_link_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_reg_user_link}
<a href="{TEMPLATE: dmsg_reg_user_link_lnk}">{VAR: user_login}</a>
{SECTION: END}

{SECTION: dmsg_reg_user_no_link}
{VAR: user_login}
{SECTION: END}

{SECTION: dmsg_anon_user}
{VAR: user_login}
{SECTION: END}

{SECTION: dmsg_user_info}
<br /><b>{MSG: posts_c}</b> {VAR: obj->posted_msg_count}<br />
<b>{MSG: registered}</b> {DATE: obj->join_date %B %Y}
{TEMPLATE-DATA: location}
{SECTION: END}

{SECTION: dmsg_anon_info}
{SECTION: END}

{SECTION: dmsg_ip_address_url}
{ROOT}?t=ip&amp;ip={VAR: obj->ip_addr}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_ip_address}
<b>IP:</b> <a href="{TEMPLATE: dmsg_ip_address_url}" target="_blank">{VAR: obj->ip_addr}</a>
{SECTION: END}

{SECTION: dmsg_host_name}
<b>{MSG: from}</b> {VAR: obj->host_name}<br />
{SECTION: END}

{SECTION: dmsg_location}
<br /><b>{MSG: location} </b>{VAR: location}
{SECTION: END}

{SECTION: dmsg_no_location}
{SECTION: END}

{SECTION: dmsg_tags}
<div class="ctags">{VAR: level_name}{VAR: custom_tag}</div>
{SECTION: END}

{SECTION: dmsg_custom_tags}
<br />{VAR: obj->custom_status}
{SECTION: END}

{SECTION: dmsg_no_custom_tags}
{SECTION: END}

{SECTION: dmsg_msg_icon}
<img src="images/message_icons/{VAR: obj->icon}" alt="{VAR: obj->icon}" />&nbsp;&nbsp;
{SECTION: END}

{SECTION: dmsg_no_msg_icon}
{SECTION: END}

{SECTION: dmsg_buddy_link_add_lnk}
{ROOT}?t=buddy_list&amp;add={VAR: obj->user_id}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: dmsg_bd_il}
{TEMPLATE-DATA: buddy_link}{TEMPLATE-DATA: ignore_link}<br />
{SECTION: END}

{SECTION: dmsg_buddy_link_add add this user to your buddy list link}
<a href="{TEMPLATE: dmsg_buddy_link_add_lnk}">{MSG: add_to_buddy_list}</a><br />
{SECTION: END}

{SECTION: dmsg_buddy_link_remove_lnk}
{ROOT}?t=buddy_list&amp;del={VAR: obj->user_id}&amp;redr=1&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: dmsg_buddy_link_remove add this user to your buddy list link}
<a href="{TEMPLATE: dmsg_buddy_link_remove_lnk}">{MSG: remove_from_buddy_list}</a><br />
{SECTION: END}

{SECTION: dmsg_remove_user_ignore_list_lnk}
{ROOT}?t=ignore_list&amp;del={VAR: obj->user_id}&amp;redr=1&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: dmsg_remove_user_ignore_list remove user from ignore list link}
<a href="{TEMPLATE: dmsg_remove_user_ignore_list_lnk}">{MSG: un_ignore_user}</a>
{SECTION: END}

{SECTION: dmsg_add_user_ignore_list_lnk}
{ROOT}?t=ignore_list&amp;add={VAR: obj->user_id}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: dmsg_add_user_ignore_list add user to ignore list link}
<a href="{TEMPLATE: dmsg_add_user_ignore_list_lnk}">{MSG: ignore_user}</a>
{SECTION: END}

{SECTION: dmsg_im_icq_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: obj->poster_id}&amp;{DEF: _rsid}#icq_msg
{SECTION: END}

{SECTION: dmsg_im_icq}
<a href="{TEMPLATE: dmsg_im_icq_lnk}"><img title="{VAR: obj->icq}" src="{THEME_IMAGE_ROOT}/icq.png" alt="" /></a>
{SECTION: END}

{SECTION: dmsg_im_aim}
<a href="aim:goim?screenname={VAR: obj->aim}&amp;message=Hi.+Are+you+there?" target="_blank"><img alt="" src="{THEME_IMAGE_ROOT}/aim.png" title="{VAR: obj->aim}" /></a>
{SECTION: END}

{SECTION: dmsg_im_yahoo}
<a target="_blank" href="http://edit.yahoo.com/config/send_webmesg?.target={VAR: obj->yahoo}&amp;.src=pg"><img alt="" src="{THEME_IMAGE_ROOT}/yahoo.png" title="{VAR: obj->yahoo}" /></a>
{SECTION: END}

{SECTION: dmsg_im_msnm}
<a href="mailto: {VAR: obj->msnm}"><img alt="" src="{THEME_IMAGE_ROOT}/msnm.png" title="{VAR: obj->msnm}" /></a>
{SECTION: END}

{SECTION: dmsg_im_jabber}
<img src="{THEME_IMAGE_ROOT}/jabber.png" title="{VAR: obj->jabber}" alt="" />
{SECTION: END}

{SECTION: dmsg_poll_option}
<tr class="{ALT-VAR: msg_poll_alt_clr RowStyleB RowStyleA}"><td>{VAR: i}.</td><td colspan=2><input type="radio" name="poll_opt" value="{VAR: k}">&nbsp;&nbsp;{VAR: v[0]}</td></tr>
{SECTION: END}

{SECTION: dmsg_poll_result}
<tr class="{ALT-VAR: msg_poll_alt_clr RowStyleB RowStyleA}"><td>{VAR: i}.</td><td>{VAR: v[0]}</td><td><img src="{THEME_IMAGE_ROOT}/poll_pix.gif" alt="" height="10" width="{VAR: length}" /> {VAR: v[1]} / {VAR: length}%</td></tr>
{SECTION: END}

{SECTION: dmsg_poll_buttons}
<tr class="{ALT-VAR: msg_poll_alt_clr RowStyleB RowStyleA} ar"><td colspan=3>{TEMPLATE: dmsg_vote_button}&nbsp;{TEMPLATE-DATA: view_poll_results_button}</td></tr>
{SECTION: END}

{SECTION: dmsg_vote_button}
<input type="submit" class="button" name="pl_vote" value="{MSG: vote_button}">
{SECTION: END}

{SECTION: dmsg_view_poll_results_button}
<input type="submit" class="button" name="pl_res" value="{MSG: view_results}">
{SECTION: END}

{SECTION: mini_dmsg_poll}
<p><table cellspacing=1 cellpadding=2 class="PollTable">
<tr><th class="nw" colspan=3>{VAR: obj->poll_name}<span class="vt">[ {MSG: num_votes} ]</span></th></tr>
{TEMPLATE-DATA: poll_data}
</table><p>
{SECTION: END}

{SECTION: dmsg_poll_lnk}
{ROOT}?{VAR: _SERVER['QUERY_STRING']}#msg_{VAR: obj->id}
{SECTION: END}

{SECTION: dmsg_poll}
<p>
<form action="{TEMPLATE: dmsg_poll_lnk}" method="post">{DEF: _hs}
<table cellspacing=1 cellpadding=2 class="PollTable">
<tr><th class="nw" colspan=3>{VAR: obj->poll_name}<font class="ptp">[ {MSG: num_votes} ]</font></th></tr>
{TEMPLATE-DATA: poll_data}
{TEMPLATE-DATA: poll_buttons}
</table><input type="hidden" name="pl_view" value="{VAR: obj->poll_id}"></form><p>
{SECTION: END}

{SECTION: dmsg_drawmsg_file_attachments the file attachments list}
<p />
<ul class="AttachmentsList">
{TEMPLATE-DATA: drawmsg_file_attachments}
</ul>
{SECTION: END}

{SECTION: dmsg_drawmsg_file_attachment_lnk}
{ROOT}?t=getfile&amp;id={VAR: v[0]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_drawmsg_file_attachment file attachment entry row}
<li />
<a href="{TEMPLATE: dmsg_drawmsg_file_attachment_lnk}"><img alt="" src="images/mime/{VAR: v[4]}" class="at" /></a>
<font class="GenText fb">{MSG: attachment}</font> <a href="{TEMPLATE: dmsg_drawmsg_file_attachment_lnk}">{VAR: v[1]}</a><br />
<font class="SmallText">({MSG: size} {VAR: sz}, {MSG: download_counter})<p /></font>
{SECTION: END}

{SECTION: dmsg_modified_message_mod modified message indicator}
<p>[{MSG: updated_on} {DATE: obj->update_stamp %a, %d %B %Y %H:%M}] {MSG: by_mod}
{SECTION: END}

{SECTION: dmsg_modified_message modified by the moderator message}
<p>[{MSG: updated_on} {DATE: obj->update_stamp %a, %d %B %Y %H:%M}]
{SECTION: END}

{SECTION: dmsg_signature}
<p /><hr class="sig" />{VAR: obj->sig}
{SECTION: END}

{SECTION: dmsg_report_to_mod_link_lnk}
{ROOT}?t=report&amp;msg_id={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_report_to_mod_link}
<div class="ar"><a href="{TEMPLATE: dmsg_report_to_mod_link_lnk}">{MSG: report_to_mod}</a></div>
{SECTION: END}

{SECTION: dmsg_user_profile_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_user_profile}
<a href="{TEMPLATE: dmsg_user_profile_lnk}"><img alt="" src="{THEME_IMAGE_ROOT}/msg_about.gif" /></a>
{SECTION: END}

{SECTION: dmsg_email_link_lnk}
{ROOT}?t=email&amp;toi={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_email_link}
<a href="{TEMPLATE: dmsg_email_link_lnk}"><img alt="" src="{THEME_IMAGE_ROOT}/msg_email.gif" /></a>
{SECTION: END}

{SECTION: dmsg_private_msg_link_lnk}
{ROOT}?t=ppost&amp;toi={VAR: obj->user_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_private_msg_link}
<a href="{TEMPLATE: dmsg_private_msg_link_lnk}"><img alt="{MSG: send_pm_desc}" title="{MSG: send_pm_desc}" src="{THEME_IMAGE_ROOT}/msg_pm.gif" /></a>
{SECTION: END}

{SECTION: dmsg_next_msg_page_lnk}
{ROOT}?t={VAR: _GET['t']}&amp;{DEF: _rsid}&amp;prevloaded=1&amp;th={VAR: obj->thread_id}&amp;start={VAR: msg_start}{DEF: reveal_lnk}{DEF: unignore_tmp}
{SECTION: END}

{SECTION: dmsg_next_msg_page next page link that appears in the message}
<a href="{TEMPLATE: dmsg_next_msg_page_lnk}">{MSG: next_page} <img src="{THEME_IMAGE_ROOT}/goto.gif" alt="" /></a>
{SECTION: END}

{SECTION: dmsg_no_next_msg_page}
&nbsp;
{SECTION: END}

{SECTION: dmsg_delete_link_lnk}
{ROOT}?t=mmod&amp;del={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_delete_link}
<a href="{TEMPLATE: dmsg_delete_link_lnk}"><img alt="" src="{THEME_IMAGE_ROOT}/msg_delete.gif" /></a>&nbsp;
{SECTION: END}

{SECTION: dmsg_edit_link_lnk}
{ROOT}?t=post&amp;msg_id={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_edit_link}
<a href="{TEMPLATE: dmsg_edit_link_lnk}"><img alt="" src="{THEME_IMAGE_ROOT}/msg_edit.gif" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
{SECTION: END}

{SECTION: dmsg_reply_link_lnk}
{ROOT}?t=post&amp;reply_to={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_reply_link}
<a href="{TEMPLATE: dmsg_reply_link_lnk}"><img alt="" src="{THEME_IMAGE_ROOT}/msg_reply.gif" /></a>&nbsp;
{SECTION: END}

{SECTION: dmsg_quote_link_lnk}
{ROOT}?t=post&amp;reply_to={VAR: obj->id}&amp;quote=true&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: dmsg_quote_link}
<a href="{TEMPLATE: dmsg_quote_link_lnk}"><img alt="" src="{THEME_IMAGE_ROOT}/msg_quote.gif" /></a>
{SECTION: END}

{SECTION: dmsg_message_toolbar message toolbar, normally contains post/quote type buttons}
<tr><td colspan="2" class="MsgToolBar"><table border=0 cellspacing=0 cellpadding=0 class="wa"><tr>
<td class="al nw">{TEMPLATE-DATA: user_profile}&nbsp;{TEMPLATE-DATA: email_link}&nbsp;{TEMPLATE-DATA: private_msg_link}</td>
<td class="GenText wa ac">{TEMPLATE-DATA: next_page}</td>
<td class="nw ar">{TEMPLATE-DATA: delete_link}{TEMPLATE-DATA: edit_link}{TEMPLATE-DATA: reply_link}{TEMPLATE-DATA: quote_link}</td>
</tr></table></td></tr>
{SECTION: END}

{SECTION: dmsg_normal_message_body}
<font class="MsgBodyText">{VAR: msg_body}</font>
{SECTION: END}

{SECTION: dmsg_short_message_body_lnk}
{ROOT}?{VAR: rev_url}
{SECTION: END}

{SECTION: dmsg_short_message_body}
<font class="MsgBodyText">{VAR: msg_body}</font>
<br /><div class="ac">[<a href="{TEMPLATE: dmsg_short_message_body_lnk}">{MSG: drawmsg_view_rest_post}</a>]</div>
{SECTION: END}

{SECTION: dmsg_im_row a row displaying various instant messenger links}
{TEMPLATE-DATA: im_icq} {TEMPLATE-DATA: im_aim} {TEMPLATE-DATA: im_yahoo} {TEMPLATE-DATA: im_msnm} {TEMPLATE-DATA: im_jabber} {TEMPLATE-DATA: im_affero}<br />
{SECTION: END}

{MAIN_SECTION: message_entry Message Entry (a single message)}
<tr><td class="MsgSpacer"><table cellspacing=0 cellpadding=0 class="MsgTable">
<tr>
<td class="MsgR1 vt al MsgSubText"><a name="msg_num_{VAR: m_num}"></a><a name="msg_{VAR: obj->id}"></a>{TEMPLATE-DATA: msg_icon}{VAR: obj->subject}{TEMPLATE-DATA: rpl}</td>
<td class="MsgR1 vt ar"><font class="DateText">{DATE: obj->post_stamp %a, %d %B %Y %H:%M}</font> {TEMPLATE-DATA: prev_message}{TEMPLATE-DATA: next_message}</td>
</tr>
<tr class="MsgR2"><td class="MsgR2" colspan=2><table cellspacing="0" cellpadding="0" class="ContentTable">
<tr class="MsgR2">
{TEMPLATE-DATA: avatar}
<td class="msgud">{TEMPLATE-DATA: online_indicator}{TEMPLATE-DATA: user_link}{TEMPLATE-DATA: dmsg_user_info}</td>
<td class="msgud">{TEMPLATE-DATA: dmsg_tags}</td>
<td class="msgot">{TEMPLATE-DATA: dmsg_bd_il}{TEMPLATE-DATA: dmsg_im_row}{TEMPLATE-DATA: host_name}{TEMPLATE-DATA: ip_address}</td>
</tr></table></td>
</tr>
<tr><td colspan="2" class="MsgR3">
{TEMPLATE-DATA: poll}{TEMPLATE-DATA: msg_body}{TEMPLATE-DATA: drawmsg_file_attachments}
{TEMPLATE-DATA: modified_message}{TEMPLATE-DATA: signature}{TEMPLATE-DATA: report_to_mod_link}
</td></tr>
{TEMPLATE-DATA: message_toolbar}
</table></td></tr>
{MAIN_SECTION: END}

{SECTION: dmsg_no_msg_body}
{MSG: no_msg_body}
{SECTION: END}

{SECTION: drawmsg_affero_reg}
<a href="http://svcs.affero.net/rm.php?r={VAR: obj->affero}&amp;ll={VAR: obj->forum_id}.{VAR: GLOBALS['affero_domain']}&amp;lp={VAR: obj->forum_id}.{VAR-URL: GLOBALS['affero_domain']['host']}&amp;ls={VAR-URL: obj->subject}" target=_blank><img alt="" src="{THEME_IMAGE_ROOT}/affero_reg.gif" /></a>
{SECTION: END}

{SECTION: drawmsg_affero_noreg}
<a href="http://svcs.affero.net/rm.php?m={VAR-URL: obj->email}&amp;ll={VAR: obj->forum_id}.{VAR: GLOBALS['affero_domain']}&amp;lp={VAR: obj->forum_id}.{VAR-URL: GLOBALS['affero_domain']['host']}&amp;ls={VAR-URL: obj->subject}" target=_blank><img alt="" src="{THEME_IMAGE_ROOT}/affero_noreg.gif" /></a>
{SECTION: END}

{SECTION: dmsg_reply_to_lnk}
{ROOT}?t={VAR: lnk}&amp;{DEF: _rsid}&amp;th={VAR: obj->thread_id}&amp;goto={VAR: obj->reply_to}
{SECTION: END}

{SECTION: dmsg_reply_to}
<font class="small"> [{TEMPLATE: dmsg_num} <a href="{TEMPLATE: dmsg_reply_to_lnk}" class="small">{MSG: dmsg_reply_to}</a> ]</font>
{SECTION: END}

{SECTION: dmsg_num}
{MSG: dmsg_num}
{SECTION: END}

{SECTION: dmsg_num_wrap}
<font class="small"> [{TEMPLATE: dmsg_num}]</font>
{SECTION: END}
