/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: email.tmpl,v 1.24 2006/09/05 12:51:53 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License.
**/

{PHP_FILE: input: email.php.t; output: email.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: usercp.tmpl}
{REF: iemail.tmpl}
{REF: rev_fmt.tmpl}
{REF: admincp.tmpl}
{REF: curtime.tmpl}
{REF: return.tmpl}
{REF: stats.tmpl}
{REF: allowed_user_lnk.tmpl}

{SECTION: email_error_text}
<br /><span class="ErrorText">{VAR: GLOBALS['_ERROR_'][$type]}</span>
{SECTION: END}

{PAGE: EMAIL_PAGE}
{TEMPLATE: header}
{TEMPLATE: usercp}
<form method="post" name="frme" action="{TEMPLATE: EMAIL_PAGE_lnk3}">
<div class="ctb"><table cellspacing="1" cellpadding="2" class="MiniTable">
<tr><th colspan=2>{MSG: email_pg_title}</th></tr>
<tr class="RowStyleB"><td class="GenText nw">{MSG: email_to} {FUNC: get_err('tx_name')}</td><td class="RowStyleA wa"><input type="text" name="tx_name" value="{VAR-HTML: tx_name}"></td></tr>
<tr class="RowStyleB"><td class="GenText nw">{MSG: email_subject} {FUNC: get_err('tx_subject')}</td><td class="RowStyleA wa"><input type="text" tabindex="1" name="tx_subject" value="{IF: isset($_POST['tx_subject'])}{VAR-HTML: _POST['tx_subject']}{ENDIF}"></td></tr>
<tr class="RowStyleB"><td class="GenText nw vt">{MSG: email_body} {FUNC: get_err('tx_body')}</td><td class="RowStyleA wa"><textarea tabindex="2" name="tx_body" cols=40 rows=20>{IF: isset($_POST['tx_body'])}{VAR-HTML: _POST['tx_body']}{ENDIF}</textarea></td></tr>
<tr class="RowStyleC"><td class="ar" colspan=2><input type="submit" class="button" name="btn_submit" tabindex="3" value="{MSG: email_submit}"></td></tr>
</table></div>{DEF: _hs}</form>
<script language="javascript" type="text/javascript">
<!--
document.frme.tx_subject.focus();
//-->
</script>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: email_err_unabletoemail_title}
{MSG: email_err_unabletoemail_title}
{SECTION: END}

{SECTION: email_err_unabletoemail_msg}
{MSG: email_err_unabletoemail_msg}
{SECTION: END}

{SECTION: email_error_body}
{MSG: email_error_body}
{SECTION: END}

{SECTION: email_error_subject}
{MSG: email_error_subject}
{SECTION: END}

{SECTION: email_error_namerequired}
{MSG: email_error_namerequired}
{SECTION: END}

{SECTION: email_error_invaliduser}
{MSG: email_error_invaliduser}
{SECTION: END}

{SECTION: email_error_unabletolocaddr}
{MSG: email_error_unabletolocaddr}
{SECTION: END}

{SECTION: email_title}
{MSG: email_title}
{SECTION: END}

{SECTION: EMAIL_PAGE_lnk3}
{ROOT}?t=email
{SECTION: END}
