/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: err.tmpl,v 1.16 2006/09/05 12:51:53 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License.
**/

{PHP_FILE: input: err.inc.t; output: err.inc;}

{SECTION: ERR_login_msg}
{MSG: ERR_login_msg2}
{SECTION: END}

{SECTION: ERR_disabled_ttl}
{MSG: ERR_disabled_ttl}
{SECTION: END}

{SECTION: ERR_disabled_msg}
{MSG: ERR_disabled_msg}
{SECTION: END}

{SECTION: ERR_access_ttl}
{MSG: ERR_access_ttl}
{SECTION: END}

{SECTION: ERR_access_msg}
{MSG: ERR_access_msg}
{SECTION: END}

{SECTION: ERR_registration_disabled_ttl}
{MSG: ERR_registration_disabled_ttl}
{SECTION: END}

{SECTION: ERR_registration_disabled_msg}
{MSG: ERR_registration_disabled_msg}
{SECTION: END}

{SECTION: ERR_user_ttl}
{MSG: ERR_user_ttl}
{SECTION: END}

{SECTION: ERR_user_msg}
{MSG: ERR_user_msg}
{SECTION: END}

{SECTION: ERR_systemerr_ttl}
{MSG: ERR_systemerr_ttl}
{SECTION: END}

{SECTION: ERR_systemerr_msg}
{MSG: ERR_systemerr_msg}
{SECTION: END}

{SECTION: ERR_emailconf_ttl}
{MSG: ERR_emailconf_ttl}
{SECTION: END}

{SECTION: ERR_emailconf_msg}
{MSG: ERR_emailconf_msg}
{SECTION: END}

{SECTION: err_inc_criticaltitle}
{MSG: err_inc_criticaltitle}
{SECTION: END}

{SECTION: err_inc_criticalmsg}
{MSG: err_inc_criticalmsg}
{SECTION: END}

{SECTION: core_err_invinp_title}
{MSG: core_err_invinp_title}
{SECTION: END}

{SECTION: core_err_invinp_err}
{MSG: core_err_invinp_err}
{SECTION: END}

{SECTION: permission_denied_title}
{MSG: permission_denied_title}
{SECTION: END}

{SECTION: permission_denied_msg}
{MSG: permission_denied_msg}
{SECTION: END}
