/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: errmsg.tmpl,v 1.13 2009/10/25 20:00:18 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: errmsg.inc.t; output: errmsg.inc;}

{SECTION: errmsg_CHARSET}
{CHARSET}
{SECTION: END}

{SECTION: core_adm_login_msg}
<br /><br />{MSG: core_adm_login_msg}
{SECTION: END}

{SECTION: install_script_present_error}
{MSG: install_script_present_error}
{SECTION: END}

{SECTION: forum_banned_user}
{MSG: forum_banned_user}
{SECTION: END}
