/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: error.tmpl,v 1.14 2007/01/01 18:23:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: error.php.t; output: error.php;}
{REF: security.tmpl}
{REF: return.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}

{PAGE: ERROR_PAGE a page where the users are taken to when they encounter a problem with the forum}
{TEMPLATE: header}
{TEMPLATE: usercp}
<div class="ctb">
<table cellspacing="1" cellpadding="2" class="DialogTable">
<tr><th>{VAR: error_title}</th></tr>
<tr class="RowStyleA"><td class="GenText ac">{VAR: error_message}
<br /><br /><form action="{TEMPLATE: ERROR_PAGE_lnk3}" name="error_frm" method="post">{DEF: _hs}<input type="submit" class="button" name="ok" value="OK"></form>
</td></tr>
</table></div>
{TEMPLATE: curtime}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: error_title}
{MSG: error_title}
{SECTION: END}

{SECTION: error_invalidurl}
{MSG: error_invalidurl}
{SECTION: END}

{SECTION: error_error}
{MSG: error_error}
{SECTION: END}

{SECTION: ERROR_PAGE_lnk3}
{ROOT}?t=error
{SECTION: END}
