/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: finduser.tmpl,v 1.44 2005/07/25 23:21:47 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: finduser.php.t; output: finduser.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: rev_fmt.tmpl}
{REF: alt_var.tmpl}

{PAGE: FINDUSER_PAGE user search form}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<form method="get" name="fufrm" action="{TEMPLATE: FINDUSER_PAGE_lnk3}">{DEF: _hs}
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan="3">{MSG: finduser_user_info}</th></tr>
<tr class="RowStyleA"><td class="GenText">{MSG: finduser_by_login}</td><td class="GenText"><input type="text" name="usr_login" tabindex="1" value="{FUNC: char_fix(htmlspecialchars($usr_login))}"> <input type="submit" class="button" tabindex="2" name="btn_submit" value="{MSG: finduser_submit}"></td><td class="RowStyleC SmallText vt">{MSG: finduser_help}</td></tr>
</table><input type="hidden" name="t" value="finduser"></form>
<script>
<!--
document.fufrm.usr_login.focus();
//-->
</script>
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr>
<th class="wa"><a class="thLnk" href="{TEMPLATE: FINDUSER_PAGE_lnk}">{MSG: finduser_user}</a></th><th nowrap><a href="{TEMPLATE: FINDUSER_PAGE_lnk1}" class="thLnk">{MSG: finduser_postcount}</a></th><th nowrap><div align="center"><a href="{TEMPLATE: FINDUSER_PAGE_lnk2}" class="thLnk">{MSG: finduser_joindate}</a></div></th><th align="center">{MSG: finduser_action}</th>{IF: $is_a}{TEMPLATE: findu_admin_opts_header}{ENDIF}
</tr>
{TEMPLATE-DATA: find_user_data}
</table>
{TEMPLATE-DATA: pager}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: find_user_no_results}
<tr class="RowStyleA"><td colspan="{IF: $is_a}5{ELSE}4{ENDI}" class="wa GenText">{MSG: finduser_no_such_user}</td></tr>
{SECTION: END}

{SECTION: find_user_entry}
<tr class="{ALT-VAR: finduser_alt RowStyleA RowStyleB}"><td class="nw GenText"><a href="{TEMPLATE: find_user_entry_lnk}">{VAR: r->alias}</a>{IF: $r->users_opt & 131072}{ELSE}{TEMPLATE: findu_no_conf}{END}</td><td class="ac nw">{VAR: r->posted_msg_count}</td><td class="DateText nw">{TEMPLATE: finduser_join_date}</td><td class="nw GenText">{TEMPLATE: action_field}</td>{IF: $is_a}{TEMPLATE: findu_admin_opts}{ENDIF}</tr>
{SECTION: END}

{SECTION: action_field lists things that can be done with a user}
<a href="{TEMPLATE: action_field_lnk}"><img alt="" src="{THEME_IMAGE_ROOT}/show_posts.gif" /></a>
{IF: ($FUD_OPT_2 & 1073741824 && $r->users_opt & 16)}{TEMPLATE: email_link}{ENDIF}
{IF: ($FUD_OPT_1 & 1024 && _uid)}{TEMPLATE: pm_link}{ENDIF}
{IF: $r->home_page}{TEMPLATE: homepage_link}{ENDIF}
{SECTION: END}

{SECTION: pm_link}
<a href="{TEMPLATE: pm_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_pm.gif" alt="" /></a>
{SECTION: END}

{SECTION: homepage_link}
<a href="{VAR: r->home_page}" target="_blank"><img alt="" src="{THEME_IMAGE_ROOT}/homepage.gif" /></a>
{SECTION: END}

{SECTION: email_link}
<a href="{TEMPLATE: email_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_email.gif" alt="" /></a>
{SECTION: END}

{SECTION: finduser_title}
{MSG: finduser_title}
{SECTION: END}

{SECTION: finduser_update}
{MSG: finduser_update}
{SECTION: END}

{SECTION: findu_admin_opts_header}
<th nowrap>{MSG: findu_admin_opts_header}</th>
{SECTION: END}

{SECTION: findu_unban}
<a href="{GVAR: WWW_ROOT}adm/admuser.php?act=block&amp;usr_id={VAR: r->id}&amp;S={DEF: s}&amp;SQ={GVAR: sq}">{MSG: findu_unban}</a>
{SECTION: END}

{SECTION: findu_ban}
<a href="{GVAR: WWW_ROOT}adm/admuser.php?act=block&amp;usr_id={VAR: r->id}&amp;S={DEF: s}&amp;SQ={GVAR: sq}">{MSG: findu_ban}</a>
{SECTION: END}

{SECTION: findu_admin_opts}
<td class="SmallText nw"><a href="{GVAR: WWW_ROOT}adm/admuser.php?usr_id={VAR: r->id}&amp;S={DEF: s}&amp;act=1&amp;SQ={GVAR: sq}">{MSG: findu_edit}</a> || <a href="{GVAR: WWW_ROOT}adm/admuser.php?usr_id={VAR: r->id}&amp;S={DEF: s}&amp;act=del&amp;SQ={GVAR: sq}">{MSG: findu_delete}</a> || {IF: $r->users_opt & 65536}{TEMPLATE: findu_unban}{ELSE}{TEMPLATE: findu_ban}{END}</td>
{SECTION: END}

{SECTION: find_user_entry_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: r->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: pm_link_lnk}
{ROOT}?t=ppost&amp;{DEF: _rsid}&amp;toi={VAR: r->id}
{SECTION: END}

{SECTION: email_link_lnk}
{ROOT}?t=email&amp;toi={VAR: r->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: FINDUSER_PAGE_lnk}
{ROOT}?t=finduser&amp;usr_login={VAR-URL: usr_login}&amp;us=1&amp;btn_submit=Find&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: FINDUSER_PAGE_lnk1}
{ROOT}?t=finduser&amp;usr_login={VAR-URL: usr_login}&amp;{DEF: _rsid}&amp;pc=1&amp;btn_submit=Find
{SECTION: END}

{SECTION: FINDUSER_PAGE_lnk2}
{ROOT}?t=finduser&amp;usr_login={VAR-URL: usr_login}&amp;{DEF: _rsid}&amp;btn_submit=Find
{SECTION: END}

{SECTION: action_field_lnk}
{ROOT}?t=showposts&amp;id={VAR: r->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: FINDUSER_PAGE_lnk3}
{ROOT}
{SECTION: END}

{SECTION: findu_no_conf}
&nbsp;&nbsp;({MSG: findu_no_conf})
{SECTION: END}
