/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: forum.css.tmpl,v 1.51 2004/04/20 18:12:18 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: forum.css.t; output: forum.css;}

{PAGE: FORUM_CSS forum's css styles}
body { 
	background: #E5E5E5;
	margin: 2px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 12px;
}

text,	.ForumBackground, a:link, a:visited, a:active, a.CatLink, .CatDesc, a.UserControlPanel, .CatLockedName, .GenText, 
	.GenTextRed, .ErrorText, .SmallText, .DateText, .TopBy, th, a.thLnk:link, a.thLnk:active, a.thLnk:visited, 
	a.thLnk:active, .RowStyleA, .RowStyleB, .RowStyleC, .MsgToolBar, .PollTable, .MsgIg, td.miniMH,
	.ContentTable, .MsgTable, .DialogTable, .PreviewTable, .AnnonTable, .AnnText, td.NoAvatar, td.Av1, td.Av2, td.tabA,
	.AnnSubjText, a.PagerLink, .LevelText, .MsgSubText, .MsgBodyText, th.SelTS, th.SelFS, legend, td.tabH, div.tabT,
	.FormattingToolsBG, .FormattingToolsCLR, .MiniTable, .quote, .dashed, .adminColor, .modsColor, td.tabI, td.tabA:hover,
	.brdrNormal, .brdrSelected, input.button, form, img, .StClr, .AnClr, td.msgot, td.msgud, div.ctags, td.mvTc, td.pmNav,
	.ModOpt, .MsgR1, .MsgR2, .MsgR3, .mnavMsg, .mnavWarnTbl, .manvNoRes, font.lg, td.tt, table.tt, tr.tab, table.tab,
	a.big:link, a.big:active, a.big:visited, .small, a.small:link, a.small:active, a.small:visited, td.rpasswdE, .curtime,
	font.anon, font.reg, td.permYES, td.permNO, td.repI, div.UserControlPanel, font.selmsgInd, fieldset
{
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 12px;
}

text, .GenText {
	color: black;
}

.ForumBackground {
	background: #FFFFFF;
	border: 1px solid #AEBDC4;
}

a:link, a:visited, a:active, a.PagerLink {
	color: #006699;
	text-decoration: underline;
}

a.CatLink {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.CatDesc {
	color: #000000;
	height: 23px;
	background: url("{FULL_ROOT}{THEME_IMAGE_ROOT}/tableHeaderbg2.png");
}

a.UserControlPanel {
	color: #006699;
	text-decoration: none;
}

div.UserControlPanel {
	margin-bottom: 5px;
	text-align: right;
}

.CatLockedName {
	font-size: 12px;
	font-weight: bold;
}

.CatLockPad {
	padding-left: 20px;
}

.GenText, .MsgIg, td.repI {
	color: #000000;
}

.GenTextRed, .ErrorText {
	color: red;
}

.ErrorText, td.rpasswdE {
	font-weight: bold;
}

.SmallText, .DateText, .TopBy, td.msgud, td.msgot, td.permYES, td.permNO {
	color: #000000;
	font-size: 11px;
}

th {
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	height: 23px;
	vertical-align: middle;
	background: url("{FULL_ROOT}{THEME_IMAGE_ROOT}/tableHeaderbg.png");
}

a.thLnk:link, a.thLnk:active, a.thLnk:visited { 
	font-size: 12px;
	text-decoration: underline; 
	color: #EEEEEE;
}

a.thLnk:visited { 
	color: #C2CDD6;
}

.RowStyleA, td.tt {
	background: #eeeeee;
}

.RowStyleB, .curtime, fieldset {
	background: #dee2e6;
}

.RowStyleC {
	background: #c2cdd6;
}

.MsgToolBar {
	background: #DEE2E6;
	padding-left: 3px;
	padding-right: 3px;
}

.MsgSpacer {
	padding-bottom: 2px;
	padding-top: 2px;
}

.PollTable, .ContentTable, .MsgTable, .DialogTable, .PreviewTable, .AnnonTable { 
	background : #FFFFFF;
	border : 0px;
	padding : 0px;
	margin : 0px;
}

font.ptp { /* space between poll title & number of votes */
	font-size: smaller;
	padding-left: 10px;
}

.ContentTable, .AnnonTable, .MsgTable, table.pad {
	width : 100%;
}

.MsgTable {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid black;
}

.DialogTable { 
	width : 50%;
}

.PreviewTable {
	width: 75%;
}

.AnnText {
	color: #000000;
	background: #f5d300;
}

.AnnSubjText {
	font-weight: bold;
}

.LevelText, div.ctags {
	color: #000000;
	text-decoration: none;
}

.MsgSubText {
	font-weight: bold;
}

.MsgBodyText {
	font-size: 12px;
}

.FormattingToolsBG {
	background: #000000;
}

.FormattingToolsCLR {
	background: #FFFFFF;
}

.MiniTable {
	background: #FFFFFF;
	border : 0px;
	padding : 0px;
	margin : 0px;
}

.quote {
	color: #444444;
	background: #FAFAFA;
	border: 1px solid #c2cdd6;
}

.dashed {
	border: 1px dashed #1B7CAD;
}

.adminColor {
	font-weight: bold;
	color: #FF0000;
}

.modsColor {
	color: #00BB00;
	font-weight: bold;
}

.brdrNormal, td.tabItop, td.tabImid, td.tabIbot {
	border: #000000;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	background-repeat: repeat;
	background-position: top;
}

.brdrSelected, td.tabAmid, td.tabAmid, td.tabAbot {
	border: #000000;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	background-repeat: repeat;
	background-position: top;
}

input.button {
        background: #EEEEEE;
	color: #000000;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #B4B2B4 #444444 #444444 #B4B2B4;
	         
}

form {
	padding: 0px; 
	margin: 0px;
}	

img {
	border: 0px;
}

.StClr {
	font-weight: bold;
	color: green;
}

.AnClr {
	font-weight: bold;
	color: red;
}

.ModOpt {
	margin-top: 2px;
	font-size: 12px;
	text-align: right;
}

.TopBy {
	margin-top: 3px;
	margin-bottom: 0px;
	padding-right: 2px;
	text-align: right;
}

.MsgR2, .MsgR1, .MsgR3, .MsgIg {
	background: #DEE2E6;
	border-bottom: 1px solid #AAAAAA;
	padding: 1px;
}

.MsgIg {
	border: 0px;
}

.MsgR1 {
	background: #DEE2E6;
}

.MsgR3 {
	background: #F4F4F4;
}

.mnavMsg {
	border-bottom: 1px solid black;
	width : 100%;
}

.mnavWarnTbl {
	border: 1px dashed red;
}

.manvNoRes {
	border: 1px dashed blue;
}

font.lg {
	font-size: 12px;
}

td.tt {
	text-align: left;
	width: 100%;
	border-bottom: 1px solid white;
}

table.tt {
	width: 100%;
	padding: 1px;
	margin: 0px;
	text-align: center;
	border: 1px solid black;
}

a.big:link, a.big:active, a.big:visited {
	color: #006699;
	font-size: 13px;
}

.small, a.small:link, a.small:active, a.small:visited {
	font-size: 11px;
	font-weight: normal;
}

a.small:link, a.small:active, a.small:visited {
	color: #006699;
}

td.msgot, td.msgud {
	text-align: right;
	vertical-align: top;
	width: 33%;
	white-space: nowrap;
}

td.msgud {
	padding-right: 10px;
	text-align: left;
	width: 33%;
}

div.ctags {
	overflow: auto;
	white-space: nowrap;
	margin: 0px;
	padding: 2px;
	width: 100%;
	height: 36px;
}

legend {
	font-size: 13px;
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
}

th.SelTS, th.SelFS {
	padding: 2px;
	color: #FFFFFF;
}

th.SelFS {
	 border-bottom: 1px solid white;
	 color: #FFFFFF;
}

td.NoAvatar {
	background: #f4f4f4;	
	text-align: center;
}

td.Av1, td.Av2 {
	text-align: center;
	background: #f4f4f4;
	vertical-align: middle;
	white-space: nowrap;	
}

td.Av2 {
	background: #fefefe;
}

td.tabI, td.tabA, td.tabI:hover {
	background: #dee2e6;
        padding: 2px;
        border-top: 2px outset #dee2e6;
        border-right: 2px ridge #dee2e6;
        border-left: 2px outset #dee2e6;
}

td.tabI:hover, td.tabA {
	background: #333399;
}
                                                
div.tabT {
	padding: 1px;
        background: #c2cdd6;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid black;
}

tr.tab {
	border-bottom: 3px solid #dee2e6;
}

table.tab {
	border-bottom: 1px solid black;
}

.curtime {
        padding: 1px;
        border: 1px solid black;
	white-space: nowrap;
	vertical-align: middle;
	width: 300px;
}

td.rpasswdE {
	background: #ffffff;
	text-align: center;
}

td.pmSn {
	background: white;
}

td.pmSa {
	background: #fffa00;
}

td.pmSf {
	background: red;
}

table.pmDu {
	width: 175px;
	background-color: #FFFFFF;
	border: 1px #c2cdd6 solid;
}

td.mvTc {
	background: #e5ffe7;
}

td.pmNav {
	background: white;
	text-align: right;
}

td.miniMH {
	text-align: center;
}

tr.mnavH {
	background: #eeeeee;
}

tr.mnavM {
	background: #dee2e6;
}

table.regConf {
	width: 80%;
	border: 1px dashed #ff0000;
}

font.anon, font.reg {
	color: #00AA00;
}

td.permYES, td.permNO {
	text-align: center;
	color: red;
	white-space: nowrap;
}

td.permNO {
	color: blue;
}

font.regEW {
	font-size: xx-small;
	color: #005500;
	font-weight: bold;
}

td.repI {
	padding: 5px;
	padding-left: 20px;
}

table.pad {
	margin-top: 2px;
	margin-bottom: 2px;
}

font.selmsgInd {
	font-size: xx-small;
	font-weight: bold;
	text-decoration: none;
}
td.avatarPad {
	padding-right: 3px;
	vertical-align: top;
}

div.pre {
	font-family: monospace;
        padding: 5px;
        border: 1px blue dashed;
        font-size: 12px;
        white-space: pre;
        background: #FAFAFA;
}

a.big:active, a.big:hover, a:active, a:hover, a.CatLink:active, a.CatLink:hover, 
a.UserControlPanel:active, a.UserControlPanel:hover, a.thLnk:active, 
a.thLnk:hover, a.small:active, a.small:hover, a.PagerLink:active, a.PagerLink:hover {
	color: #DC143C;
}

img.l {
	float: left;
	clear: right;
	margin: 3px;
}

img.r {
	float: right;
	clear: left;
	margin: 3px;
}

.AttachmentsList {
	margin-left: 0px;
	list-style: none;
	margin-top: 10px;
	padding: 0px;
}

hr.sig {
	color: black;
	background-color: black;
	height: 1px;
	width: 175px;
	border: 0px;
	text-align: left;
	padding: 0px;
	margin: 0px;
}

/* The following are partial elements that are used to save space */
.wo { width:		1px; }
.wa { width:		100%; }
.al { text-align:	left; }
.ar { text-align:	right; }
.ac { text-align:	center; }
.vb { vertical-align:	bottom; }
.vt { vertical-align:	top; }
.vm { vertical-align:	middle; }
.nw { white-space: 	nowrap; }
.fb { font-weight:	bold; }
{PAGE: END}
