/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: forumsel.tmpl,v 1.4 2002/08/05 00:47:55 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: forumsel.inc.t; output: @forumsel.inc;}

{REF: allperms.tmpl}

{MAIN_SECTION: forum_select a drop down select of all the categories & forums}
<form action="{ROOT}?t={GVAR: t}" name="frmquicksel" method="post" style="padding: 0px; margin: 0px;">
<table border=0 cellspacing=0 cellpadding=1><tr><td class="GenText" valign="bottom">
<font class="SmallText"><b>{MSG: forumsel_goto_forum}</b><br /></font>
<select class="SmallText" name="dst_frm_id" onChange="javascript: if ( this.value==0 ) return false; document.frmquicksel.submit();">
{TEMPLATE-DATA: selection_options}
</select>
<input name="frm_id" type="hidden" value="{VAR: frm_id}">
<input name="start" type="hidden" value="{VAR: start}">
<input name="count" type="hidden" value="{VAR: count}">
<input name="th_id" type="hidden" value="{VAR: th_id}">
<input name="rid" type="hidden" value="{VAR: rid}">
{DEF: _hs}<input name="th" type="hidden" value="{VAR: th}">
</td><td valign="bottom"><input type="submit" class="button" name="frm_goto" value="{MSG: go}"></td></tr></table></form>
{MAIN_SECTION: END}

{SECTION: category_option}
<option value="0">{VAR: obj->cat_name}</option>
{SECTION: END}

{SECTION: forum_option}
<option value="{VAR: obj->id}"{VAR: selected}>&nbsp;&nbsp;&nbsp;&nbsp;{VAR-HTML: obj->name}</option>
{SECTION: END}

{SECTION: unread_forum_option}
<option value="{VAR: obj->id}"{VAR: selected}>&nbsp;&nbsp;&nbsp;&nbsp;{MSG: forumsel_unread} {VAR-HTML: obj->name}</option>
{SECTION: END}
