/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: forumsel.inc.t; output: @forumsel.inc;}

{MAIN_SECTION: forum_select a drop down select of all the categories & forums}
{IF: $frmcount > 1}
<span class="SmallText fb">{MSG: forumsel_goto_forum}</span>
<form action="{TEMPLATE: forum_select_lnk3}" id="frmquicksel" method="get">
<input type="hidden" name="t" value="{VAR: dest}" />{DEF: _hs}
<select class="SmallText" name="frm_id">
{TEMPLATE-DATA: selection_options}
</select>&nbsp;&nbsp;<input type="submit" class="button" name="frm_goto" value="{MSG: go}" /></form>
{ENDIF}
{MAIN_SECTION: END}

{SECTION: category_option}
<option disabled="disabled">- {FUNC: ($tabw = ($i[0] ? str_repeat('&nbsp;&nbsp;&nbsp;', $i[0]) : ''))}{VAR: i[1]}</option>
{SECTION: END}

{SECTION: forum_option}
<option value="{VAR: r[0]}"{FUNC: (isset($f[$r[0]]) ? ' selected="selected"' : '')}>{VAR: tabw}&nbsp;&nbsp;{VAR: r[1]}</option>
{SECTION: END}

{SECTION: forum_select_lnk3}
{ROOT}
{SECTION: END}
