/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: forum.css.tmpl,v 1.22 2003/10/28 02:00:39 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: forum.css.t; output: forum.css;}

{PAGE: FORUM_CSS forum's css styles}
body { 
	background: #E5E5E5;
	margin: 2px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
}

text,	.ForumBackground, a:link, a:visited, a:active, a.CatLink, .CatDesc, a.UserControlPanel, .CatLockedName, .GenText, .GenLink, 
	.GenTextRed, .ErrorText, .ErrorText, .SmallText, .DateText, .TopBy, th, a.thLnk:link, a.thLnk:active, a.thLnk:visited, 
	a.thLnk:active, a.thLnk:visited, .RowStyleA, .RowStyleB, .RowStyleC, .MsgToolBar, .PollTable, .MsgIg, 
	.ContentTable, .MsgTable, .DialogTable, .PreviewTable, .AnnonTable, .AnnText, td.NoAvatar, td.Av1, td.Av2, td.tabA,
	.AnnSubjText, .PagerLink, .LevelText, .MsgSubText, .MsgBodyText, th.SelTS, th.SelFS, div.LegendH, td.tabH, div.tabT,
	.FormattingToolsBG, .FormattingToolsCLR, .MiniTable, .quote, .dashed, .adminColor, .modsColor, td.tabI, td.tabA:hover,
	.brdrNormal, .brdrSelected, input.button, form, img, .StClr, .AnClr, td.msgot, td.msgud, div.ctags,
	.ModOpt, .MsgR1, .MsgR2, .MsgR3, .mnavMsg, .mnavWarnTbl, .manvNoRes, font.lg, td.tt, table.tt, tr.tab, table.tab,
	a.big:link, a.big:active, a.big:visited, .small, a.small:link, a.small:active, a.small:visited, td.rpasswdE, .curtime
{
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
}

.ForumBackground {
	background: #FFFFFF;
	border: 1px solid #AEBDC4;
}

a:link, a:visited {
	color: #006699;
	text-decoration: underline;
}

a:active {
	color: #C23030; 
	text-decoration: underline;
}

a.CatLink {
	font-size: 12px;
	text-decoration: none;
}

.CatDesc {
	color: #000000;
	background: url("{THEME_IMAGE_ROOT}/tableHeaderbg3.gif");
}

a.UserControlPanel {
	color: #006699;
	text-decoration: none;
}

.CatLockedName {
	font-size: 12px;
	font-weight: bold;
}

.GenText, .GenLink, .MsgIg {
	color: #000000;
}

.GenTextRed, .ErrorText {
	color: red;
}

.ErrorText, td.rpasswdE {
	font-weight: bold;
}

.SmallText, .DateText, .TopBy, td.msgud, td.msgot {
	color: #000000;
	font-size: 10px;
}

th {
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	background: url("{THEME_IMAGE_ROOT}/tableHeaderbg.gif");
}

a.thLnk:link, a.thLnk:active, a.thLnk:visited { 
	font-size: 11px;
	text-decoration: underline; 
	color: #EEEEEE;
}

a.thLnk:active { 
	color: #DEE2E6; 
}

a.thLnk:visited { 
	color: #C2CDD6;
}

.RowStyleA, td.tt {
	background: #eeeeee;
}

.RowStyleB, .curtime {
	background: #dee2e6;
}

.RowStyleC {
	background: #c2cdd6;
}

.MsgToolBar {
	background: #DEE2E6;
	padding-left: 3px;
	padding-right: 3px;
}

.MsgSpacer {
	padding-bottom: 2px;
	padding-top: 2px;
}

.PollTable, .ContentTable, .MsgTable, .DialogTable, .PreviewTable, .AnnonTable { 
	background : #FFFFFF;
	border : 0px;
	padding : 0px;
	margin : 0px;
}

.ContentTable, .AnnonTable, .MsgTable {
	width : 100%;
}

.MsgTable {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid black;
}

.DialogTable { 
	width : 50%;
}

.PreviewTable {
	width: 75%;
}

.AnnText {
	color: #000000;
	background: #f5d300;
}

.AnnSubjText {
	font-weight: bold;
}

.PagerLink {
	color: #000000;
	text-decoration: none;
}

.LevelText, div.ctags {
	color: #000000;
	text-decoration: none;
}

.MsgSubText {
	font-weight: bold;
}

.MsgBodyText {
	font-size: 12px;
}

.FormattingToolsBG {
	background: #000000;
}

.FormattingToolsCLR {
	background: #FFFFFF;
}

.MiniTable {
	background: #FFFFFF;
	border : 0px;
	padding : 0px;
	margin : 0px;
}

.quote {
	color: #444444;
	background: #FAFAFA;
	border: 1px solid #c2cdd6;
}

.dashed {
	border: 1px dashed #1B7CAD;
}

.adminColor {
	font-weight: bold;
	color: #FF0000;
}

.modsColor {
	color: #00BB00;
	font-weight: bold;
}

.brdrNormal, td.tabItop, td.tabImid, td.tabIbot {
	border: #000000;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	background-repeat: repeat;
	background-position: top;
}

.brdrSelected, td.tabAmid, td.tabAmid, td.tabAbot {
	border: #000000;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	background-repeat: repeat;
	background-position: top;
}

input.button {
        background: #EEEEEE;
	color: #000000;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #B4B2B4 #444444 #444444 #B4B2B4;
	         
}

form {
	padding: 0px; 
	margin: 0px;
}	

img {
	border: 0px;
}

.StClr {
	font-weight: bold;
	color: green;
}

.AnClr {
	font-weight: bold;
	color: red;
}

.ModOpt {
	margin-top: 2px;
	font-size: 11px;
	text-align: right;
}

.TopBy {
	margin-top: 3px;
	margin-bottom: 0px;
	padding-right: 2px;
	text-align: right;
}

.MsgR2, .MsgR1, .MsgR3, .MsgIg {
	background: #DEE2E6;
	border-bottom: 1px solid #AAAAAA;
	padding: 1px;
}

.MsgIg {
	border: 0px;
}

.MsgR1 {
	background: #DEE2E6;
}

.MsgR3 {
	background: #F4F4F4;
}

.mnavMsg {
	border-bottom: 1px solid black;
	width : 100%;
}

.mnavWarnTbl {
	border: 1px dashed red;
}

.manvNoRes {
	border: 1px dashed blue;
}

font.lg {
	font-size: 12px;
}

td.tt {
	text-align: left;
	width: 100%;
	border-bottom: 1px solid white;
}

table.tt {
	width: 100%;
	padding: 1px;
	margin: 0px;
	text-align: center;
	border: 1px solid black;
}

a.big:link, a.big:active, a.big:visited {
	font-size: 13px;
}

.small, a.small:link, a.small:active, a.small:visited {
	font-size: 10px;
	font-weight: normal;
}

td.msgot, td.msgud {
	text-align: right;
	vertical-align: top;
	width: 33%;
	white-space: nowrap;
}

td.msgud {
	padding-right: 10px;
	text-align: left;
	width: 33%;
}

div.ctags {
	overflow: auto;
	white-space: nowrap;
	margin: 0px;
	padding: 2px;
	width: 100%;
	height: 36px;
}

div.LegendH {
	border-bottom: 1px solid white;
	padding: 1px;
}

th.SelTS, th.SelFS {
	padding: 2px;
}

th.SelFS {
	 border-bottom: 1px solid white;
}

td.NoAvatar {
	background: #f4f4f4;	
	text-align: center;
}

td.Av1, td.Av2 {
	text-align: center;
	background: #f4f4f4;
	vertical-align: middle;
	white-space: nowrap;	
}

td.Av2 {
	background: #fefefe;
}

td.tabI, td.tabA, td.tabI:hover {
	background: #dee2e6;
        padding: 2px;
        border-top: 2px outset #dee2e6;
        border-right: 2px ridge #dee2e6;
        border-left: 2px outset #dee2e6;
}

td.tabI:hover, td.tabA {
	background: #333399;
}
                                                
div.tabT {
	padding: 1px;
        background: #c2cdd6;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid black;
}

tr.tab {
	border-bottom: 3px solid #dee2e6;
}

table.tab {
	border-bottom: 1px solid black;
}

.curtime {
        padding: 1px;
        border: 1px solid black;
	white-space: nowrap;
}

td.rpasswdE {
	background: #ffffff;
	text-align: center;
}

td.pmSn {
	background: white;
}

td.pmSa {
	background: #fffa00;
}

td.pmSf {
	background: red;
}

{PAGE: END}
