/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: forumsel.tmpl,v 1.18 2004/10/22 21:14:49 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: forumsel.inc.t; output: @forumsel.inc;}

{MAIN_SECTION: forum_select a drop down select of all the categories & forums}
<span class="SmallText fb">{MSG: forumsel_goto_forum}</span>
<form action="{TEMPLATE: forum_select_lnk3}" name="frmquicksel" method="get" onSubmit="javascript: if (document.frmquicksel.frm_id.value < 1) document.frmquicksel.frm_id.value={VAR: frm_id};">
<input type="hidden" name="t" value="{VAR: dest}">{DEF: _hs}<input type="hidden" name="forum_redr" value="1">
<select class="SmallText" name="frm_id" onChange="javascript: if ( this.value==0 ) return false; document.frmquicksel.submit();">
{TEMPLATE-DATA: selection_options}
</select>&nbsp;&nbsp;<input type="submit" class="button" name="frm_goto" value="{MSG: go}" ></form>
{MAIN_SECTION: END}

{SECTION: category_option}
<option value="0">- {FUNC: ($tabw = ($i[0] ? str_repeat('&nbsp;&nbsp;&nbsp;', $i[0]) : ''))}{VAR: i[1]}</option>
{SECTION: END}

{SECTION: forum_option}
<option value="{VAR: r[0]}"{FUNC: (isset($f[$r[0]]) ? ' selected' : '')}>{VAR: tabw}&nbsp;&nbsp;{VAR: r[1]}</option>
{SECTION: END}

{SECTION: forum_select_lnk3}
{ROOT}
{SECTION: END}
