/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: get_cur_ppage.tmpl,v 1.18 2006/09/19 14:37:56 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: get_cur_ppage.inc.t; output: get_cur_ppage.inc;}

{SECTION: writing_message}
{MSG: writing_pm}
{SECTION: END}

{SECTION: viewing_folder}
{MSG: browsing_folder}
{SECTION: END}

{SECTION: viewing_message}
<a href="{TEMPLATE: viewing_message_lnk}">{VAR: folders[$folder_id]}</a> &raquo; {VAR: msg_subject}
{SECTION: END}

{MAIN_SECTION: cur_ppage private messaging action indicator}
<span class="SmallText"><a href="{TEMPLATE: cur_ppage_lnk}">{MSG: cur_ppage_pm}</a>&nbsp;&raquo;&nbsp;{TEMPLATE-DATA: user_action}</span><br /><img src="blank.gif" alt="" height=4 width=1 /><br />
{MAIN_SECTION: END}

{SECTION: inbox}
{MSG: inbox}
{SECTION: END}

{SECTION: draft}
{MSG: draft}
{SECTION: END}

{SECTION: sent}
{MSG: sent}
{SECTION: END}

{SECTION: trash}
{MSG: trash}
{SECTION: END}

{SECTION: saved}
{MSG: saved}
{SECTION: END}

{SECTION: viewing_message_lnk}
{ROOT}?t=pmsg&amp;folder_id={VAR: folder_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: cur_ppage_lnk}
{ROOT}?t=pmsg&amp;{DEF: _rsid}
{SECTION: END}
