/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: get_cur_ppage.tmpl,v 1.4 2002/08/04 15:09:12 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: get_cur_ppage.inc.t; output: get_cur_ppage.inc;}

{SECTION: writing_message}
{MSG: writing_pm}
{SECTION: END}

{SECTION: viewing_folder}
{MSG: browsing_folder}
{SECTION: END}

{SECTION: viewing_message}
<a href="{ROOT}?t=pmsg&folder_id={VAR: folder_id}&{DEF: _rsid}" class="GenLink">{VAR: folder}</a> &raquo; {VAR: msg_subject}
{SECTION: END}

{MAIN_SECTION: cur_ppage private messaging action indicator}
<font class="SmallText"><a class="GenLink" href="{ROOT}?t=pmsg&{DEF: _rsid}">{MSG: cur_ppage_pm}</a>&nbsp;&raquo;&nbsp;{TEMPLATE-DATA: user_action}</font><br /><img src="blank.gif" alt="" height=4 width=1 border=0 /><br />
{MAIN_SECTION: END}