/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: groupmgr.tmpl,v 1.8 2003/04/21 22:25:24 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: groupmgr.php.t; output: groupmgr.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: alt_var.tmpl}
{REF: groups.tmpl}
{REF: draw_select_opt.tmpl}
{REF: rev_fmt.tmpl}

{SECTION: group_selection allows group manager to choose which group to edit}
<br /><br />
<form method="post" action="{ROOT}?t=groupmgr">
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2>{MSG: group_mgr_heading}</th></tr>
<tr class="RowStyleA">
	<td nowrap><b>{MSG: group_mgr_group}</b></td>
	<td width="100%"><select name="group_id">{TEMPLATE-DATA: group_selection}</select></td>
</tr>
<tr class="RowStyleC"><td colspan=2 align="left"><input type="submit" class="button" name="btn_groupswitch" value="{MSG: group_mgr_edit_btn}"></td></tr>
</table>{DEF: _hs}</form>
{SECTION: END}

{SECTION: group_control_panel}
{TEMPLATE-DATA: group_selection}
<br />
{TEMPLATE-DATA: indicator}
<br />
<form method="post" action="{ROOT}?t=groupmgr" name="groupmgr">
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: member_input}
<tr class="RowStyleB">
	<td colspan=2>
		<table border=0 cellspacing=1 cellpadding=3 width="100%" class="COntentTable">
			<tr>{TEMPLATE: permission_header}</tr>
			<tr class="RowStyleA">{TEMPLATE-DATA: perm_select}</tr>
		</table>
	</td>
</tr>

<tr>
	<td align=right colspan=2 class="RowStyleC">
		{TEMPLATE-DATA: submit_button}
	</td>
</tr>
</table><input type="hidden" name="group_id" value="{VAR: group_id}"><input type="hidden" name="edit" value="{VAR: edit}">{DEF: _hs}</form>
<br /><br />
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th>{MSG: groupmgr_member}</th>{TEMPLATE: permission_header}<th align="center">{MSG: groupmgr_action}</th></tr>
{TEMPLATE-DATA: group_members_list}
</table>
{SECTION: END}

{SECTION: no_group_control_panel}
<div align="center">{MSG: groupmgr_no_groups}</div>
{SECTION: END}

{PAGE: GROUP_MANAGER group permissions manager}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
{TEMPLATE-DATA: group_control_panel}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: grp_find_user}
&nbsp;&nbsp;&nbsp;[{MSG: group_mgr_search}]
{SECTION: END}

{SECTION: member_add add new member}
<tr class="RowStyleA"><td nowrap><b>{MSG: groupmgr_member}</b></td><td width="100%" align="left">{TEMPLATE-DATA: login_error}<input type="text" name="gr_member" value="{VAR: gr_member}">{TEMPLATE-DATA: find_user}</td></tr>
{SECTION: END}

{SECTION: member_edit edit an existing member}
<tr class="RowStyleA"><td nowrap><b>{MSG: groupmgr_member}</b></td><td width="100%" align="left">{TEMPLATE-DATA: gr_member}</td></tr>
{SECTION: END}

{SECTION: perm_yes permissions set to YES indicator}
<td nowrap align="center"><font size=-1 color="#FF0000">{MSG: groupmgr_yes}</font></td>
{SECTION: END}

{SECTION: perm_no permissions set to NO indicator}
<td nowrap align="center"><font size=-1 color="#0000FF">{MSG: groupmgr_no}</font></td>
{SECTION: END}

{SECTION: submit_button}
<input type="submit" class="button" name="btn_submit" value="{MSG: groupmgr_add_member}">
{SECTION: END}

{SECTION: update_buttons}
<input type="submit" class="button" name="btn_cancel" value="{MSG: groupmgr_cancel}"> 
<input type="submit" class="button" name="btn_submit" value="{MSG: groupmgr_update_member}">
{SECTION: END}

{SECTION: group_member_entry permissions for a user in a group}
<tr class="{ALT-VAR: mem_list_alt RowStyleA RowStyleB}">
<td nowrap>{VAR: member_name}</td>
{TEMPLATE-DATA: perm_table}
<td nowrap>[<a href="{ROOT}?t=groupmgr&amp;{DEF: _rsid}&amp;edit={VAR: obj->mmid}&amp;group_id={VAR: obj->group_id}">{MSG: groupmgr_edit}</a>] [<a href="{ROOT}?t=groupmgr&amp;{DEF: _rsid}&amp;del={VAR: obj->user_id}&amp;group_id={VAR: obj->group_id}">{MSG: groupmgr_delete}</a>]</td></tr>
{SECTION: END}

{SECTION: group_const_entry permissions for a constant (hardcoded) in a group}
<tr class="{ALT-VAR: mem_list_alt RowStyleA RowStyleB}">
<td nowrap>{VAR: member_name}</td>
{TEMPLATE-DATA: perm_table}
<td nowrap>[<a href="{ROOT}?t=groupmgr&amp;{DEF: _rsid}&amp;edit={VAR: obj->mmid}&amp;group_id={VAR: obj->group_id}">{MSG: groupmgr_edit}</a>]</td></tr>
{SECTION: END}

{SECTION: groupmgr_no_user no such user error}
<font class="ErrorText">{MSG: groupmgr_no_user}</font><br />
{SECTION: END}

{SECTION: groupmgr_already_exists user is already in the group error}
<font class="ErrorText">{MSG: groupmgr_already_exists}</font><br />
{SECTION: END}

{SECTION: group_mgr_anon}
<font color="#00AA00">{MSG: group_mgr_anon}</font>
{SECTION: END}

{SECTION: group_mgr_reged}
<font color="#00AA00">{MSG: group_mgr_reged}</font>
{SECTION: END}

{SECTION: permission_header}
<th align=center>{MSG: p_VISIBLE}</th>
<th align=center>{MSG: p_READ}</th>
<th align=center>{MSG: p_POST}</th>
<th align=center>{MSG: p_REPLY}</th>
<th align=center>{MSG: p_EDIT}</th>
<th align=center>{MSG: p_DEL}</th>
<th align=center>{MSG: p_STICKY}</th>
<th align=center>{MSG: p_POLL}</th>
<th align=center>{MSG: p_FILE}</th>
<th align=center>{MSG: p_VOTE}</th>
<th align=center>{MSG: p_RATE}</th>
<th align=center>{MSG: p_SPLIT}</th>
<th align=center>{MSG: p_LOCK}</th>
<th align=center>{MSG: p_MOVE}</th>
<th align=center>{MSG: p_SML}</th>
<th align=center>{MSG: p_IMG}</th>
{SECTION: END}

{SECTION: indicator shows which groups is currently being edited}
<div align="center">{MSG: group_mgr_indicator}</div>
{SECTION: END}