/**************************************************************************
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: header.tmpl,v 1.31 2009/02/22 00:00:37 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
***************************************************************************/

{MAIN_SECTION: header forum page header}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{LANG}" xml:lang="{LANG}">
<head>
{META-CONTENT-LANGUAGE}
<title>{GVAR: FORUM_TITLE}{VAR: TITLE_EXTRA}</title>
<base href="{FULL_ROOT}" />
<script type="text/javascript" src="lib.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="{THEME_ROOT}/forum.css" type="text/css" media="screen" title="Default FUDforum Theme" />
<link rel="search" type="application/opensearchdescription+xml" title="{GVAR: FORUM_TITLE} Search" href="{FULL_ROOT}open_search.php" />
{VAR: RSS}
</head>
<body>
<table class="wa" border="0" cellspacing="3" cellpadding="5"><tr><td class="ForumBackground">
<div class="header">
<b class="rtop"><b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b></b>
  <table width="100%"><tr><td class="header"><a href="{ROOT}" title="{MSG: home}"><span class="headtitle">{GVAR: FORUM_TITLE}</span></a></td><td>
  <form id="headsearch" method="get" action="{ROOT}">{DEF: _hs}
    <span class="headsearch">{MSG: search_forum_search}:<br />
    <input type="hidden" name="t" value="search" />
    <input type="text" name="srch" accesskey="f" value="" />
    <input type="submit" name="btn_submit" value="{MSG: search}" class="headbutton" />
  </span></form>
  </td></tr></table>
<b class="rbottom"><b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b></b>
</div>
<br />
{MAIN_SECTION: END}

{MAIN_SECTION: header_plain header for small popup forms}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{LANG}" xml:lang="{LANG}">
<head>
{META-CONTENT-LANGUAGE}
<title>{GVAR: FORUM_TITLE}{VAR: TITLE_EXTRA}</title>
<base href="{FULL_ROOT}" />
<script type="text/javascript" src="lib.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="{THEME_ROOT}/forum.css" type="text/css" />
</head>
<body>
<table class="wa" border="0" cellspacing="3" cellpadding="5"><tr><td class="ForumBackground">
{MAIN_SECTION: END}
