/**
* copyright            : (C) 2001-2010 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{MAIN_SECTION: header forum // The forum's page header.}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{DIR}" lang="{LANG}" xml:lang="{LANG}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<title>{GVAR: FORUM_TITLE}{VAR: TITLE_EXTRA}</title>
<meta name="description" content="{GVAR: FORUM_DESCR}" />
<base href="{FULL_ROOT}" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/lib.js"></script>
<link rel="stylesheet" href="{THEME_ROOT}/forum.css" type="text/css" media="screen" title="Default FUDforum Theme" />
<link rel="search" type="application/opensearchdescription+xml" title="{GVAR: FORUM_TITLE} Search" href="{FULL_ROOT}open_search.php" />
{VAR: RSS}
</head>
<body>
<div class="ForumBackground header">
{IF: $FUD_OPT_1 & 16777216}
  <div class="headsearch">
    <form id="headsearch" method="get" action="{ROOT}">{DEF: _hs}
      <br /><label accesskey="f" title="{MSG: search_forum_search}">{MSG: search_forum_search}:<br />
      <input type="text" name="srch" value="" size="15" placeholder="{MSG: search_forum_search}" /></label>
      <input type="hidden" name="t" value="search" />
      <input type="submit" name="btn_submit" value="{MSG: search}" class="headbutton" />&nbsp;
    </form>
  </div>
{ENDIF}
<a href="{ROOT}" title="{MSG: home}">
  <img src="theme/default/images/header.gif" alt="" align="left" height="80" />
  <span class="headtitle">{GVAR: FORUM_TITLE}</span>
</a><br />
<span class="headdescr">{GVAR: FORUM_DESCR}<br /><br /></span>
</div>
<table class="wa" border="0" cellspacing="3" cellpadding="5"><tr><td class="ForumBackground">
<!-- The left block. <td class="ForumBackground"> -->
{MAIN_SECTION: END}

{MAIN_SECTION: header_plain // Another header for small popup forms.}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{DIR}" lang="{LANG}" xml:lang="{LANG}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<title>{GVAR: FORUM_TITLE}{VAR: TITLE_EXTRA}</title>
<base href="{FULL_ROOT}" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/lib.js"></script>
<link rel="stylesheet" href="{THEME_ROOT}/forum.css" type="text/css" />
</head>
<body>
<table class="wa" border="0" cellspacing="3" cellpadding="5"><tr><td class="ForumBackground">
{MAIN_SECTION: END}

