/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: imsg_edt.tmpl,v 1.9 2005/07/27 18:57:30 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: imsg_edt.inc.t; output: imsg_edt.inc;}
{REF: ipoll.tmpl}
{REF: attach.tmpl}
{REF: iemail.tmpl}
{REF: rev_fmt.tmpl}
{REF: rhost.tmpl}
{REF: isearch.tmpl}
{REF: forum.tmpl}
{REF: th_adm.tmpl}

{SECTION: imsg_CHARSET}
{CHARSET}
{SECTION: END}