/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: index.tmpl,v 1.43 2004/10/21 15:22:28 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: index.php.t; output: index.php;}
{REF: security.tmpl}
{REF: logedin.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: show.tmpl}
{REF: quicklogin.tmpl}

{SECTION: index_table_heading}
<tr>
	<th colspan=3 class="wa">{MSG: index_forum}</th>
	<th nowrap>{MSG: posts}</th>
	<th nowrap>{MSG: threads}</th>
	<th nowrap>{MSG: last_post}</th>
</tr>
{SECTION: END}

{SECTION: index_category_allow_collapse_Y collapsable category entry}
<tr><td colspan="6" class="CatDesc" style="padding-left: {FUNC: ($i[0] ? $i[0] * 20 : '0')}px"><a href="{TEMPLATE: index_category_allow_collapse_Y_lnk}" class="CatLink" title="{VAR: collapse_status}">{VAR: collapse_indicator}</a> <a href="{TEMPLATE: index_to_cat_lnk}" class="CatLink">{VAR: i[1]}</a> {VAR: i[2]}</td></tr>
{SECTION: END}

{SECTION: index_category_allow_collapse_N uncollapsable category entry}
<tr><td class="CatDesc CatLockPad" colspan="6" style="padding-left: {FUNC: ($i[0] ? $i[0] * 20 : '0')}px"><span class="CatLockedName"><a href="{TEMPLATE: index_to_cat_lnk}" class="CatLink">{VAR: i[1]}</a></span> {VAR: i[2]}</td></tr>
{SECTION: END}

{SECTION: forum_icon}
<img src="{VAR: r[9]}" alt="{MSG: forum_icon}" />
{SECTION: END}

{SECTION: no_forum_icon}
&nbsp;
{SECTION: END}

{SECTION: moderators moderator list}
<div class="TopBy"><b>{MSG: moderators}:</b> {VAR: moderators}</div>
{SECTION: END}

{SECTION: index_forum_entry forum entry row}
<tr>
	<td class="RowStyleA wo">{TEMPLATE-DATA: forum_icon}</td>
	<td class="RowStyleB wo">{VAR: forum_read_indicator}</td>
	<td class="RowStyleA wa"><a href="{TEMPLATE: index_forum_entry_lnk}" class="big">{VAR-HTML: r[13]}</a>{FUNC: ($r[14] ? '<br />'.$r[14] : '')}{VAR: moderators}</td>
	<td class="RowStyleB ac">{VAR: r[15]}</td>
	<td class="RowStyleB ac">{VAR: r[16]}</td>
	<td class="RowStyleA ac nw">{VAR: last_post}</td>
</tr>
{SECTION: END}

{SECTION: forum_with_no_view_perms}
<tr>
	<td class="RowStyleA" colspan=6>{VAR-HTML: r[13]}<br />{VAR: r[14]}</td>
</tr>
{SECTION: END}

{SECTION: forum_read}
<img title="{MSG: forum_old_messages}" src="{THEME_IMAGE_ROOT}/existing_content.png" alt="{MSG: forum_old_messages}" />
{SECTION: END}

{SECTION: forum_unread}
<img title="{MSG: forum_new_messages}" src="{THEME_IMAGE_ROOT}/new_content.png" alt="{MSG: forum_new_messages}" />
{SECTION: END}

{SECTION: forum_no_indicator no new message indicator}
<img title="{MSG: forum_none_messages}" src="{THEME_IMAGE_ROOT}/existing_content.png" alt="{MSG: forum_none_messages}" />
{SECTION: END}

{SECTION: last_post}
<span class="DateText">{TEMPLATE: index_last_post_date}</span><br />{MSG: by} {VAR: last_poster_profile} <a href="{TEMPLATE: last_post_lnk}"><img title="{VAR: r[0]}" src="{THEME_IMAGE_ROOT}/goto.gif" alt="{VAR: r[0]}" /></a>
{SECTION: END}

{SECTION: profile_link_user}
<a href="{TEMPLATE: profile_link_user_lnk}">{VAR: r[4]}</a>
{SECTION: END}

{SECTION: profile_link_mod}
<a href="{TEMPLATE: profile_link_mod_lnk}">{VAR: v}</a> &nbsp;
{SECTION: END}

{SECTION: no_mod}
&nbsp;
{SECTION: END}

{SECTION: profile_link_anon}
{GVAR: ANON_NICK}
{SECTION: END}

{SECTION: collapse_indicator_MAX an indicator showing that this category can be expanded}
<img src="{THEME_IMAGE_ROOT}/max.png" alt="" />
{SECTION: END}

{SECTION: collapse_indicator_MIN an indicator showing that this category can be collapsed}
<img src="{THEME_IMAGE_ROOT}/min.png" alt="" />
{SECTION: END}

{SECTION: mark_all_read}
<div class="SmallText ar">[<a href="{TEMPLATE: mark_all_read_lnk}" title="{MSG: mark_all_read_desc}">{MSG: mark_all_read}</a>]</div>
{SECTION: END}

{SECTION: forum_icon_legend}
<br /><fieldset>
        <legend>{MSG: legend}</legend>
<img src="{THEME_IMAGE_ROOT}/new_content.png" alt="{MSG: index_new_posts}" /> {MSG: index_new_posts}&nbsp;&nbsp;
<img src="{THEME_IMAGE_ROOT}/existing_content.png" alt="{MSG: index_no_new_posts}" /> {MSG: index_no_new_posts}
</fieldset>
{SECTION: END}

{SECTION: welcome_message}
<span class="GenText">{MSG: welcome_message}</span><br />
{SECTION: END}

{PAGE: INDEX_PAGE}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: welcome_message}
{TEMPLATE: show_links}{TEMPLATE-DATA: admin_cp}
<table cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE: index_table_heading}
{TEMPLATE-DATA: forum_list_table_data}
</table>
{TEMPLATE-DATA: mark_all_read}
{TEMPLATE-DATA: quick_login}
{TEMPLATE-DATA: loged_in_list}
{TEMPLATE: forum_icon_legend}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: index_update}
{MSG: index_update}
{SECTION: END}

{SECTION: index_title}
{MSG: index_title}
{SECTION: END}

{SECTION: maximize_category}
{MSG: maximize_category}
{SECTION: END}

{SECTION: minimize_category}
{MSG: minimize_category}
{SECTION: END}

{SECTION: na}
{MSG: na}
{SECTION: END}

{SECTION: last_post_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: r[11]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: profile_link_user_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: r[3]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: profile_link_mod_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: k}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: mark_all_read_lnk}
{ROOT}?t=markread&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: index_category_allow_collapse_Y_lnk}
{ROOT}?t=index&amp;cat={VAR: cat_id}&amp;c={FUNC: ($col = url_tog_collapse($k, $cs))}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: index_to_cat_lnk}
{ROOT}?t=index&amp;cat={VAR: k}&amp;c={VAR: col}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: index_forum_entry_lnk}
{ROOT}?t={DEF: t_thread_view}&amp;frm_id={VAR: r[10]}&amp;{DEF: _rsid}
{SECTION: END}
