/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: list_referers.tmpl,v 1.3 2002/08/05 05:58:21 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: list_referers.php.t; output: list_referers.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: forum.tmpl}
{REF: alt_var.tmpl}

{SECTION: refered_entry a refered user LINK}
<a class="GenLink" href="{ROOT}?t=usrinfo&amp;id={VAR: rf_id}&amp;{DEF: _rsid}">{VAR: rf_login}</a> &nbsp;
{SECTION: END}

{SECTION: referer_entry refered users row}
<tr class="{ALT-VAR: list_referers_alt RowStyleA RowStyleB}"><td nowrap class="GenText" valign="top"><a class="GenLink" href="{ROOT}?t=usrinfo&amp;id={VAR: obj->id}&amp;{DEF: _rsid}">{VAR: obj->login}</a></td><td align="center" class="GenText">{VAR: obj->cnt}</td><td class="GenText">{TEMPLATE-DATA: refered_entry_data}</td></tr>
{SECTION: END}

{PAGE: REFERALS_PAGE A list of all the users who referred people to the forum and who they referred}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: admin_cp}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th align="center">{MSG: list_referes_member}</th><th align="center">{MSG: list_referes_referrals}</th><th>{MSG: list_referes_members}</th></tr>
{TEMPLATE-DATA: referer_entry_data}
</table>
{TEMPLATE-DATA: pager_pager}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
{SECTION: list_referers_update}
{MSG: list_referers_update}
{SECTION: END}
