/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: list_referers.php.t; output: list_referers.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: alt_var.tmpl}
{REF: admincp.tmpl}

{SECTION: refered_entry a refered user LINK}
<a href="{TEMPLATE: refered_entry_lnk}">{VAR: r2[0]}</a> &nbsp;
{SECTION: END}

{SECTION: referer_entry refered users row}
<tr class="{ALT-VAR: list_referers_alt RowStyleA RowStyleB}"><td class="nw GenText vt"><a href="{TEMPLATE: referer_entry_lnk}">{VAR: r[0]}</a></td><td class="ac GenText">{VAR: r[2]}</td><td class="GenText">{TEMPLATE-DATA: refered_entry_data}</td></tr>
{SECTION: END}

{PAGE: REFERALS_PAGE A list of all the users who referred people to the forum and who they referred}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: admin_cp}
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th class="ac">{MSG: list_referes_member}</th><th class="ac">{MSG: list_referes_referrals}</th><th>{MSG: list_referes_members}</th></tr>
{TEMPLATE-DATA: referer_entry_data}
</table>
{TEMPLATE-DATA: page_pager}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
{SECTION: list_referers_update}
{MSG: list_referers_update}
{SECTION: END}

{SECTION: refered_entry_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: r2[1]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: referer_entry_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: r[1]}&amp;{DEF: _rsid}
{SECTION: END}
