/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: logedin.tmpl,v 1.9 2002/08/28 20:27:02 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: logedin.inc.t; output: @logedin.inc;}


{MAIN_SECTION: loged_in_list loggedin user list}
<br /><img src="blank.gif" alt="" height=2 width=1 />
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: logedin}
{TEMPLATE-DATA: forum_info}
</table>
{MAIN_SECTION: END}

{SECTION: logedin}
<tr><th width="100%">{MSG: logged_in_list} {VAR: astr}</th></tr>
<tr><td class="RowStyleA">
<font class="SmallText">{MSG: status_line}&nbsp;&nbsp;&nbsp;<font class="adminColor">[{MSG: administrator}]</font>&nbsp;&nbsp;<font class="modsColor">[{MSG: moderator}]</font></font><br />
{VAR: loged_in_list}
</td></tr>
{SECTION: END}

{SECTION: i_spy logged in users list}
[<a href="{ROOT}?t=actions&amp;{DEF: _rsid}" class="thLnk">{MSG: what_ppl_doing}</a>] [<a href="{ROOT}?t=online_today&amp;{DEF: _rsid}" class="thLnk">{MSG: logedin_todays_visitors}</a>]
{SECTION: END}

{SECTION: online_user_separator}
,&nbsp;
{SECTION: END}

{SECTION: online_user_link}
<a href="{VAR: profile_link}" class="GenLink">{VAR: obj->alias}</a>
{SECTION: END}

{SECTION: online_user_link_mod}
<a href="{VAR: profile_link}" class="GenLink"><font class="modsColor">{VAR: obj->alias}</font></a>
{SECTION: END}

{SECTION: online_user_link_admin}
<a href="{VAR: profile_link}" class="GenLink"><font class="adminColor">{VAR: obj->alias}</font></a>
{SECTION: END}

{SECTION: last_msg latest message on the forum}
<br />{MSG: logedin_latest_post} <a href="{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: lmid}&amp;{DEF: _rsid}"><b>{VAR: lsubj}</b></a>
{SECTION: END}

{SECTION: forum_info}
<tr><td class="RowStyleB"><font class="SmallText">
{MSG: message_counter}<br />
{MSG: user_counter}<br />
{MSG: newest_user} <a href="{VAR: ulink}" class="GenLink"><b>{VAR: ulogin}</b></a>{TEMPLATE-DATA: last_msg}
</font></td></tr>
{SECTION: END}