/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: logedin.tmpl,v 1.22 2004/05/11 17:31:44 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: logedin.inc.t; output: !logedin.inc;}
{REF: ulink.tmpl}

{MAIN_SECTION: loged_in_list loggedin user list}
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: logedin}
{TEMPLATE-DATA: forum_info}
</table>
{MAIN_SECTION: END}

{SECTION: logedin}
<tr><th class="wa">{MSG: logged_in_list} {TEMPLATE-DATA: i_spy}</th></tr>
<tr><td class="RowStyleA">
<span class="SmallText">{MSG: status_line}&nbsp;&nbsp;&nbsp;<span class="adminColor">[{MSG: administrator}]</span>&nbsp;&nbsp;<span class="modsColor">[{MSG: moderator}]</span></span><br />
{VAR: logedin}
</td></tr>
{SECTION: END}

{SECTION: i_spy logged in users list}
[<a href="{TEMPLATE: i_spy_lnk}" class="thLnk">{MSG: what_ppl_doing}</a>] [<a href="{TEMPLATE: i_spy_lnk1}" class="thLnk">{MSG: logedin_todays_visitors}</a>]
{SECTION: END}

{SECTION: online_user_link}
<a href="{TEMPLATE: online_user_link_lnk}">{VAR: v}</a>
{SECTION: END}

{SECTION: last_msg latest message on the forum}
<br />{MSG: logedin_latest_post} <a href="{TEMPLATE: last_msg_lnk}"><b>{VAR: st_obj->last_msg_subject}</b></a>
{SECTION: END}

{SECTION: forum_info}
<tr><td class="RowStyleB SmallText">
{MSG: message_counter}<br />
{MSG: user_counter}<br />
{MSG: newest_user} <a href="{TEMPLATE: forum_info_lnk}"><b>{VAR: st_obj->last_user_alias}</b></a>{TEMPLATE-DATA: last_msg}
</td></tr>
{SECTION: END}

{SECTION: i_spy_lnk}
{ROOT}?t=actions&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: i_spy_lnk1}
{ROOT}?t=online_today&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: online_user_link_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: k}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: last_msg_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: last_msg_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: forum_info_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: st_obj->last_user_id}&amp;{DEF: _rsid}
{SECTION: END}
