/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: logedin.tmpl,v 1.30 2006/09/19 14:37:56 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: logedin.inc.t; output: !logedin.inc;}
{REF: ulink.tmpl}

{MAIN_SECTION: loged_in_list loggedin user list}
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: logedin}
{TEMPLATE-DATA: forum_info}
</table>
{MAIN_SECTION: END}

{SECTION: logedin}
<tr><th class="wa">{MSG: logged_in_list} {IF: ($FUD_OPT_1 & 536870912)}{TEMPLATE: i_spy}{ENDIF}</th></tr>
<tr><td class="RowStyleA">
<span class="SmallText">{MSG: status_line}&nbsp;&nbsp;&nbsp;<span class="adminColor">[{MSG: administrator}]</span>&nbsp;&nbsp;<span class="modsColor">[{MSG: moderator}]</span></span><br />
{VAR: logedin}
</td></tr>
{SECTION: END}

{SECTION: i_spy logged in users list}
{IF: _uid || !($FUD_OPT_3 & 131072)}[<a href="{TEMPLATE: i_spy_lnk}" class="thLnk">{MSG: what_ppl_doing}</a>]{ENDIF}{IF: _uid || !($FUD_OPT_3 & 262144)} [<a href="{TEMPLATE: i_spy_lnk1}" class="thLnk">{MSG: logedin_todays_visitors}</a>]{ENDIF}
{SECTION: END}

{SECTION: online_user_link}
<a href="{TEMPLATE: online_user_link_lnk}">{VAR: v}</a>
{SECTION: END}

{SECTION: last_msg latest message on the forum}
<br />{MSG: logedin_latest_post} <a href="{TEMPLATE: last_msg_lnk}"><b>{VAR: st_obj->last_msg_subject}</b></a>
{SECTION: END}

{SECTION: forum_info}
<tr><td class="RowStyleB SmallText">
{MSG: message_counter}<br />
{MSG: most_users_online}<br />
{MSG: user_counter}<br />
{MSG: newest_user} <a href="{TEMPLATE: forum_info_lnk}"><b>{VAR: st_obj->last_user_alias}</b></a>{IF: $last_msg_id}{TEMPLATE: last_msg}{ENDIF}</td></tr>
{SECTION: END}

{SECTION: i_spy_lnk}
{ROOT}?t=actions&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: i_spy_lnk1}
{ROOT}?t=online_today&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: online_user_link_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: k}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: last_msg_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: last_msg_id}&amp;{DEF: _rsid}#msg_{VAR: last_msg_id}
{SECTION: END}

{SECTION: forum_info_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: st_obj->last_user_id}&amp;{DEF: _rsid}
{SECTION: END}
