/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: minimsg.tmpl,v 1.10 2004/04/23 19:56:13 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: minimsg.inc.t; output: @minimsg.inc;}

{REF: fileio.tmpl}
{REF: imsg.tmpl}
{REF: draw_pager.tmpl}
{REF: drawmsg.tmpl}

{MAIN_SECTION: minimsg_form list of messages in the thread you're replying to}
<br /><br />
<table cellspacing=0 cellpadding=3 class="wa dashed">
<tr><td class="miniMH">{MSG: minimsg_thread_view}</td></tr>
<tr><td>
<table cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: message_data}
</table>
</td></tr>
<tr><td>{TEMPLATE-DATA: minimsg_pager}</td></tr>
</table>
<input type="hidden" name="minimsg_pager_switch" value="{VAR: start}">
{MAIN_SECTION: END}

{MAIN_SECTION: minimsg_hidden display list of message in the thread you're replying to link}
<br /><br />
<table cellspacing=0 cellpadding=3 class="dashed wa">
<tr><td class="ac">[<a href="javascript: document.post_form.submit();">Reveal Thread</a>]</td></tr>
</table>
<input type="hidden" name="minimsg_pager_switch" value="{VAR: start}">
{MAIN_SECTION: END}
