/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: mmod.tmpl,v 1.4 2002/08/28 12:27:05 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: mmod.php.t; output: mmod.php;}
{REF: security.tmpl}
{REF: imsg.tmpl}
{REF: th.tmpl}
{REF: forum.tmpl}
{REF: imsg_edt.tmpl}
{REF: return.tmpl}
{REF: is_perms.tmpl}
{REF: logaction.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}

{MAIN_SECTION: delete_confirm_pg delete confirmation message}
{TEMPLATE: header}
{TEMPLATE: usercp}
<div align="center">
<table border="0" cellspacing="1" cellpadding="2" class="DialogTable">
<tr><th>{MSG: mmod_delete_cofirm_ttl}</th></tr>
<tr class="RowStyleA" align="center"><td class="GenText">
<form method="post" action="{ROOT}?t=mmod">
<input type="hidden" name="del" value="{VAR: del}">
<input type="hidden" name="confirm" value="1">
<input type="hidden" name="det_page" value="{VAR: det_page}">
{DEF: _hs}{VAR: ret}
{TEMPLATE-DATA: delete_msg}
{MSG: delete_proceed}<br />
<input type="submit" class="button" name="YES" value="{MSG: delete_yes}">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="button" name="NO" value="{MSG: delete_no}"> 
</form>
</td></tr>
</table></div>
{TEMPLATE: curtime}
{TEMPLATE: footer}
{MAIN_SECTION: END}

{SECTION: single_msg_delete}
{MSG: single_msg_delete}
{SECTION: END}

{SECTION: thread_delete}
{MSG: thread_delete}
{SECTION: END}

{SECTION: delete_confirm}
{MSG: delete_confirm}
{SECTION: END}
