/**
* copyright            : (C) 2001-2010 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: modque.php.t; output: modque.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: drawmsg.tmpl}
{REF: imsg_edt.tmpl}
{REF: logaction.tmpl}
{REF: th.tmpl}
{REF: smiley.tmpl}

{SECTION: modque_msg_header moderator message options}
<tr class="RowStyleB"><td>
<b>{MSG: modque_cat}</b> {VAR: obj->cat_name} :: <b>{MSG: modque_forum}</b> {VAR: obj->frm_name} [<a href="{TEMPLATE: modque_msg_header_lnk}">{MSG: modque_approve}</a>]&nbsp;&nbsp;[<a href="{TEMPLATE: modque_msg_header_lnk1}">{MSG: modque_delete}</a>]
</td></tr>
{SECTION: END}

{SECTION: no_modque_msg}
<tr><th>{MSG: modque_no_message}</th></tr>
{SECTION: END}

{SECTION: modque_message}
{TEMPLATE: modque_msg_header}
{FUNC: tmpl_drawmsg($obj, $usr, $perms, false, $m_num, null)}
{SECTION: END}

{PAGE: MODQUE_PAGE draws a list of all the messages that are pending approval by the moderator}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<table cellspacing="0" cellpadding="0" class="ContentTable">
<tr><th>{MSG: modque_pending_approval}</th></tr>
{TEMPLATE-DATA: modque_message}
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: modque_msg_header_lnk}
{ROOT}?t=modque&amp;appr={VAR: obj->id}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: modque_msg_header_lnk1}
{ROOT}?t=modque&amp;del={VAR: obj->id}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}
