/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: modque.tmpl,v 1.6 2003/05/13 11:21:59 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: modque.php.t; output: modque.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: drawmsg.tmpl}
{REF: imsg.tmpl}
{REF: imsg_edt.tmpl}
{REF: logaction.tmpl}
{REF: is_perms.tmpl}

{SECTION: modque_msg_header moderator message options}
<tr class="RowStyleB">
<td class="GenText" colspan=2>
<table border=0 cellspacing=0 cellpadding=3 width="100%">
<tr>
	<td align="left"><b>{MSG: forum}</b> {VAR: obj->cat_name}<br /><b>{MSG: thread}</b> {VAR: obj->frm_name}</td>
	<td align="right">[<a class="GenLink" href="{ROOT}?t=modque&amp;appr={VAR: obj->id}&amp;{DEF: _rsid}">{MSG: modque_approve}</a>]&nbsp;&nbsp;[<a class="GenLink" href="{ROOT}?t=modque&amp;del={VAR: obj->id}&amp;{DEF: _rsid}">{MSG: modque_delete}</a>]</td>
</tr>
</table>
</td>
</tr>
{SECTION: END}

{SECTION: no_modque_msg}
<tr><th>{MSG: modque_no_message}</th></tr>
{SECTION: END}

{SECTION: modque_message}
{TEMPLATE: modque_msg_header}
{TEMPLATE-DATA: message}
{SECTION: END}

{PAGE: MODQUE_PAGE draws a list of all the messages that are pending approval by the moderator}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2>{MSG: modque_pending_approval}</th></tr>
{TEMPLATE-DATA: modque_message}
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
