/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: movemsg.tmpl,v 1.5 2009/01/17 09:23:52 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: movemsg.php.t; output: movemsg.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: th.tmpl}
{REF: fileio.tmpl}
{REF: logaction.tmpl}
{REF: th_adm.tmpl}
{REF: return.tmpl}
{REF: imsg_edt.tmpl}

{SECTION: move_msg_entry individual message entries}
<tr>
<td class="RowStyleC vt ac"><input type="checkbox" name="msg_ids[]" value="{VAR: r->id}" /></td>
<td class="RowStyleA">
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr class="RowStyleB">
	<td class="SmallText">
	<b>{MSG: split_th_post_by}</b> {IF: $r->alias}{VAR: r->alias}{ELSE}{VAR: anon_alias}{ENDI}<br />
	<b>{MSG: split_th_posted_on}</b> {TEMPLATE: search_post_date}<br />
	<b>{MSG: split_th_subject}</b> {VAR: r->subject}
	</td>
</tr>
<tr class="RowStyleA"><td>{FUNC: read_msg_body($r->foff, $r->length, $r->file_id)}</td></tr>
</table>
</td>
</tr>
{SECTION: END}

{PAGE: MOVE_MSG_PAGE a form that allows moderators to move messages from one topic to another}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<form id="movemsg" action="{ROOT}?t=movemsg" method="post">{DEF: _hs}<input type="hidden" name="th" value="{VAR: th}" />
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th class="wa" colspan="2">{MSG: split_cp}</th></tr>
<tr class="RowStyleA">
	<td class="al fb">{MSG: move_msg_th_expl}</td>
	<td class="al"><input type="text" value="" name="dest_th" /></td>
</tr>
<tr class="RowStyleC">
	<td colspan="2" class="ac"><input type="submit" class="button" name="btn_selected" value="{MSG: move_msg_btn}" /></td>
</tr>
</table>
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th class="nw">{MSG: split_th_select}</th><th width="100%">{MSG: split_th_messages}</th></tr>
{TEMPLATE-DATA: msg_entry}
</table>
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr class="RowStyleC">
	<td colspan="2" class="ac"><input type="submit" class="button" name="btn_selected" value="{MSG: move_msg_btn}" /></td>
</tr>
</table>
</form>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
