/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: msg.tmpl,v 1.58 2005/12/07 18:07:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: msg.php.t; output: msg.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: forumsel.tmpl}
{REF: drawmsg.tmpl}
{REF: show.tmpl}
{REF: fileio.tmpl}
{REF: th.tmpl}
{REF: thread_notify.tmpl}
{REF: is_perms.tmpl}
{REF: th_nav.tmpl}
{REF: draw_forum_path.tmpl}

{SECTION: thread_rating}
&nbsp;(<img src="{THEME_IMAGE_ROOT}/{VAR: frm->rating}stars.gif" alt="{VAR: frm->rating}" />) {MSG: vote}
{SECTION: END}

{SECTION: no_thread_rating}
{SECTION: END}

{SECTION: first_unread_message_link}
| <a href="{TEMPLATE: first_unread_message_link_lnk}" title="{MSG: first_unread_msg_desc}">{MSG: first_unread_msg}</a>&nbsp;
{SECTION: END}

{SECTION: sub_from_thread subscribe to thread link}
| <a href="{TEMPLATE: sub_from_thread_lnk}" title="{MSG: sub_to_thread_desc}">{MSG: sub_to_thread}</a>&nbsp;
{SECTION: END}

{SECTION: unsub_to_thread unsubscribe from thread link}
| <a href="{TEMPLATE: unsub_to_thread_lnk}" title="{MSG: unsub_from_thread_desc}">{MSG: unsub_from_thread}</a>&nbsp;
{SECTION: END}

{SECTION: threaded_view tree view link}
<a href="{TEMPLATE: threaded_view_lnk}"><img title="{MSG: switch_to_thread_view}" alt="{MSG: switch_to_thread_view}" src="{THEME_IMAGE_ROOT}/tree_view.gif" /></a>&nbsp;
{SECTION: END}

{SECTION: new_thread new thread link}
<a href="{TEMPLATE: new_thread_lnk}"><img alt="{MSG: new_thread}" src="{THEME_IMAGE_ROOT}/new_thread.gif" /></a>
{SECTION: END}

{SECTION: post_reply}
&nbsp;<a href="{TEMPLATE: post_reply_lnk}"><img src="{THEME_IMAGE_ROOT}/post_reply.gif" alt="{MSG: submit_reply}" /></a>
{SECTION: END}

{SECTION: rate_thread rate thread select}
<table border=0 cellspacing=0 cellpadding=0><tr><form action="{TEMPLATE: rate_thread_lnk3}" name="vote_frm" method="post"><td nowrap>
<select name="sel_vote" onChange="javascript: if ( !this.value ) return false; document.vote_frm.submit();">
<option>{MSG: rate_thread}</option>
<option value="1">1 {MSG: rate_worst}</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5 {MSG: rate_best}</option>
</select>
</td><td>&nbsp;<input type="submit" class="button" name="btn_vote" value="{MSG: rate_this_thread}">
<input type="hidden" name="rate_thread_id" value="{VAR: frm->id}">{DEF: _hs}
</td></form></tr></table>
{SECTION: END}

{PAGE: MSG_PAGE  draws a flat view of the messages inside a thread}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: admin_cp}
<a name="page_top"> </a>
{FUNC: draw_forum_path($frm->cat_id, $frm->name, $frm->forum_id, $frm->subject)} {TEMPLATE-DATA: thread_rating}
<table cellspacing=0 cellpadding=0 border=0 class="wa">
<tr>
<td class="GenText al">{TEMPLATE: show_links}
{IF: ($frm->replies && $perms & 2048)}<a href="{TEMPLATE: split_thread_lnk}">{MSG: split_thread}</a>&nbsp;|&nbsp;{ENDIF}
{IF: $perms & 8192}<a href="javascript://" onClick="javascript: window_open(\'{TEMPLATE: msg_mv_thread}\', \'th_move\', 300, 400);">{MSG: move_thread}</a>&nbsp;|&nbsp;{ENDIF}
{IF: $perms & 4096}{IF: $frm->thread_opt & 1}<a href="{TEMPLATE: mod_unlock_thread_lnk}">{MSG: unlock_thread}</a>&nbsp;|&nbsp;{ELSE}<a href="{TEMPLATE: mod_lock_thread_lnk}">{MSG: lock_thread}</a>&nbsp;|&nbsp;{END}{ENDIF}
{IF: $FUD_OPT_2 & 1073741824}<a href="{TEMPLATE: email_page_to_friend_lnk}" title="{MSG: email_to_friend_desc}">{MSG: email_to_friend}</a>&nbsp;{ENDIF}
{TEMPLATE-DATA: first_unread_message_link}{TEMPLATE-DATA: subscribe_status}</td>
<td class="vb ar">{IF: $FUD_OPT_3 & 2}{ELSE}{TEMPLATE: threaded_view}{END}{TEMPLATE: new_thread}{IF: (!($frm->thread_opt & 1) || $perms & 4096)}{TEMPLATE: post_reply}{ENDIF}</td>
</tr>
</table>
<table cellspacing="0" cellpadding="0" class="ContentTable">{TEMPLATE-DATA: message_data}</table>
<table border=0 cellspacing=0 cellpadding=0 class="wa">
<tr>
<td class="vt">{TEMPLATE-DATA: page_pager}&nbsp;</td>
<td class="GenText ar vb nw">{IF: $FUD_OPT_3 & 2}{ELSE}{TEMPLATE: threaded_view}{END}{TEMPLATE: new_thread}{IF: (!($frm->thread_opt & 1) || $perms & 4096)}{TEMPLATE: post_reply}{ENDIF}</td>
</tr>
</table>
<table border=0 cellspacing=1 cellpadding=1 align="right">
{TEMPLATE-DATA: prev_thread_link}
{TEMPLATE-DATA: next_thread_link}
</table>
{TEMPLATE-DATA: rate_thread}
{FUNC: tmpl_create_forum_select((isset($frm->forum_id) ? $frm->forum_id : $frm->id), $usr->users_opt & 1048576)}
<br /><div class="wa ac">-=] <a href="javascript://" onClick="chng_focus('page_top');">{MSG: back_to_top}</a> [=-</div>
<div class="ar SmallText">{IF: $FUD_OPT_2 & 2097152}{TEMPLATE: msg_pdf_link}{ENDIF} {IF: $FUD_OPT_2 & 1048576}{TEMPLATE: msg_xml_link}{ENDIF}</div>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{IF: $msg_page_focus}<script language="javascript" type="text/javascript"> fud_msg_focus("{VAR: mid}"); </script>{ENDIF}
{IF: !empty($_GET['srch'])}
<script language="javascript" type="text/javascript">
<!--
highlightSearchTerms("{VAR-HTML: _GET['srch']}");
//-->
</script>
{ENDIF}
{PAGE: END}

{SECTION: msg_pdf_link}
[ <a href="{GVAR: WWW_ROOT}pdf.php?th={VAR: th}&amp;{DEF: _rsid}">{MSG: thread_printable_pdf}</a> ]
{SECTION: END}

{SECTION: msg_xml_link}
[ <a href="{TEMPLATE: msg_xml_link_lnk}">{MSG: thread_syndicate}</a> ] [ <a href="rdf.php?mode=m&amp;th={VAR: th}&amp;basic=1"><img src="{THEME_IMAGE_ROOT}/rss.gif" title="{MSG: thread_syndicate}" /></a> ]
{SECTION: END}

{SECTION: msg_update}
{MSG: msg_update}
{SECTION: END}

{SECTION: msg_title}
{MSG: msg_title}
{SECTION: END}

{SECTION: split_thread_lnk}
{ROOT}?t=split_th&amp;{DEF: _rsid}&amp;th={VAR: th}
{SECTION: END}

{SECTION: mod_lock_thread_lnk}
{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: th}&amp;lock=1&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: mod_unlock_thread_lnk}
{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: th}&amp;unlock=1&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: email_page_to_friend_lnk}
{ROOT}?t=remail&amp;th={VAR: th}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: first_unread_message_link_lnk}
{ROOT}?t=msg&amp;unread=1&amp;th={VAR: th}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: sub_from_thread_lnk}
{ROOT}?t=msg&amp;th={VAR: th}&amp;notify={VAR: usr->id}&amp;{DEF: _rsid}&amp;opt=on&amp;start={VAR: _GET['start']}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: unsub_to_thread_lnk}
{ROOT}?t=msg&amp;th={VAR: th}&amp;notify={VAR: usr->id}&amp;{DEF: _rsid}&amp;opt=off&amp;start={VAR: _GET['start']}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: threaded_view_lnk}
{ROOT}?t=tree&amp;th={VAR: th}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: new_thread_lnk}
{ROOT}?t=post&amp;frm_id={VAR: frm->forum_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: post_reply_lnk}
{ROOT}?t=post&amp;th_id={VAR: th}&amp;reply_to={VAR: frm->root_msg_id}&amp;{DEF: _rsid}&amp;start={VAR: _GET['start']}
{SECTION: END}

{SECTION: msg_xml_link_lnk}
{ROOT}?t=help_index&amp;section=boardusage#syndicate
{SECTION: END}

{SECTION: rate_thread_lnk3}
{ROOT}?t=ratethread
{SECTION: END}

{SECTION: msg_mv_thread}
{FULL_ROOT}{ROOT}?t=mvthread&amp;{DEF: _rsid}&amp;th={VAR: th}
{SECTION: END}
