/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: mvthread.tmpl,v 1.23 2009/01/17 09:23:52 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: mvthread.php.t; output: mvthread.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: logaction.tmpl}
{REF: th_adm.tmpl}

{PAGE: MVTHREAD_PAGE  move thread to another forum form}
{TEMPLATE: header_plain}
<form action="{TEMPLATE: MVTHREAD_PAGE_lnk3}" id="mvthread" method="post">
<table cellspacing="0" cellpadding="3" class="wa dashed">
<tr><td class="small">{MSG: move_thread_to}</td></tr>
{TEMPLATE-DATA: table_data}
</table>
{DEF: _hs}<input type="hidden" name="th" value="{VAR: th}"><input type="hidden" name="thx" value="{VAR: thx}" /></form>
{TEMPLATE: footer_plain}
{PAGE: END}

{SECTION: cat_entry category entry}
<tr><td class="mvTc" style="padding-left: {FUNC: ($tabw = ($i[0] * 10 + 2))}px">{VAR: i[1]}</td></tr>
{SECTION: END}

{SECTION: forum_entry}
<tr><td style="padding-left: {VAR: tabw}px"><a href="{TEMPLATE: forum_entry_lnk}">{VAR: r[0]}</a></td></tr>
{SECTION: END}

{SECTION: txc_forum_entry request that the thread be moved to a forum, of which a person is not a mod of}
<tr><td style="padding-left: {VAR: tabw}px">{VAR: r[0]} [<a href="{TEMPLATE: txc_forum_entry_lnk}">{MSG: mvthread_request_move}</a>]</td></tr>
{SECTION: END}

{SECTION: move_thread_request form for giving a reason why the thread should be moved}
<tr><td class="small fb">{VAR: thr->frm_name}</td></tr>
<tr><td class="small">{MSG: move_request_reason}<br /><textarea name="reason_msg" rows="7" cols="30"></textarea><td></tr>
<tr><td class="ar"><input type="submit" class="button" name="submit" value="{MSG: mvthread_submit_req}" /></td></tr>
{SECTION: END}

{SECTION: forum_entry_lnk}
{ROOT}?t=mvthread&amp;th={VAR: thr->id}&amp;to={VAR: r[1]}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: txc_forum_entry_lnk}
{ROOT}?t=mvthread&amp;th={VAR: thr->id}&amp;{DEF: _rsid}&amp;thx={VAR: r[1]}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: MVTHREAD_PAGE_lnk3}
{ROOT}?t=mvthread
{SECTION: END}
