/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: polllist.tmpl,v 1.2 2002/07/31 21:56:50 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: polllist.php.t; output: polllist.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: alt_var.tmpl}
{REF: draw_pager.tmpl}
{REF: stats.tmpl}
{REF: allperms.tmpl}

{SECTION: vote_lnk}
<a href="{ROOT}?t={DEF: d_thread_view}&goto={VAR: obj->msg_id}&{DEF: _rsid}">{MSG: polllist_vote}</a>&nbsp;<b>::</b>&nbsp;
{SECTION: END}

{SECTION: polllist_online_indicator}
<img src="{THEME_IMAGE_ROOT}/online.gif" border=0 title="{MSG: user_online}">&nbsp;
{SECTION: END}

{SECTION: polllist_offline_indicator}
<img src="{THEME_IMAGE_ROOT}/offline.gif" border=0 title="{MSG: user_offline}">&nbsp;
{SECTION: END}

{SECTION: poll_entry}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}">
	<td width="100%">{VAR: obj->name}</td>
	<td nowrap>{DATE: obj->creation_date %a, %d %B %Y %H:%M}</td>
	<td nowrap>{TEMPLATE-DATA: online_indicator}<a href="{ROOT}?t=usrinfo&id={VAR: obj->owner}&{DEF: _rsid}">{VAR: obj->login}</a></td>
	<td align="center" nowrap>{VAR: poll_vote_counts[$obj->id]}</td>
	<td align="center" nowrap>{TEMPLATE-DATA: vote_lnk}<a href="{ROOT}?t={DEF: d_thread_view}&goto={VAR: obj->msg_id}&pl_view={VAR: obj->id}&{DEF: _rsid}">{MSG: polllist_view_results}</a></td>
</tr>
{SECTION: END}

{SECTION: polllist_update}
{MSG: polllist_update}
{SECTION: END}

{PAGE: POLLLIST_PAGE A page that lists all of the avaliable polls in a forum}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br>{TEMPLATE-DATA: admin_cp}<p>
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr>
	<th>{MSG: polllist_name}</th>
	<th nowrap><a class="th_lnk" href="{ROOT}?t=polllist&start={VAR: start}&oby={VAR: oby_rev_val}&{DEF: _rsid}">{MSG: polllist_date}</a></th>
	<th nowrap>{MSG: polllist_owner}</th>
	<th nowrap align="center">{MSG: polllist_votes}</th>
	<th nowrap><div align="center">{MSG: polllist_action}</div></th>
</tr>
{TEMPLATE-DATA: poll_entries}
</table>
<p>
{TEMPLATE-DATA: pager}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
