/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: post_proc.tmpl,v 1.8 2005/02/10 14:06:22 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: post_proc.inc.t; output: post_proc.inc;}
{REF: rev_fmt.tmpl}

{SECTION: post_proc_reveal_spoiler}
{MSG: post_proc_reveal_spoiler}
{SECTION: END}

{SECTION: post_quote}
{MSG: post_quote}
{SECTION: END}

{SECTION: post_html_quote_start_p1}
<table border="0" align="center" width="90%" cellpadding="3" cellspacing="1"><tr><td class="SmallText"><b>
{SECTION: END}

{SECTION: post_html_quote_start_p2}
</b></td></tr><tr><td class="quote"><br />
{SECTION: END}

{SECTION: post_html_quote_start}
{TEMPLATE: post_html_quote_start_p1}{VAR: parms}{TEMPLATE: post_html_quote_start_p2}
{SECTION: END}

{SECTION: post_html_quote_end}
<br /></td></tr></table>
{SECTION: END}
