/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: post.tmpl,v 1.65 2006/04/07 00:54:09 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: post.php.t; output: post.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_select_opt.tmpl}
{REF: draw_radio_opt.tmpl}
{REF: rev_fmt.tmpl}
{REF: post_opt.tmpl}
{REF: post_proc.tmpl}
{REF: replace.tmpl}
{REF: wordwrap.tmpl}
{REF: spell.tmpl}
{REF: thread_notify.tmpl}
{REF: postcheck.tmpl}
{REF: ipoll.tmpl}
{REF: imsg_edt.tmpl}
{REF: return.tmpl}
{REF: minimsg.tmpl}
{REF: allowed_user_lnk.tmpl}
{REF: logaction.tmpl}
{REF: post_common.tmpl}
{REF: th.tmpl}
{REF: is_perms.tmpl}
{REF: captcha.tmpl}

{SECTION: post_turing_test}
<tr class="RowStyleA"><td>{MSG: register_turing}{FUNC: get_err('reg_turing')}</td><td class="vt"><input type="text" name="turing_test" value=""></td></tr>
<tr class="RowStyleB"><td colspan="2"><div style="white-space: pre; font-family: Courier, monospace; color: black; background-color: #C0C0C0;">{FUNC: generate_turing_val($turing_res)}<input type="hidden" name="turing_res" value="{VAR: turing_res}"></div></td></tr>
{SECTION: END}

{SECTION: apply_spell_changes}
<input accesskey="a" type="submit" class="button" name="btn_spell" value="{MSG: apply_spell_changes}">&nbsp;
{SECTION: END}

{SECTION: signature}
<p /><hr class="sig" />{VAR: sig}
{SECTION: END}

{SECTION: preview_message}
<div id="preview" class="ctb">
<table cellspacing="1" cellpadding="2" class="PreviewTable">
<tr><th colspan=2>{MSG: post_preview}</th></tr>
<tr><td class="RowStyleA MsgSubText">{VAR: subj}</td></tr>
<tr><td class="RowStyleA MsgBodyText">{VAR: text}{TEMPLATE-DATA: signature}</td></tr>
<tr><td class="RowStyleB al">{IF: $spell}{TEMPLATE: apply_spell_changes}{ENDIFI}<input type="submit" class="button" value="{MSG: post_preview_btn}" tabindex="4" name="preview">&nbsp;{TEMPLATE-DATA: spell_check_button}<input type="submit" class="button" tabindex="5" name="btn_submit" value="{VAR: label}" onClick="javascript: document.post_form.submitted.value=1;"></td></tr>
</table><br /></div>
{SECTION: END}

{SECTION: loged_in_user shows who you're logged in as and offers a logout link}
<tr class="RowStyleB"><td class="GenText nw">{MSG: post_logedin_user}</td><td class="GenText wa">{VAR: usr->alias} [<a href="{TEMPLATE: loged_in_user_lnk}">{MSG: post_logout}</a>]</td></tr>
{SECTION: END}

{SECTION: post_password if password posting enable this allows the user to enter a password}
<tr class="RowStyleB"><td class="GenText">{MSG: post_passwd}</td><td><input type="password" name="frm_passwd" value="" tabindex="1">{FUNC: get_err('password')}</td></tr>
{SECTION: END}

{SECTION: create_poll}
<tr class="RowStyleB"><td class="GenText">{MSG: post_poll}</td><td class="GenText"><a href="javascript://" accesskey="o" onClick="javascript: window_open(\'{TEMPLATE: create_poll_lnk1}\', \'poll_creator\', 400, 300);">[{MSG: post_create_poll}]</a></td></tr>
{SECTION: END}

{SECTION: edit_poll}
<tr class="RowStyleB"><td class="GenText">{MSG: post_poll}</td><td class="GenText">{VAR: poll[1]} [<a href="javascript://" accesskey="o" onClick="javascript: window_open(\'{TEMPLATE: edit_poll_lnk1}\', \'poll\', 400, 300);">{MSG: post_poll_edit}</a>] <input type="hidden" name="pl_del" value="">[<a href="javascript: document.post_form.pl_del.value=\'1\'; document.post_form.submit();">{MSG: post_poll_delete}</a>]</td></tr>
{SECTION: END}

{SECTION: admin_options options for moderators & admins to create announcements and sticky threads}
<tr class="RowStyleB"><td class="GenText nw">{MSG: post_mod_opt}</td>
<td>
{MSG: post_thread_type} <select name="thr_ordertype">{TEMPLATE-DATA: thread_type_select}</select>
{MSG: post_thread_expiry} <select name="thr_orderexpiry">{TEMPLATE-DATA: thread_expiry_select}</select>
</td>
</tr>
{SECTION: END}

{SECTION: reg_user_options various options for logged in registered users}
<tr><td><input type="checkbox" name="msg_poster_notif" value="Y"{IF: $msg_poster_notif} checked{ENDIFI}></td><td class="GenText fb">{MSG: post_notification}</td></tr>
<tr><td>&nbsp;</td><td class="SmallText">{MSG: post_notification_desc}</td></tr>
<tr><td><input type="checkbox" name="msg_show_sig" value="Y"{IF: $msg_show_sig} checked{ENDIFI}></td><td class="GenText fb">{MSG: include_sig}</td></tr>
<tr><td>&nbsp;</td><td class="SmallText">{MSG: include_sig_desc}</td></tr>
{TEMPLATE-DATA: mod_post_opts}
{SECTION: END}

{SECTION: mod_post_opts}
<tr><td><input type="checkbox" name="thr_locked" value="Y"{VAR: thr_locked_checked}></td><td class="GenText fb">{MSG: post_locked}</td></tr>
{SECTION: END}

{SECTION: disable_smileys}
<tr><td><input type="checkbox" name="msg_smiley_disabled" value="Y"{IF: $msg_smiley_disabled} checked{ENDIFI}></td><td class="GenText fb">{MSG: disable_smilies}</td></tr>
{SECTION: END}

{SECTION: spell_check_button}
<input accesskey="k" type="submit" class="button" value="{MSG: spell_check_msg}" name="spell">&nbsp;
{SECTION: END}

{SECTION: post_error an error message shown at the top of ppage if there was an error with submission}
<h4 class="ac ErrorText">{MSG: post_error_generic}</h4>
{SECTION: END}

{PAGE: moderated_forum_post}
{TEMPLATE: header}
{TEMPLATE: usercp}
<div class="ctb"><table cellspacing="1" cellpadding="2" class="DialogTable">
<tr><th>{MSG: post_moderated_forum_ttl}</th></tr>
<tr class="RowStyleA">
	<td class="GenText ac">
		{MSG: post_moderated_forum}
		<br /><br /><form action="{TEMPLATE: moderated_forum_post_lnk3}" method="post">{DEF: _hs}
		<input type="submit" class="button" name="proceed" value="{MSG: post_proceed}">
		<input type="hidden" name="moderated_redr" value="1">
		</form>
	</td>
</tr>
</table></div>
{TEMPLATE: curtime}
{TEMPLATE: footer}
{PAGE: END}

{PAGE: POST_PAGE message posting form}
{TEMPLATE: header}
{TEMPLATE: usercp}
<form action="{TEMPLATE: POST_PAGE_lnk3}" method="post" name="post_form" enctype="multipart/form-data" onSubmit="javascript: document.post_form.btn_submit.disabled = true;">
{TEMPLATE-DATA: post_error}
{TEMPLATE-DATA: preview_message}
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2><a name="ptop"> </a>{MSG: post_form}</th></tr>
{IF: _uid}{TEMPLATE: loged_in_user}{ELSE}<tr class="RowStyleA"><td colspan="2" class="GenTextRed fb">{MSG: post_not_logged_in}</td></tr>{ENDI}
{IF: $frm->forum_opt & 4 && !$is_a}{TEMPLATE: post_password}{ENDIF}
<tr class="RowStyleB"><td class="GenText">{MSG: post_forum}</td><td class="GenText">{VAR: frm->name}</td></tr>
<tr class="RowStyleB"><td class="GenText">{MSG: post_title}</td><td class="GenText"><input type="text" maxLength=100 name="msg_subject" value="{VAR: msg_subject}" size=50 tabindex="2"> {FUNC: get_err('msg_subject')}</td></tr>
{TEMPLATE-DATA: poll}
{TEMPLATE-DATA: admin_options}
{FUNC: draw_post_icons((isset($_POST['msg_icon']) ? $_POST['msg_icon'] : ''))}
{IF: $perms & 16384}{FUNC: draw_post_smiley_cntrl()}{ENDIF}
{IF: $frm->forum_opt & 16}{TEMPLATE: fud_code_icons}{ENDIF}

<tr class="RowStyleA"><td class="vt nw GenText">{MSG: post_body}<br /><br />{FUNC: tmpl_post_options($frm->forum_opt, $perms)}</td><td>{FUNC: get_err('msg_body', 1)}<textarea rows="20" cols="65" tabindex="3" wrap="virtual" id="txtb" style="float: left" name="msg_body" onKeyUp="storeCaret(this);" onClick="storeCaret(this);" onSelect="storeCaret(this);">{VAR: msg_body}</textarea>

<a href="javascript://" onClick="rs_txt_box('txtb', 5, 0);"><img alt="" src="{THEME_IMAGE_ROOT}/rs_hb.gif" style="margin: 2px" /></a><br />
<a href="javascript://" onClick="rs_txt_box('txtb', 0, 10);"><img alt="" src="{THEME_IMAGE_ROOT}/rs_vb.gif" style="margin: 2px" /></a><br />
<a href="javascript://" onClick="rs_txt_box('txtb', -5, 0);"><img alt="" src="{THEME_IMAGE_ROOT}/rs_hs.gif" style="margin: 2px" /></a><br /> 
<a href="javascript://" onClick="rs_txt_box('txtb', 0, -10);"><img alt="" src="{THEME_IMAGE_ROOT}/rs_vs.gif" style="margin: 2px" /></a>

</td></tr>

{TEMPLATE-DATA: file_attachments}
{IF: !_uid && $FUD_OPT_3 & 8192}{TEMPLATE: post_turing_test}{ENDIF}

<tr class="RowStyleB vt">
<td class="GenText">{MSG: post_options}</td>
<td>
<table border=0 cellspacing=0 cellpadding=1>
{IF: _uid}{TEMPLATE: reg_user_options}{ENDIF}
{IF: $perms & 16384}{TEMPLATE: disable_smileys}{ENDIF}
</table>
</td></tr>
<tr class="RowStyleA"><td class="GenText ar" colspan=2>
<input type="submit" accesskey="r" class="button" value="{MSG: post_preview_btn}" tabindex="4" name="preview">&nbsp;{TEMPLATE-DATA: spell_check_button}<input accesskey="s" type="submit" class="button" tabindex="5" name="btn_submit" value="{VAR: label}" onClick="javascript: document.post_form.submitted.value=1;"></td></tr>
</table>
{TEMPLATE-DATA: minimsg}
{DEF: _hs}
<input type="hidden" name="submitted" value="">
<input type="hidden" name="reply_to" value="{VAR: reply_to}">
<input type="hidden" name="th_id" value="{VAR: th_id}">
<input type="hidden" name="frm_id" value="{VAR: frm_id}">
<input type="hidden" name="start" value="{VAR: start}">
<input type="hidden" name="msg_id" value="{VAR: msg_id}">
<input type="hidden" name="pl_id" value="{VAR: pl_id}">
<input type="hidden" name="old_subject" value="{VAR-HTML: old_subject}">
<input type="hidden" name="prev_loaded" value="1">
</form>
<script language="javascript" type="text/javascript">
<!--
if (!document.getElementByid('preview')) {
	if (!document.post_form.msg_subject.value.length) {
		document.post_form.msg_subject.focus();
	} else {
		document.post_form.msg_body.focus();
	}
}
//-->
</script>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: post_err_lockedthread_title}
{MSG: post_err_lockedthread_title}
{SECTION: END}

{SECTION: post_err_lockedthread_msg}
{MSG: post_err_lockedthread_msg}
{SECTION: END}

{SECTION: post_err_edttimelimit_title}
{MSG: post_err_edttimelimit_title}
{SECTION: END}

{SECTION: post_err_edttimelimit_msg}
{MSG: post_err_edttimelimit_msg}
{SECTION: END}

{SECTION: post_err_noannontopics_msg}
{MSG: post_err_noannontopics_msg2}
{SECTION: END}

{SECTION: post_err_noannonposts_msg}
{MSG: post_err_noannonposts_msg2}
{SECTION: END}

{SECTION: post_err_floodtrig_title}
{MSG: post_err_floodtrig_title}
{SECTION: END}

{SECTION: post_err_floodtrig_msg}
{MSG: post_err_floodtrig_msg}
{SECTION: END}

{SECTION: post_err_attach_size}
{MSG: post_err_attach_size}
{SECTION: END}

{SECTION: post_err_attach_ext}
{MSG: post_err_attach_ext}
{SECTION: END}

{SECTION: post_err_attach_filelimit}
{MSG: post_err_attach_filelimit}
{SECTION: END}

{SECTION: post_err_passwd}
{MSG: post_err_passwd}
{SECTION: END}

{SECTION: post_reply_update}
{MSG: post_reply_update}
{SECTION: END}

{SECTION: post_topic_update}
{MSG: post_topic_update}
{SECTION: END}

{SECTION: post_normal}
{MSG: post_normal}
{SECTION: END}

{SECTION: post_sticky}
{MSG: post_sticky}
{SECTION: END}

{SECTION: post_annoncement}
{MSG: post_annoncement}
{SECTION: END}

{SECTION: create_thread}
{MSG: create_thread}
{SECTION: END}

{SECTION: submit_reply}
{MSG: submit_reply}
{SECTION: END}

{SECTION: edit_message}
{MSG: edit_message}
{SECTION: END}

{SECTION: fud_quote quote style for FUD code enabled forums}
[quote title={MSG: post_quote_msg}]{VAR: msg_body}[/quote]
{SECTION: END}

{SECTION: html_quote quote style for html enabled forums}
<table border="0" align="center" width="90%" cellpadding="3" cellspacing="1"><tr><td class="SmallText"><b>{MSG: post_quote_msg}</b></td></tr><tr><td class="quote"><br />{VAR: msg_body}<br /></td></tr></table>
{SECTION: END}

{SECTION: plain_quote quoting style for plain text forums}
{MSG: post_quote} {MSG: post_quote_msg}<br />----------------------------------------------------<br />{VAR: msg_body}<br />----------------------------------------------------<br />
{SECTION: END}

{SECTION: th_expr_never}
{MSG: th_expr_never}
{SECTION: END}

{SECTION: th_expr_one_hr}
{MSG: th_expr_one_hr}
{SECTION: END}

{SECTION: th_expr_three_hr}
{MSG: th_expr_three_hr}
{SECTION: END}

{SECTION: th_expr_four_hr}
{MSG: th_expr_four_hr}
{SECTION: END}

{SECTION: th_expr_eight_hr}
{MSG: th_expr_eight_hr}
{SECTION: END}

{SECTION: th_expr_sixteen_hr}
{MSG: th_expr_sixteen_hr}
{SECTION: END}

{SECTION: th_expr_one_day}
{MSG: th_expr_one_day}
{SECTION: END}

{SECTION: th_expr_two_day}
{MSG: th_expr_two_day}
{SECTION: END}

{SECTION: th_expr_four_day}
{MSG: th_expr_four_day}
{SECTION: END}

{SECTION: th_expr_one_week}
{MSG: th_expr_one_week}
{SECTION: END}

{SECTION: th_expr_two_week}
{MSG: th_expr_two_week}
{SECTION: END}

{SECTION: th_expr_one_month}
{MSG: th_expr_one_month}
{SECTION: END}

{SECTION: th_expr_two_month}
{MSG: th_expr_two_month}
{SECTION: END}

{SECTION: th_expr_four_month}
{MSG: th_expr_four_month}
{SECTION: END}

{SECTION: th_expr_one_year}
{MSG: th_expr_one_year}
{SECTION: END}

{SECTION: reply_prefix used to check if the subject needs it added}
{MSG: post_re}
{SECTION: END}

{SECTION: post_mod_msg_notify_title}
{MSG: post_mod_msg_notify_title}
{SECTION: END}

{SECTION: post_mod_msg_notify_msg}
{MSG: post_mod_msg_notify_msg}
{SECTION: END}

{SECTION: loged_in_user_lnk}
{ROOT}?t=login&amp;{DEF: _rsid}&amp;logout=1&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: create_poll_lnk1}
{FULL_ROOT}{ROOT}?t=poll&amp;{DEF: _rsid}&amp;frm_id={VAR: frm->id}
{SECTION: END}

{SECTION: edit_poll_lnk1}
{FULL_ROOT}{ROOT}?t=poll&amp;{DEF: _rsid}&amp;pl_id={VAR: poll[0]}&amp;frm_id={VAR: frm->id}
{SECTION: END}

{SECTION: moderated_forum_post_lnk3}
{ROOT}?t=post
{SECTION: END}

{SECTION: POST_PAGE_lnk3}
{ROOT}?t=post
{SECTION: END}

{SECTION: post_err_mod_forum_edit_ttl}
{MSG: post_err_mod_forum_edit_ttl}
{SECTION: END}

{SECTION: post_err_mod_forum_edit_msg}
{MSG: post_err_mod_forum_edit_msg}
{SECTION: END}

{SECTION: imsg_err_message_title}
{MSG: imsg_err_message_title}
{SECTION: END}

{SECTION: imsg_err_message_msg}
{MSG: imsg_err_message_msg}
{SECTION: END}
