/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: post_proc.tmpl,v 1.15 2009/07/13 17:09:50 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: post_proc.inc.t; output: post_proc.inc;}
{REF: rev_fmt.tmpl}

{SECTION: post_proc_reveal_spoiler}
{MSG: post_proc_reveal_spoiler}
{SECTION: END}

{SECTION: post_quote}
{MSG: post_quote}
{SECTION: END}

{SECTION: post_html_quote_start_p1}
<cite>
{SECTION: END}

{SECTION: post_html_quote_start_p2}
</cite><blockquote>
{SECTION: END}

{SECTION: post_html_quote_start}
{TEMPLATE: post_html_quote_start_p1}{VAR: parms}{TEMPLATE: post_html_quote_start_p2}
{SECTION: END}

{SECTION: post_html_quote_end}
</blockquote>
{SECTION: END}
