/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: post_common.tmpl,v 1.34 2009/02/26 14:16:06 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: post_common.inc.t; output: post_common.inc;}
{REF: smiley.tmpl}

{SECTION: post_smiley_entry}
<a href="javascript: insertTag(document.post_form.msg_body, \'\', \' {VAR: PS_DST[$i]} \');">{VAR: PS_SRC[$i++]}</a>&nbsp;
{SECTION: END}

{SECTION: post_smilies}
<tr class="RowStyleA"><td class="nw vt GenText">{MSG: post_smiley}
	<br /><span class="small">[<a href="javascript://" onclick="window_open(\'{TEMPLATE: post_smilies_lnk1}\', \'sml_list\', 220, 200);">{MSG: post_list_smilies}</a>]</span>
</td>
<td class="vt"><table border="0" cellspacing="5" cellpadding="0"><tr class="vb"><td>{TEMPLATE-DATA: data}</td></tr></table></td></tr>
{SECTION: END}

{SECTION: fud_code_icons shortcuts to various FUDcode text formatting tools}
<tr class="RowStyleA"><td class="GenText nw">{MSG: post_format_tools}</td><td>
<table border="0" cellspacing="0" cellpadding="0">
<tr><td>
<table cellspacing="1" cellpadding="2" class="FormattingToolsBG">
<tr>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_bold}" accesskey="b" href="javascript: insertTag(document.post_form.msg_body, \'[B]\', \'[/B]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_bold.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_italics}" accesskey="i" href="javascript: insertTag(document.post_form.msg_body, \'[I]\', \'[/I]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_italic.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_underline}" accesskey="u" href="javascript: insertTag(document.post_form.msg_body, \'[U]\', \'[/U]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_underline.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_align_left}" href="javascript: insertTag(document.post_form.msg_body, \'[ALIGN=left]\', \'[/ALIGN]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_aleft.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_align_center}" href="javascript: insertTag(document.post_form.msg_body, \'[ALIGN=center]\', \'[/ALIGN]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_acenter.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_align_right}" href="javascript: insertTag(document.post_form.msg_body, \'[ALIGN=right]\', \'[/ALIGN]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_aright.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_link}" accesskey="w" href="javascript: url_insert();"><img alt="" src="{THEME_IMAGE_ROOT}/b_url.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_email}" accesskey="e" href="javascript: email_insert();"><img alt="" src="{THEME_IMAGE_ROOT}/b_email.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_image}" accesskey="m" href="javascript: image_insert();"><img alt="" src="{THEME_IMAGE_ROOT}/b_image.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_nlist}" accesskey="l" href="javascript: window_open(\'{TEMPLATE: fud_code_icons_lnk1}\', \'listmaker\', 350, 350);"><img alt="" src="{THEME_IMAGE_ROOT}/b_numlist.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_blist}" href="javascript: window_open(\'{TEMPLATE: fud_code_icons_lnk2}\', \'listmaker\', 350, 350);"><img alt="" src="{THEME_IMAGE_ROOT}/b_bulletlist.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_quote}" accesskey="q" href="javascript: insertTag(document.post_form.msg_body, \'[QUOTE]\', \'[/QUOTE]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_quote.gif" /></a></td>
<td class="FormattingToolsCLR"><a title="{MSG: post_common_code}" accesskey="c" href="javascript: insertTag(document.post_form.msg_body, \'[CODE]\', \'[/CODE]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_code.gif" /></a></td>
</tr>
</table>
</td>
<td>&nbsp;&nbsp;
<select name="fnt_size" onchange="insertTag(document.post_form.msg_body, \'[SIZE=\'+document.post_form.fnt_size.options[this.selectedIndex].value+\']\', \'[/SIZE]\'); document.post_form.fnt_size.options[0].selected=true">
<option value="" selected="selected">{MSG: post_size}</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select>
<select name="fnt_color" onchange="insertTag(document.post_form.msg_body, \'[COLOR=\'+document.post_form.fnt_color.options[this.selectedIndex].value+\']\', \'[/COLOR]\'); document.post_form.fnt_color.options[0].selected=true">
<option value="">{MSG: post_color}</option>
<option value="skyblue" style="color:skyblue">Sky Blue</option>
<option value="royalblue" style="color:royalblue">Royal Blue</option>
<option value="blue" style="color:blue">Blue</option>
<option value="darkblue" style="color:darkblue">Dark Blue</option>
<option value="orange" style="color:orange">Orange</option>
<option value="orangered" style="color:orangered">Orange Red</option>
<option value="crimson" style="color:crimson">Crimson</option>
<option value="red" style="color:red">Red</option>
<option value="firebrick" style="color:firebrick">Firebrick</option>
<option value="darkred" style="color:darkred">Dark Red</option>
<option value="green" style="color:green">Green</option>
<option value="limegreen" style="color:limegreen">Lime Green</option>
<option value="seagreen" style="color:seagreen">Sea Green</option>
<option value="deeppink" style="color:deeppink">Deep Pink</option>
<option value="tomato" style="color:tomato">Tomato</option>
<option value="coral" style="color:coral">Coral</option>
<option value="purple" style="color:purple">Purple</option>
<option value="indigo" style="color:indigo">Indigo</option>
<option value="burlywood" style="color:burlywood">Burly Wood</option>
<option value="sandybrown" style="color:sandybrown">Sandy Brown</option>
<option value="sienna" style="color:sienna">Sienna</option>
<option value="chocolate" style="color:chocolate">Chocolate</option>
<option value="teal" style="color:teal">Teal</option>
<option value="silver" style="color:silver">Silver</option>
</select>
<select name="fnt_face" onchange="insertTag(document.post_form.msg_body, \'[FONT=\'+document.post_form.fnt_face.options[this.selectedIndex].value+\']\', \'[/FONT]\'); document.post_form.fnt_face.options[0].selected=true">
<option value="">{MSG: post_font}</option>
<option value="Arial" style="font-family:Arial">Arial</option>
<option value="Times" style="font-family:Times">Times</option>
<option value="Courier" style="font-family:Courier">Courier</option>
<option value="Century" style="font-family:Century">Century</option>
</select>
</td></tr></table></td></tr>
{SECTION: END}

{SECTION: post_icon_entry}
<td valign="middle" style="white-space: nowrap"><input type="radio" name="msg_icon" value="{VAR: f}"{IF: $f == $msg_icon} checked="checked"{ENDIF} /><img src="images/message_icons/{VAR: f}" alt="" /></td>
{SECTION: END}

{SECTION: post_icon_row}
<tr>{TEMPLATE-DATA: tmp}</tr>
{SECTION: END}

{SECTION: post_icons}
<tr class="RowStyleA"><td class="vt GenText">{MSG: post_icons}</td><td>
<table border="0" cellspacing="0" cellpadding="2">
<tr><td class="GenText" colspan="{GVAR: POST_ICONS_PER_ROW}"><input type="radio" name="msg_icon" value=""{IF: !$msg_icon} checked="checked"{ENDIF} />{MSG: post_no_icon}</td></tr>
{TEMPLATE-DATA: data}
</table>
</td></tr>
{SECTION: END}

{SECTION: resize_controls}
<a href="javascript://" onclick="rs_txt_box(50, 0);"><img alt="⇨" src="{THEME_IMAGE_ROOT}/rs_hb.gif" style="margin: 2px" /></a><br />
<a href="javascript://" onclick="rs_txt_box(0, 100);"><img alt="⇩" src="{THEME_IMAGE_ROOT}/rs_vb.gif" style="margin: 2px" /></a><br />
<a href="javascript://" onclick="rs_txt_box(-50, 0);"><img alt="⇦" src="{THEME_IMAGE_ROOT}/rs_hs.gif" style="margin: 2px" /></a><br />
<a href="javascript://" onclick="rs_txt_box(0, -100);"><img alt="⇧" src="{THEME_IMAGE_ROOT}/rs_vs.gif" style="margin: 2px" /></a><br />
{SECTION: END}

{SECTION: common_javascript}
<script type="text/javascript">
/* <![CDATA[ */
if (!document.getElementById('preview')) {
        if (!document.post_form.msg_subject.value.length) {
                document.post_form.msg_subject.focus();
        } else {
                document.post_form.msg_body.focus();
        }
}

$(function init() {
$('textarea.resizable:not(.textarea-processed)').each(function() {
var textarea = $(this).addClass('textarea-processed'), staticOffset = null;

$(this).wrap('<div class="resizable-textarea"><span></span></div>')
.parent().append($('<div class="grippie"></div>').mousedown(startDrag));

var grippie = $('div.grippie', $(this).parent())[0];
grippie.style.marginRight = (grippie.offsetWidth - $(this)[0].offsetWidth) +'px';

function startDrag(e) {
  staticOffset = textarea.height() - e.pageY;
  textarea.css('opacity', 0.25);
  $(document).mousemove(performDrag).mouseup(endDrag);
  return false;
}

function performDrag(e) {
  textarea.height(Math.max(32, staticOffset + e.pageY) + 'px');
  return false;
}

function endDrag(e) {
  $(document).unbind("mousemove", performDrag).unbind("mouseup", endDrag);
  textarea.css('opacity', 1);
}
});
});
/* ]]> */
</script> 
{SECTION: END}

{SECTION: insert_uploaded_image}
&nbsp;|&nbsp;<a href="javascript: insertTag(document.post_form.msg_body, \'[img]{ROOT}?t=getfile&id={VAR: r[0]}&private={VAR: private}\', \'[/img]\');">{MSG: insert_uploaded_image}</a>
{SECTION: END}

{SECTION: attached_file}
<tr>
	<td class="RowStyleB">{VAR: r[2]}</td>
	<td class="RowStyleB">{VAR: sz}</td>
	<td class="RowStyleB"><a href="javascript: document.forms[\'post_form\'].file_del_opt.value=\'{VAR: r[0]}\'; document.forms[\'post_form\'].submit();">{MSG: post_file_del}</a>{TEMPLATE-DATA: insert_uploaded_image}</td>
</tr>
{SECTION: END}

{SECTION: upload_file}
<input type="file" name="attach_control"> <input type="submit" class="button" name="attach_control_add" value="{MSG: post_upload_file}" />
<input type="hidden" name="tmp_f_val" value="1" />
{SECTION: END}

{SECTION: attached_status count of already attached files}
<span class="SmallText"> {MSG: post_cur_attached}
{SECTION: END}

{SECTION: attachment_list list of all the attached files}
{IF: $i}
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr>
	<th>{MSG: post_file_name}</th>
	<th>{MSG: post_file_size}</th>
	<th>{MSG: action}</th>
</tr>
{TEMPLATE-DATA: attached_files}
</table>
<input type="hidden" name="file_del_opt" value="" />
{ENDIFI}
{IF: isset($enc)}<input type="hidden" name="file_array" value="{VAR: enc}" />{ENDIF}
{SECTION: END}

{SECTION: file_attachments}
<tr class="RowStyleB"><td class="GenText vt nw">{MSG: file_attachments}</td><td>
{TEMPLATE: attachment_list}
{VAR: attach_control_error}
<span class="SmallText"><b>{MSG: allowed_files}</b> {TEMPLATE-DATA: allowed_extensions}<br /><b>{MSG: max_file_size}</b> {VAR: max_as}Kb<br /><b>{MSG: max_files_per_msg}</b> {VAR: max_a}
{IF: $i}{TEMPLATE: attached_status}{ENDIFI}
</span><p />
{IF: (($i + 1) <= $max_a)}{TEMPLATE: upload_file}{ENDIF}
</td></tr>
{SECTION: END}

{SECTION: post_proc_all_ext_allowed}
{MSG: post_all_ext_allowed}
{SECTION: END}

{SECTION: post_smilies_lnk1}
{FULL_ROOT}{ROOT}?t=smladd
{SECTION: END}

{SECTION: fud_code_icons_lnk1}
{FULL_ROOT}{ROOT}?t=mklist&amp;{DEF: _rsid}&amp;tp=OL:1
{SECTION: END}

{SECTION: fud_code_icons_lnk2}
{FULL_ROOT}{ROOT}?t=mklist&amp;{DEF: _rsid}&amp;tp=UL:square
{SECTION: END}
