/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: ppost.tmpl,v 1.8 2002/08/23 03:32:42 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: ppost.php.t; output: ppost.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: stats.tmpl}
{REF: usercp.tmpl}
{REF: users_reg.tmpl}
{REF: smiley.tmpl}
{REF: ipfilter.tmpl}
{REF: iemail.tmpl}
{REF: postcheck.tmpl}
{REF: spell.tmpl}
{REF: wordwrap.tmpl}
{REF: private.tmpl}
{REF: post_opt.tmpl}
{REF: rev_fmt.tmpl}
{REF: return.tmpl}
{REF: attach.tmpl}
{REF: post_proc.tmpl}
{REF: replace.tmpl}
{REF: get_cur_ppage.tmpl}
{REF: tabs.tmpl}
{REF: allowed_user_lnk.tmpl}

{SECTION: post_error}
<h4 align="center"><font class="ErrorText">{MSG: post_error_generic}</font></h4>
{SECTION: END}

{SECTION: apply_spell_changes}
<tr><td align="left" class="RowStyleB"><input type="submit" class="button" name="btn_spell" value="{MSG: apply_spell_changes}"></td></tr>
{SECTION: END}

{SECTION: signature}
<p><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br />{VAR: usr->sig}
{SECTION: END}

{SECTION: preview_message}
<div align="center"><table border="0" cellspacing="1" cellpadding="2" class="PreviewTable">
<tr><th colspan=2>{MSG: post_preview}</th></tr>
<tr><td class="RowStyleA"><font class="MsgSubText">{VAR: subj}</font></td></tr>
<tr><td class="RowStyleA"><font class="MsgBodyText">{VAR: text}{TEMPLATE-DATA: signature}</font></td></tr>
{TEMPLATE-DATA: apply_spell_changes}
</table></div><br />
{SECTION: END}

{SECTION: post_icon_entry}
<td nowrap valign=middle><input type="radio" name="msg_icon" value="{VAR: de}"{VAR: checked}><img src="{VAR: icon_path_www}{VAR: de}" alt="" border=0 /></td>
{SECTION: END}

{SECTION: post_icon_row}
<tr>{TEMPLATE-DATA: post_icon_entry}</tr>
{SECTION: END}

{SECTION: post_icons}
<tr class="RowStyleA"><td valign=top class="GenText">{MSG: post_icons}</td><td>
<table border=0 cellspacing=0 cellpadding=2>
<tr><td class="GenText" colspan={VAR: col_count}><input type="radio" name="msg_icon" value=""{VAR: none_checked}>{MSG: post_no_icon}</td></tr>
{TEMPLATE-DATA: post_icons_rows}
</table>
</td></tr>
{SECTION: END}

{SECTION: post_smiley_entry}
<td><a href="javascript: insertTag(document.post_form.msg_body, \'\', \' {VAR: obj->code} \');"><img title="{VAR: obj->descr}" alt="{VAR: obj->descr}" src="{VAR: smiley_www}{VAR: obj->img}" border=0 /></a></td>
{SECTION: END}

{SECTION: post_smiley_row}
<tr valign=bottom>
{TEMPLATE-DATA: post_smiley_entry}
</tr>
{SECTION: END}

{SECTION: post_smilies}
<tr class="RowStyleA"><td nowrap valign=top class="GenText">{MSG: post_smiley}
	<br /><font size="-1">[<a href="javascript://" onClick="javascript: window_open(\'{ROOT}?t=smladd\', \'sml_list\', 220, 200);">{MSG: post_list_smilies}</a>]</font>
</td>
<td valign=top><table border=0 cellspacing=5 cellpadding=0>{TEMPLATE-DATA: post_smiley_row}</table></td></tr>
{SECTION: END}

{SECTION: fud_code_icons the fud code toolbar}
<tr class="RowStyleA"><td nowrap class="GenText">{MSG: post_format_tools}</td><td>
<table border=0 cellspacing=0 cellpadding=0>
<tr><td>
<table border=0 cellspacing=1 cellpadding=2 class="FormattingToolsBG">
<tr>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[B]\', \'[/B]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_bold.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[I]\', \'[/I]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_italic.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[U]\', \'[/U]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_underline.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[ALIGN=left]\', \'[/ALIGN]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_aleft.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[ALIGN=center]\', \'[/ALIGN]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_acenter.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[ALIGN=right]\', \'[/ALIGN]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_aright.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: url_insert();"><img alt="" src="{THEME_IMAGE_ROOT}/b_url.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: email_insert();"><img alt="" src="{THEME_IMAGE_ROOT}/b_email.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: image_insert();"><img alt="" src="{THEME_IMAGE_ROOT}/b_image.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: window_open(\'{ROOT}?t=mklist&amp;{DEF: _rsid}&amp;tp=OL:1\', \'listmaker\', 350, 350);"><img alt="" src="{THEME_IMAGE_ROOT}/b_numlist.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: window_open(\'{ROOT}?t=mklist&amp;{DEF: _rsid}&amp;tp=UL:square\', \'listmaker\', 350, 350);"><img alt="" src="{THEME_IMAGE_ROOT}/b_bulletlist.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[QUOTE]\', \'[/QUOTE]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_quote.gif" border=0 /></a></td>
<td class="FormattingToolsCLR"><a href="javascript: insertTag(document.post_form.msg_body, \'[CODE]\', \'[/CODE]\');"><img alt="" src="{THEME_IMAGE_ROOT}/b_code.gif" border=0 /></a></td>
</tr>
</table>
</td>
<td>&nbsp;&nbsp;
<select name="fnt_size" onChange="javascript:insertTag(document.post_form.msg_body, \'[SIZE=\'+document.post_form.fnt_size.options[this.selectedIndex].value+\']\', \'[/SIZE]\'); document.post_form.fnt_size.options[0].selected=true">
<option value="" selected>{MSG: post_size}</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select>
<select name="fnt_color" onChange="javascript:insertTag(document.post_form.msg_body, \'[COLOR=\'+document.post_form.fnt_color.options[this.selectedIndex].value+\']\', \'[/COLOR]\'); document.post_form.fnt_color.options[0].selected=true">
<option value="">{MSG: post_color}</option>
<option value="skyblue" style="background-color:skyblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="royalblue" style="background-color:royalblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="blue" style="background-color:blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="darkblue" style="background-color:darkblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="orange" style="background-color:orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="orangered" style="background-color:orangered">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="crimson" style="background-color:crimson">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="red" style="background-color:red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="firebrick" style="background-color:firebrick">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="darkred" style="background-color:darkred">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="green" style="background-color:green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="limegreen" style="background-color:limegreen">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="seagreen" style="background-color:seagreen">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="deeppink" style="background-color:deeppink">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="tomato" style="background-color:tomato">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="coral" style="background-color:coral">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="purple" style="background-color:purple">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="indigo" style="background-color:indigo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="burlywood" style="background-color:burlywood">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="sandybrown" style="background-color:sandybrown">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="sienna" style="background-color:sienna">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="chocolate" style="background-color:chocolate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="teal" style="background-color:teal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<option value="silver" style="background-color:silver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
</select>
<select name="fnt_face" onChange="javascript:insertTag(document.post_form.msg_body, \'[FONT=\'+document.post_form.fnt_face.options[this.selectedIndex].value+\']\', \'[/FONT]\'); document.post_form.fnt_face.options[0].selected=true">
<option value="">{MSG: post_font}</option>
<option value="Arial" style="font-family:Arial">Arial</option>
<option value="Times" style="font-family:Times">Times</option>
<option value="Courier" style="font-family:Courier">Courier</option>
<option value="Century" style="font-family:Century">Century</option>
</select>
</td></tr></table></td></tr>
{SECTION: END}

{SECTION: attached_file}
<tr>
	<td class="RowStyleB">{VAR: v['name']}</td>
	<td class="RowStyleB">{VAR: sz}</td>
	<td class="RowStyleB"><a class="GenLink" href="javascript: document.post_form.file_del_opt.value=\'{VAR: k}\'; document.post_form.submit();">{MSG: post_file_del}</a></td>
</tr>
{SECTION: END}

{SECTION: upload_file}
<input type="file" name="attach_control"> <input type="submit" class="button" name="attach_control_add" value="{MSG: post_upload_file}">
{SECTION: END}

{SECTION: attached_status}
<font class="SmallText"> {MSG: ppost_cur_attached} 
{SECTION: END}

{SECTION: attachment_list}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr>
	<th>{MSG: post_file_name}</th>
	<th>{MSG: post_file_size}</th>
	<th>{MSG: action}</th>
</tr>
{TEMPLATE-DATA: attached_files}
</table>
<input type="hidden" name="file_del_opt" value="">
<input type="hidden" name="file_array" value="{VAR: file_array_be64}">
{SECTION: END}

{SECTION: file_attachments}
<tr class="RowStyleB"><td nowrap valign=top class="GenText">{MSG: file_attachments}</td><td>
{TEMPLATE-DATA: attachment_list}
{VAR: attach_control_error}
<font class="SmallText"><b>{MSG: allowed_files}</b> {TEMPLATE-DATA: allowed_extensions}<br /><b>{MSG: max_file_size}</b> {VAR: MAX_F_SIZE}Kb<br /><b>{MSG: max_files_per_msg}</b> {VAR: PRIVATE_ATTACHMENTS}
{TEMPLATE-DATA: attached_status}
</font><p>
{TEMPLATE-DATA: upload_file}
</td></tr>
{SECTION: END}

{SECTION: disable_smileys disable smilis checkbox}
<tr><td><input type="checkbox" name="msg_smiley_disabled" value="Y"{VAR: msg_smiley_disabled_check}></td><td class="GenText"><b>{MSG: disable_smilies}</b></td></tr>
{SECTION: END}

{SECTION: spell_check_button}
<input type="submit" class="button" value="{MSG: spell_check_msg}" name="spell">&nbsp;
{SECTION: END}

{SECTION: fud_quote quote style for FUD code enabled forums}
[quote title={MSG: ppost_quote_msg}]{VAR: msg_body}[/quote]
{SECTION: END}

{SECTION: html_quote quote style for html enabled forums}
<table border="0" align="center" width="90%" cellpadding="3" cellspacing="1"><tr><td class="SmallText"><b>{MSG: ppost_quote_msg}</b></td></tr><tr><td class="quote"><br />{VAR: msg_body}<br /></td></tr></table>
{SECTION: END}

{SECTION: plain_quote quoting style for plain text forums}
{MSG: ppost_quote} {MSG: ppost_quote_msg}<br />----------------------------------------------------<br />{VAR: msg_body}<br />----------------------------------------------------<br />
{SECTION: END}

{SECTION: reference_msg displayes the message the user is replying to}
<br /><br />
<div align="center">{MSG: ppost_original_msg}</div>
<table border=0 width="100%" cellspacing=0 cellpadding=3 class="dashed">
<tr><td>
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: reference_msg}
</table>
</td></tr>
</table>
{SECTION: END}

{PAGE: PPOST_PAGE  form for writing private messages}{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: cur_ppage}
{TEMPLATE-DATA: tabs}
<form action="{ROOT}?t=ppost" method="post" name="post_form" enctype="multipart/form-data" onSubmit="javascript: document.post_form.btn_submit.disabled = true; document.post_form.btn_draft.disabled = true;">
{TEMPLATE-DATA: post_error}
{TEMPLATE-DATA: preview_message}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2>{MSG: post_form}<a name="ptop"> </a></th></tr>
<tr class="RowStyleB"><td nowrap class="GenText">{MSG: post_logedin_user}</td><td class="GenText" width="100%">{VAR: usr->login} [<a href="{ROOT}?t=login&amp;{DEF: _rsid}&amp;logout=1" class="GenLink">{MSG: post_logout}</a>]</td></tr>
<tr class="RowStyleB"><td class="GenText">{MSG: ppost_to}</td><td class="GenText"><input type="text" name="msg_to_list" value="{VAR: msg_to_list}"> [<a href="javascript://" class="GenLink" onClick="javascript: window_open('{ROOT}?t=pmuserloc&amp;{DEF: _rsid}&amp;js_redr=post_form.msg_to_list','user_list',250,250);">{MSG: ppost_find_User}</a>] [<a href="javascript://" onClick="javascript: window_open('{ROOT}?t=qbud&amp;{DEF: _rsid}&amp;1=1', 'buddy_list',275,300);" class="GenLink">{MSG: ppost_from_buddy_list}</a>]{VAR: to_err}</td></tr>
<tr class="RowStyleB"><td class="GenText">{MSG: post_title}</td><td class="GenText"><input type="text" maxLength=100 name="msg_subject" value="{VAR-HTML: msg_subject}" size=50 tabindex="1"> {VAR: msg_subect_err}</td></tr>
{TEMPLATE-DATA: post_icons}
{TEMPLATE-DATA: post_smilies}
{TEMPLATE-DATA: fud_code_icons}
<tr class="RowStyleA"><td nowrap valign=top class="GenText">{MSG: post_body}<br /><br />{TEMPLATE-DATA: post_options}</td><td>{VAR: message_err}<textarea rows="20" cols="65" wrap="virtual" tabindex="2" name="msg_body" onKeyUp="storeCaret(this);" onClick="storeCaret(this);" onSelect="storeCaret(this);">{VAR-HTML: msg_body}</textarea></td></tr>
{TEMPLATE-DATA: file_attachments}
<tr class="RowStyleB" valign="top">
<td class="GenText">{MSG: post_options}</td>
<td>
<table border=0 cellspacing=0 cellpadding=1>
<tr><td><input type="checkbox" name="msg_track" value="Y"{VAR: msg_track_check}></td><td class="GenText"><b>{MSG: ppost_track_msg}</b></td></tr>
<tr><td>&nbsp;</td><td><font class="SmallText">{MSG: ppost_track_msg_desc}</font></td></tr>
<tr><td><input type="checkbox" name="msg_show_sig" value="Y"{VAR: msg_show_sig_check}></td><td class="GenText"><b>{MSG: include_sig}</b></td></tr>
<tr><td>&nbsp;</td><td><font class="SmallText">{MSG: include_sig_desc}</font></td></tr>
{TEMPLATE-DATA: disable_smileys}
</table>
</td>
</tr>
<tr class="RowStyleA"><td class="GenText" align="right" colspan=2><input type="submit" class="button" value="{MSG: post_preview_btn}" name="preview">&nbsp;{TEMPLATE-DATA: spell_check_button}<input type="submit" class="button" name="btn_draft" value="{MSG: ppost_save_draft}" onClick="javascript: document.post_form.btn_action.value='draft';">&nbsp;<input type="submit" class="button" name="btn_submit" value="{MSG: ppost_send}" onClick="javascript: document.post_form.btn_action.value='send';"></td></tr>
</table>
{DEF: _hs}
<input type="hidden" name="btn_action" value="">
<input type="hidden" name="msg_id" value="{VAR: msg_id}">
<input type="hidden" name="reply_to" value="{VAR: reply_to}">
<input type="hidden" name="forward" value="{VAR: forward}">
<input type="hidden" name="old_subject" value="{VAR: old_subject}">
<input type="hidden" name="msg_ref_msg_id" value="{VAR: msg_ref_msg_id}">
<input type="hidden" name="prev_loaded" value="1">
<input type="hidden" name="attach_enabled" value="{VAR: attach_enabled}">
{VAR: ret}
</form>
{TEMPLATE-DATA: reference_msg}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
{SECTION: pm_err_nopm_title}
{MSG: pm_err_nopm_title}
{SECTION: END}

{SECTION: pm_err_nopm_msg}
{MSG: pm_err_nopm_msg}
{SECTION: END}

{SECTION: post_err_notallowed_title}
{MSG: post_err_notallowed_title}
{SECTION: END}

{SECTION: post_err_notallowed_msg}
{MSG: post_err_notallowed_msg}
{SECTION: END}

{SECTION: post_err_attach_size}
{MSG: post_err_attach_size}
{SECTION: END}

{SECTION: post_err_attach_ext}
{MSG: post_err_attach_ext}
{SECTION: END}

{SECTION: post_err_attach_filelimit}
{MSG: post_err_attach_filelimit}
{SECTION: END}

{SECTION: pm_update}
{MSG: pm_update}
{SECTION: END}

{SECTION: pm_no_space_title}
{MSG: pm_no_space_title}
{SECTION: END}

{SECTION: pm_no_space_msg}
{MSG: pm_no_space_msg}
{SECTION: END}

{SECTION: permission_denied_title}
{MSG: permission_denied_title}
{SECTION: END}

{SECTION: permission_denied_msg}
{MSG: permission_denied_msg}
{SECTION: END}
