/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: ppost.tmpl,v 1.29 2003/12/19 18:20:44 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: ppost.php.t; output: ppost.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: stats.tmpl}
{REF: usercp.tmpl}
{REF: smiley.tmpl}
{REF: postcheck.tmpl}
{REF: spell.tmpl}
{REF: wordwrap.tmpl}
{REF: private.tmpl}
{REF: post_opt.tmpl}
{REF: rev_fmt.tmpl}
{REF: post_proc.tmpl}
{REF: replace.tmpl}
{REF: get_cur_ppage.tmpl}
{REF: tabs.tmpl}
{REF: allowed_user_lnk.tmpl}
{REF: post_common.tmpl} 
{REF: attach.tmpl}
{REF: rhost.tmpl}

{SECTION: post_error}
<h4 align="center"><font class="ErrorText">{MSG: post_error_generic}</font></h4>
{SECTION: END}

{SECTION: apply_spell_changes}
<input type="submit" class="button" name="btn_spell" value="{MSG: apply_spell_changes}">&nbsp;
{SECTION: END}

{SECTION: signature}
<p><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br />{VAR: usr->sig}
{SECTION: END}

{SECTION: preview_message}
<div align="center"><table border="0" cellspacing="1" cellpadding="2" class="PreviewTable">
<tr><th colspan=2>{MSG: post_preview}</th></tr>
<tr><td class="RowStyleA"><font class="MsgSubText">{VAR: subj}</font></td></tr>
<tr><td class="RowStyleA"><font class="MsgBodyText">{VAR: text}{TEMPLATE-DATA: signature}</font></td></tr>
<tr><td align="left" class="RowStyleB">{TEMPLATE-DATA: apply_spell_changes}<input type="submit" class="button" name="btn_submit" value="{MSG: ppost_send}" tabindex="5" onClick="javascript: document.post_form.btn_action.value=\'send\';">&nbsp;<input type="submit" tabindex="4" class="button" value="{MSG: post_preview_btn}" name="preview">&nbsp;{TEMPLATE-DATA: spell_check_button}<input type="submit" class="button" name="btn_draft" value="{MSG: ppost_save_draft}" onClick="javascript: document.post_form.btn_action.value=\'draft\';"></td></tr>
</table></div><br />
{SECTION: END}

{SECTION: disable_smileys disable smilis checkbox}
<tr><td><input type="checkbox" name="msg_smiley_disabled" value="Y"{VAR: msg_smiley_disabled_check}></td><td class="GenText"><b>{MSG: disable_smilies}</b></td></tr>
{SECTION: END}

{SECTION: spell_check_button}
<input type="submit" class="button" value="{MSG: spell_check_msg}" name="spell">&nbsp;
{SECTION: END}

{SECTION: fud_quote quote style for FUD code enabled forums}
[quote title={MSG: ppost_quote_msg}]{VAR: msg_body}[/quote]
{SECTION: END}

{SECTION: html_quote quote style for html enabled forums}
<table border="0" align="center" width="90%" cellpadding="3" cellspacing="1"><tr><td class="SmallText"><b>{MSG: ppost_quote_msg}</b></td></tr><tr><td class="quote"><br />{VAR: msg_body}<br /></td></tr></table>
{SECTION: END}

{SECTION: plain_quote quoting style for plain text forums}
{MSG: ppost_quote} {MSG: ppost_quote_msg}<br />----------------------------------------------------<br />{VAR: msg_body}<br />----------------------------------------------------<br />
{SECTION: END}

{SECTION: reference_msg displayes the message the user is replying to}
<br /><br />
<div align="center">{MSG: ppost_original_msg}</div>
<table border=0 width="100%" cellspacing=0 cellpadding=3 class="dashed">
<tr><td>
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: reference_msg}
</table>
</td></tr>
</table>
{SECTION: END}

{PAGE: PPOST_PAGE  form for writing private messages}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: cur_ppage}
{TEMPLATE-DATA: tabs}
<form action="{TEMPLATE: PPOST_PAGE_lnk3}" method="post" name="post_form" enctype="multipart/form-data" onSubmit="javascript: document.post_form.btn_submit.disabled = true; document.post_form.btn_draft.disabled = true;">
{TEMPLATE-DATA: post_error}
{TEMPLATE-DATA: preview_message}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2>{MSG: post_form}<a name="ptop"> </a></th></tr>
<tr class="RowStyleB"><td nowrap class="GenText">{MSG: post_logedin_user}</td><td class="GenText" width="100%">{VAR: usr->login} [<a href="{TEMPLATE: PPOST_PAGE_lnk}">{MSG: post_logout}</a>]</td></tr>
<tr class="RowStyleB"><td class="GenText">{MSG: ppost_to}</td><td class="GenText"><input type="text" name="msg_to_list" value="{VAR: msg_to_list}" tabindex="1"> {TEMPLATE-DATA: pm_find_user} [<a href="javascript://" onClick="javascript: window_open('{TEMPLATE: PPOST_PAGE_lnk2}', 'buddy_list',275,300);">{MSG: ppost_from_buddy_list}</a>]{VAR: to_err}</td></tr>
<tr class="RowStyleB"><td class="GenText">{MSG: post_title}</td><td class="GenText"><input type="text" maxLength=100 name="msg_subject" value="{VAR: msg_subject}" size=50 tabindex="2"> {VAR: msg_subect_err}</td></tr>
{TEMPLATE-DATA: post_icons}
{TEMPLATE-DATA: post_smilies}
{TEMPLATE-DATA: fud_code_icons}
<tr class="RowStyleA"><td nowrap valign=top class="GenText">{MSG: post_body}<br /><br />{TEMPLATE-DATA: post_options}</td><td>{VAR: message_err}<textarea id="txtb" rows="20" cols="65" wrap="virtual" tabindex="3" name="msg_body" onKeyUp="storeCaret(this);" onClick="storeCaret(this);" onSelect="storeCaret(this);">{VAR: msg_body}</textarea></td></tr>
{TEMPLATE-DATA: file_attachments}
<tr class="RowStyleB" valign="top">
<td class="GenText">{MSG: post_options}</td>
<td>
<table border=0 cellspacing=0 cellpadding=1>
<tr><td><input type="checkbox" name="msg_track" value="Y"{VAR: msg_track_check}></td><td class="GenText"><b>{MSG: ppost_track_msg}</b></td></tr>
<tr><td>&nbsp;</td><td><font class="SmallText">{MSG: ppost_track_msg_desc}</font></td></tr>
<tr><td><input type="checkbox" name="msg_show_sig" value="Y"{VAR: msg_show_sig_check}></td><td class="GenText"><b>{MSG: include_sig}</b></td></tr>
<tr><td>&nbsp;</td><td><font class="SmallText">{MSG: include_sig_desc}</font></td></tr>
{TEMPLATE-DATA: disable_smileys}
</table>
</td>
</tr>
<tr class="RowStyleA"><td class="GenText" align="right" colspan=2><input type="submit" tabindex="4" class="button" value="{MSG: post_preview_btn}" name="preview">&nbsp;{TEMPLATE-DATA: spell_check_button}<input type="submit" class="button" name="btn_draft" value="{MSG: ppost_save_draft}" onClick="javascript: document.post_form.btn_action.value='draft';">&nbsp;<input type="submit" class="button" name="btn_submit" value="{MSG: ppost_send}" tabindex="5" onClick="javascript: document.post_form.btn_action.value='send';"></td></tr>
</table>
{DEF: _hs}
<input type="hidden" name="btn_action" value="">
<input type="hidden" name="msg_id" value="{VAR: msg_id}">
<input type="hidden" name="reply" value="{VAR: reply}">
<input type="hidden" name="forward" value="{VAR: forward}">
<input type="hidden" name="old_subject" value="{VAR: old_subject}">
<input type="hidden" name="msg_ref_msg_id" value="{VAR: msg_ref_msg_id}">
<input type="hidden" name="prev_loaded" value="1">
</form>
{TEMPLATE-DATA: reference_msg}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
{SECTION: pm_err_nopm_title}
{MSG: pm_err_nopm_title}
{SECTION: END}

{SECTION: pm_err_nopm_msg}
{MSG: pm_err_nopm_msg}
{SECTION: END}

{SECTION: post_err_notallowed_title}
{MSG: post_err_notallowed_title}
{SECTION: END}

{SECTION: post_err_notallowed_msg}
{MSG: post_err_notallowed_msg}
{SECTION: END}

{SECTION: post_err_attach_size}
{MSG: post_err_attach_size}
{SECTION: END}

{SECTION: post_err_attach_ext}
{MSG: post_err_attach_ext}
{SECTION: END}

{SECTION: post_err_attach_filelimit}
{MSG: post_err_attach_filelimit}
{SECTION: END}

{SECTION: pm_update}
{MSG: pm_update}
{SECTION: END}

{SECTION: pm_no_space_title}
{MSG: pm_no_space_title}
{SECTION: END}

{SECTION: pm_no_space_msg}
{MSG: pm_no_space_msg}
{SECTION: END}

{SECTION: pm_err_disabled_title}
{MSG: pm_err_disabled_title}
{SECTION: END}

{SECTION: pm_err_disabled_msg}
{MSG: pm_err_disabled_msg}
{SECTION: END}

{SECTION: pm_find_user}
[<a href="javascript://" onClick="javascript: window_open(\'{TEMPLATE: pm_find_user_lnk1}\',\'user_list\',250,250);">{MSG: ppost_find_User}</a>]
{SECTION: END}


{SECTION: PPOST_PAGE_lnk}
{ROOT}?t=login&amp;{DEF: _rsid}&amp;logout=1
{SECTION: END}

{SECTION: pm_find_user_lnk1}
{ROOT}?t=pmuserloc&amp;{DEF: _rsid}&amp;js_redr=post_form.msg_to_list
{SECTION: END}

{SECTION: PPOST_PAGE_lnk2}
{ROOT}?t=qbud&amp;{DEF: _rsid}&amp;1=1
{SECTION: END}

{SECTION: PPOST_PAGE_lnk3}
{ROOT}?t=ppost
{SECTION: END}
