/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: private.tmpl,v 1.2 2003/04/17 13:20:31 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: private.inc.t; output: private.inc;}

{REF: attach.tmpl}
{REF: rhost.tmpl}
{SECTION: private_msg_notify_subj}
{MSG: private_msg_notify_subj}
{SECTION: END}

{SECTION: private_msg_notify_body}
{MSG: private_msg_notify_body}
{SECTION: END}
