/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: quicklogin.tmpl,v 1.13 2004/10/25 16:07:29 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: quicklogin.inc.t; output: quicklogin.inc;}

{MAIN_SECTION: quick_login_on}
<table class="wa" border=0 cellspacing=0 cellpadding=0><tr><td align="right">
<form name="quick_login_form" method="post" action="{TEMPLATE: quick_login_on_lnk3}"{FUNC: ($GLOBALS['FUD_OPT_3'] & 256 ? ' autocomplete="off"' : '')}>{DEF: _hs}
<table border=0 cellspacing=0 cellpadding=3>
<tr class="SmallText">
	<td>{MSG: quicklogin_login}<br /><input class="SmallText" type="text" name="quick_login" size=18></td>
	<td>{MSG: quicklogin_password}<br /><input class="SmallText" type="password" name="quick_password" size=18></td>
	{TEMPLATE-DATA: quick_login_cookie}
	<td>&nbsp;<br /><input type="submit" class="button" name="quick_login_submit" value="{MSG: quicklogin_login_btn}"></td>
</tr>
</table></form></td></tr></table>
{MAIN_SECTION: END}

{SECTION: quick_login_cookie}
<td>&nbsp;<br /><input type="checkbox" checked name="quick_use_cookies" value="1"> {MSG: quicklogin_use_cookies} </td>
{SECTION: END}

{MAIN_SECTION: quick_login_loged_in}
{MAIN_SECTION: END}

{SECTION: quick_login_on_lnk3}
{ROOT}?t=login
{SECTION: END}
