/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: quicklogin.tmpl,v 1.4 2003/04/10 09:27:03 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: quicklogin.inc.t; output: quicklogin.inc;}

{MAIN_SECTION: quick_login_on}
<table width="100%" border=0 cellspacing=0 cellpadding=0><tr><td align="right">
<form name="quick_login_form" method="post" action="{ROOT}?t=login">{DEF: _hs}
<table border=0 align="right" cellspacing=0 cellpadding=3>
<tr class="SmallText">
	<td>{MSG: quicklogin_login}</td>
	<td>{MSG: quicklogin_password}</td>
	<td colspan=2>&nbsp;</td>
</tr>
<tr>
	<td><input class="SmallText" type="text" name="quick_login" size=18></td>
	<td><input class="SmallText" type="password" name="quick_password" size=18></td>
	{TEMPLATE-DATA: quick_login_cookie}
	<td><input type="submit" class="button" name="quick_login_submit" value="{MSG: quicklogin_login_btn}"></td>
</tr>
</table></form></td></tr></table>
{MAIN_SECTION: END}

{SECTION: quick_login_cookie}
<td><input type="checkbox" name="quick_use_cookies" value="1"><font class="SmallText"> {MSG: quicklogin_use_cookies}</font> </td>
{SECTION: END}

{MAIN_SECTION: quick_login_loged_in}
{MAIN_SECTION: END}
