/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: referals.tmpl,v 1.28 2009/01/29 18:37:29 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: referals.php.t; output: referals.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: alt_var.tmpl}
{REF: tabs.tmpl}

{SECTION: pm_link}
&nbsp;<a href="{TEMPLATE: pm_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_pm.gif" alt="PM" /></a>
{SECTION: END}

{SECTION: homepage_link}
&nbsp;<a href="{VAR: r[4]}" target="_blank"><img src="{THEME_IMAGE_ROOT}/homepage.gif" alt="Home"/></a>
{SECTION: END}

{SECTION: email_link}
&nbsp;<a href="{TEMPLATE: email_link_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_email.gif" alt="E-mail" /></a>
{SECTION: END}

{SECTION: refered_entry info about a single referred user}
<tr class="{ALT-VAR: ref_alt RowStyleA RowStyleB}">
	<td class="wa nwGenText"><a href="{TEMPLATE: refered_entry_lnk}">{VAR: r[0]}</a></td>
	<td class="ac nw Gentext">{VAR: r[3]}</td>
	<td class="nw DateText">{TEMPLATE: referrals_join_date}</td>
	<td class="nw GenText"><a href="{TEMPLATE: refered_entry_lnk1}"><img src="{THEME_IMAGE_ROOT}/show_posts.gif" alt="Show Posts" /></a>{IF: (_uid && $FUD_OPT_1 & 1024)}{TEMPLATE: pm_link}{ENDIF}{IF: !empty($r[4])}{TEMPLATE: homepage_link}{ENDIF}{IF: $FUD_OPT_2 & 1073741824}{TEMPLATE: email_link}{ENDIF}</td>
</tr>
{SECTION: END}

{SECTION: no_refered no referrals in the system for this user}
<tr><th colspan="4">{MSG: referals_none}</th></tr>
{SECTION: END}

{PAGE: REFERALS_PAGE show all referred users by a certain user}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: tabs}
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th>{MSG: referals_refered_by}</th><th class="ac nw">{MSG: referals_post_count}</th><th class="ac nw">{MSG: referals_registered_on}</th><th class="ac nw">{MSG: referals_action}</th></tr>
{TEMPLATE-DATA: refered_entry_data}
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
{SECTION: referals_update}
{MSG: referals_update}
{SECTION: END}

{SECTION: pm_link_lnk}
{ROOT}?t=ppost&amp;{DEF: _rsid}&amp;toi={VAR: r[1]}
{SECTION: END}

{SECTION: email_link_lnk}
{ROOT}?t=email&amp;toi={VAR: r[1]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: refered_entry_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: r[1]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: refered_entry_lnk1}
{ROOT}?t=showposts&amp;id={VAR: r[1]}&amp;{DEF: _rsid}
{SECTION: END}
