/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: reg_conf.tmpl,v 1.9 2005/06/08 23:08:53 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: reg_conf.php.t; output: reg_conf.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: usercp.tmpl}

{SECTION: reg_conf_sep}
<p><p>
{SECTION: END}

{SECTION: reg_conf_account}
{MSG: reg_conf_account}
{SECTION: END}

{SECTION: reg_conf_email}
{MSG: reg_conf_email}
{SECTION: END}

{SECTION: reg_conf_title}
{MSG: reg_conf_title}
{SECTION: END}

{PAGE: REG_CONF}
{TEMPLATE: header}
{TEMPLATE: usercp}
<div class="ctb">
<table class="regConf" cellspacing=2 cellpadding=2>
<tr>
	<th>{MSG: reg_conf_title}</th>
</tr>
<tr class="RowStyleA">
	<td>{TEMPLATE-DATA: msg}</td>
</tr>
<tr class="RowStyleC">
	<td class="ac"><form method="GET" action="{TEMPLATE: REG_CONF_lnk3}"><input type="submit" name="rc" value="{MSG: remail_done}"></form></td>
</tr>
</table>
</div>
{TEMPLATE: curtime}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: REG_CONF_lnk3}
{ROOT}?t=index&amp;{DEF: _rsid}
{SECTION: END}
