/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: register.tmpl,v 1.31 2003/10/10 13:45:01 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: register.php.t; output: register.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_select_opt.tmpl}
{REF: draw_radio_opt.tmpl}
{REF: tz.tmpl}
{REF: post_opt.tmpl}
{REF: users_reg.tmpl}
{REF: post_proc.tmpl}
{REF: rev_fmt.tmpl}
{REF: wordwrap.tmpl}
{REF: smiley.tmpl}
{REF: replace.tmpl}
{REF: return.tmpl}
{REF: tabs.tmpl}
{REF: iemail.tmpl}
{REF: allowed_user_lnk.tmpl}

{SECTION: new_user new user section is shown to a new user tring to register}
{VAR: reg_time_limit_err}
<tr><td class="RowStyleA">{MSG: register_login}{VAR: reg_login_err}</td><td class="RowStyleA"><input type="text" size=25 name="reg_login" value="{VAR: reg_login}" maxLength={GVAR: MAX_LOGIN_SHOW}></td></tr>
{TEMPLATE-DATA: reg_alias_t}
<tr><td class="RowStyleA">{MSG: register_password}{VAR: reg_plaintext_passwd_err}</td><td class="RowStyleA"><input type="password" name="reg_plaintext_passwd" size=25 maxlength=16></td></tr>
<tr><td class="RowStyleA">{MSG: register_conf_pass}</td><td class="RowStyleA"><input type="password" name="reg_plaintext_passwd_conf" size=25 maxlength=16></td></tr>
<tr><td class="RowStyleA">{MSG: register_email}{VAR: reg_email_err}<br /><font class="SmallText">{MSG: register_email_desc}</font></td><td class="RowStyleA"><input type="text" name="reg_email" size=25 value="{VAR: reg_email}"></td></tr>
<tr><td class="RowStyleA">{MSG: register_name}{VAR: reg_name_err}</td><td class="RowStyleA"><input type="text" name="reg_name" size=25 value="{VAR: reg_name}"></td></tr>
{SECTION: END}

{SECTION: theme_select}
<select name="{VAR: name}">
{TEMPLATE-DATA: theme_select_values}
</select>
{SECTION: END}

{SECTION: theme_select_value}
<option value="{VAR: t[0]}"{VAR: selected}>{VAR: t[1]}</option>
{SECTION: END}

{SECTION: change_passwd_link}
&nbsp;<font class="SmallText">[ <a href="javascript://" onClick="javascript: window_open(\'{ROOT}?t=rpasswd&amp;{DEF: _rsid}\',\'rpass\',380,250);" class="GenLink">{MSG: register_change_passwd}</a> ]</font>
{SECTION: END}

{SECTION: update_user update user section, is used when a registered user is editing their profile}
<tr><td class="RowStyleA">{MSG: register_login}</td><td class="RowStyleA"><b>{VAR: user_login}</b></td></tr>
{TEMPLATE-DATA: reg_alias_t}
<tr><td class="RowStyleA">{MSG: register_your_pass}{VAR: reg_confirm_passwd_err}</td><td class="RowStyleA"><input type="password" name="reg_confirm_passwd" size=25 maxlength=16>{TEMPLATE-DATA: change_passwd_link}</td></tr>
<tr><td class="RowStyleA">{MSG: register_email}{VAR: reg_email_err}<br /><font class="SmallText">{MSG: register_email_desc}</font>{TEMPLATE-DATA: email_warning_msg}</td><td class="RowStyleA"><input type="text" name="reg_email" size=25 value="{VAR: reg_email}"></td></tr>
<tr><td class="RowStyleA">{MSG: register_name}{VAR: reg_name_err}</td><td class="RowStyleA"><input type="text" name="reg_name" size=25 value="{VAR: reg_name}"></td></tr>
<tr><td align="center" colspan=2 class="RowStyleC"><input type="submit" class="button" name="fud_submit" value="{MSG: register_update}"></td></tr>
{SECTION: END}

{SECTION: sel_opt}
{SECTION: END}

{SECTION: sel_opt_selected}
{SECTION: END}

{SECTION: avatar_type_sel avatar type select, allows to choose avatar type (upload/url...)}
<tr valign="top"><td class="RowStyleA">{MSG: register_avatar_type}</td><td class="RowStyleA"><select name="avatar_type" onChange="javascript: document.fud_register.submit();">{TEMPLATE-DATA: avatar_type_sel_options}</select></td></tr>
{SECTION: END}

{SECTION: del_built_in_avatar delete avatar link}
[<a href="javascript: return false;" onClick="document.reg_avatar_img.src=\'blank.gif\'; alert(document.fud_register.reg_avatar.value);document.fud_register.reg_avatar.value=\'0\'; alert(document.fud_register.reg_avatar.value); " class="GenLink">{MSG: register_del_avatar}</a>]
{SECTION: END}

{SECTION: built_in_avatar}
<tr valign="top"><td class="RowStyleA">{MSG: register_avatar}</td><td class="RowStyleA"><img src="{VAR: reg_avatar_img}" name="reg_avatar_img" alt="" />
<input type="hidden" name="reg_avatar" value="{VAR: reg_avatar}">[<a class="GenLink" href="javascript: window_open(\'{ROOT}?t=avatarsel&amp;{DEF: _rsid}\', \'avtsel\', 400, 300);">{MSG: register_sel_avatar}</a>]
{TEMPLATE-DATA: del_built_in_avatar}<br /></td></tr>
{SECTION: END}

{SECTION: custom_url_avatar}
<tr valign="top"><td class="RowStyleC" colspan=2>{MSG: register_custom_avatar_rules}</td></tr>
<tr valign="top"><td class="RowStyleA">{MSG: register_custom_avatar_url} {VAR: avatar_err}</td><td class="RowStyleA"><input type="text" value="{VAR: reg_avatar_loc}" name="reg_avatar_loc"></td></tr>
{SECTION: END}

{SECTION: delete_uploaded_avatar}
&nbsp;<input type="submit" class="button" name="btn_detach" value="{MSG: register_del_avatar}">
{SECTION: END}

{SECTION: upload_avatar}
<input type="file" name="avatar_upload"> <input type="submit" class="button" name="btn_upload" value="{MSG: register_preview}">
{SECTION: END}

{SECTION: custom_upload_avatar}
<tr valign="top"><td class="RowStyleC" colspan=2>{MSG: register_custom_avatar_rules}</td></tr>
<tr valign="top"><td class="RowStyleA">{MSG: register_custom_avatar_upload} {VAR: avatar_err}</td><td class="RowStyleA"><table border=0 cellspacing=0 cellpadding=0><tr><td>{VAR: custom_avatar_preview}</td><td>{TEMPLATE-DATA: buttons}</td></tr></table></td></tr> 
<input type="hidden" name="avatar_tmp" value="{VAR: avatar_tmp}">
{SECTION: END}

{SECTION: radio_button radio button style}
{SECTION: END}

{SECTION: radio_button_selected}
{SECTION: END}

{SECTION: radio_button_separator}
&nbsp;&nbsp;
{SECTION: END}

{SECTION: update_button}
<input type="submit" class="button" name="fud_submit" value="{MSG: register_update}">
{SECTION: END}

{SECTION: register_button}
<input type="submit" class="button" name="fud_submit" value="{MSG: register_register}">
{SECTION: END}

{SECTION: register_error registration error message}
<br /><font class="ErrorText">{VAR: GLOBALS['err_msg'][$err_name]}</font>
{SECTION: END}

{SECTION: register_affero}
<tr><td class="RowStyleA">{MSG: register_affero}</td><td class="RowStyleA"><input type="text" name="reg_affero" value="{VAR: reg_affero}" maxLength=32 size=25></td></tr>
{SECTION: END}

{SECTION: reg_user_image}
<tr><td class="RowStyleA">{MSG: register_image}</td><td class="RowStyleA"><input type="text" name="reg_user_image" value="{VAR: reg_user_image}"maxlength=255 size=30></td></tr>
{SECTION: END}

{PAGE: REGISTER_PAGE registration AND profile page}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: tabs}
<form method="post" action="{ROOT}?t=register" name="fud_register" enctype="multipart/form-data">
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2>{MSG: register_required}<br /><font size="-2">{MSG: register_required_desc}</font></th></tr>
{TEMPLATE-DATA: user_info_heading}
<tr><th colspan=2>{MSG: register_optional}<br /><font size="-2">{MSG: register_optional_desc}</font></th></tr>
<tr><td class="RowStyleA">{MSG: register_location}</td><td class="RowStyleA"><input type="text" name="reg_location" value="{VAR: reg_location}"maxlength=255 size=30></td></tr>
<tr><td class="RowStyleA">{MSG: register_occupation}</td><td class="RowStyleA"><input type="text" name="reg_occupation" value="{VAR: reg_occupation}"maxlength=255 size=30></td></tr>
<tr><td class="RowStyleA">{MSG: register_interests}</td><td class="RowStyleA"><input type="text" name="reg_interests" value="{VAR: reg_interests}"maxlength=255 size=30></td></tr>
{TEMPLATE-DATA: reg_user_image_field}
<tr><td class="RowStyleA">{MSG: register_icq}</td><td class="RowStyleA"><input type="text" name="reg_icq" value="{VAR: reg_icq}" maxLength=32 size=25></td></tr>
<tr><td class="RowStyleA">{MSG: register_aim}</td><td class="RowStyleA"><input type="text" name="reg_aim" value="{VAR: reg_aim}" maxLength=32 size=25></td></tr>
<tr><td class="RowStyleA">{MSG: register_yahoo}</td><td class="RowStyleA"><input type="text" name="reg_yahoo" value="{VAR: reg_yahoo}" maxLength=32 size=25></td></tr>
<tr><td class="RowStyleA">{MSG: register_msnm}</td><td class="RowStyleA"><input type="text" name="reg_msnm" value="{VAR: reg_msnm}" maxLength=32 size=25></td></tr>
<tr><td class="RowStyleA">{MSG: register_jabber}</td><td class="RowStyleA"><input type="text" name="reg_jabber" value="{VAR: reg_jabber}" maxLength=32 size=25></td></tr>
{TEMPLATE-DATA: register_affero}
<tr><td class="RowStyleA">{MSG: register_homepage}</td><td class="RowStyleA"><input type="text" name="reg_home_page" value="{VAR: reg_home_page}" maxLength=255></td></tr>
{TEMPLATE-DATA: avatar_type_sel}
{TEMPLATE-DATA: avatar}
<tr valign="top"><td class="RowStyleA">{MSG: register_bday}<br /><font class="SmallText">{MSG: register_bday_desc}</font></td>
<td class="RowStyleA">
<table border=0 cellspacing=3 cellpadding=0>
 <tr class="GenText">
  <td align="center">{MSG: register_month}</td>
  <td align="center">{MSG: register_day}</td>
  <td align="center">{MSG: register_year}</td>
 </tr>
 <tr>
  <td align="center"><select name="b_month">{TEMPLATE-DATA: month_select}</select></td>
  <td align="center"><select name="b_day">{TEMPLATE-DATA: day_select}</select></td>
  <td align="center"><input type="text" name="b_year" value="{VAR: b_year}" maxLength=4 size=5></td>
 </tr>
</table></td></tr>
<tr><td class="RowStyleA">{MSG: register_gender}</td><td class="RowStyleA"><select name="reg_gender">{TEMPLATE-DATA: gender_select}</select></td></tr>
<tr><td class="RowStyleA" valign="top">{MSG: register_bio}<br /><font class="SmallText">{MSG: register_bio_desc}</font></td><td class="RowStyleA"><textarea name="reg_bio" rows=5 cols=35>{VAR: reg_bio}</textarea></td></tr>
<tr><th colspan=2>{MSG: register_prefs}</th></tr>
<tr><td valign="top" class="RowStyleA">{MSG: register_sig}<br /><font class="SmallText">{MSG: register_sig_desc}<br /></font>{TEMPLATE-DATA: post_options}{TEMPLATE-DATA: sig_len_limit}</td><td class="RowStyleA">{VAR: reg_sig_err}<textarea name="reg_sig" rows=8 cols=50>{VAR: reg_sig}</textarea></td></tr>
<tr><td class="RowStyleA">{MSG: register_timezone}</td><td class="RowStyleA"><select name="reg_time_zone" class="SmallText">{TEMPLATE-DATA: timezone_select}</select></td></tr>
<tr><td class="RowStyleA">{MSG: register_ignore_admin}</td><td class="RowStyleA">{TEMPLATE-DATA: ignore_admin_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_invisible_mode}<br /><font class="SmallText">{MSG: register_invisible_mode_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: invisible_mode_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_show_email}<br /><font class="SmallText">{MSG: register_show_email_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: show_email_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_notification}<br /><font class="SmallText">{MSG: register_notification_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: notify_default_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_pm_notification}<br /><font class="SmallText">{MSG: register_pm_notification_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: pm_notify_default_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_notify_method}<br /><font class="SmallText">{MSG: register_notify_method_desc}</font></td><td class="RowStyleA"><select name="reg_notify_method" onChange="javascript: re=/[^0-9]/g; a=document.fud_register.reg_icq.value.replace(re, ''); if(this.value=='ICQ' && !a.length ) { alert('{MSG: register_notify_js_error}'); this.value='EMAIL'; }">{TEMPLATE-DATA: notification_select}</select></td></tr>
<tr><td class="RowStyleA">{MSG: register_allow_email_msg}<br /><font class="SmallText">{MSG: register_allow_email_msg_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: accept_user_email}</td></tr>
<tr><td class="RowStyleA">{MSG: register_allow_pm_msg}<br /><font class="SmallText">{MSG: register_allow_pm_msg_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: accept_pm}</td></tr>
<tr><td class="RowStyleA">{MSG: register_use_sig_default}<br /><font class="SmallText">{MSG: register_use_sig_default_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: append_sig_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_show_sig}<br /><font class="SmallText">{MSG: register_show_sig_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: show_sig_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_show_avatar}<br /><font class="SmallText">{MSG: register_show_avatar_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: show_avatar_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_show_im}<br /><font class="SmallText">{MSG: register_show_im_desc}</font></td><td class="RowStyleA">{TEMPLATE-DATA: show_im_radio}</td></tr>
<tr><td class="RowStyleA">{MSG: register_msg_per_page}</td><td class="RowStyleA"><select name="reg_posts_ppg">{TEMPLATE-DATA: mppg_select}</select></td></tr>
<tr><td class="RowStyleA">{MSG: register_def_thread_view}</td><td class="RowStyleA"><select name="reg_default_view">{TEMPLATE-DATA: view_select}</select></td></tr>
<tr><td class="RowStyleA">Theme:</td><td class="RowStyleA">{TEMPLATE-DATA: theme_select}</td></tr>
<tr class="RowStyleC"><td colspan=2 align="center">{TEMPLATE-DATA: submit_button}&nbsp;<INPUT TYPE="reset" class="button" NAME="Reset" VALUE="{MSG: register_reset}"></td></tr>
</table>
{DEF: _hs}
<input type="hidden" name="prev_loaded" value="1">
<input type="hidden" name="mod_id" value="{VAR: mod_id}">
<input type="hidden" name="reg_coppa" value="{VAR: reg_coppa}">
</form>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: register_err_short_login}
{MSG: register_err_short_login}
{SECTION: END}

{SECTION: register_err_login_notallowed}
{MSG: register_err_login_notallowed}
{SECTION: END}

{SECTION: register_err_loginunique}
{MSG: register_err_loginunique}
{SECTION: END}

{SECTION: register_err_emailexists}
{MSG: register_err_emailexists}
{SECTION: END}

{SECTION: register_err_shortpasswd}
{MSG: register_err_shortpasswd}
{SECTION: END}

{SECTION: register_err_passwdnomatch}
{MSG: register_err_passwdnomatch}
{SECTION: END}

{SECTION: register_err_invalidemail}
{MSG: register_err_invalidemail}
{SECTION: END}

{SECTION: register_err_needname}
{MSG: register_err_needname}
{SECTION: END}

{SECTION: register_err_enterpasswd}
{MSG: register_err_enterpasswd}
{SECTION: END}

{SECTION: register_err_adminpasswd}
{MSG: register_err_adminpasswd}
{SECTION: END}

{SECTION: register_err_notyouremail}
{MSG: register_err_notyouremail}
{SECTION: END}

{SECTION: register_err_avatartobig}
{MSG: register_err_avatartobig}
{SECTION: END}

{SECTION: register_err_avatarnotallowed}
{MSG: register_err_avatarnotallowed}
{SECTION: END}

{SECTION: register_conf_subject}
{MSG: register_conf_subject}
{SECTION: END}

{SECTION: register_conf_msg}
{MSG: register_conf_msg}
{SECTION: END}

{SECTION: register_welcome_subject}
{MSG: register_welcome_subject}
{SECTION: END}

{SECTION: register_welcome_msg}
{MSG: register_welcome_msg}
{SECTION: END}

{SECTION: register_err_cantreg_title}
{MSG: register_err_cantreg_title}
{SECTION: END}

{SECTION: regsiter_err_cantreg_msg}
{MSG: regsiter_err_cantreg_msg}
{SECTION: END}

{SECTION: register_profile_update}
{MSG: register_profile_update}
{SECTION: END}

{SECTION: register_register_update}
{MSG: register_register_update}
{SECTION: END}

{SECTION: register_title}
{MSG: register_title}
{SECTION: END}

{SECTION: register_builtin}
{MSG: register_builtin}
{SECTION: END}

{SECTION: register_specify_url}
{MSG: register_specify_url}
{SECTION: END}

{SECTION: register_uploaded}
{MSG: register_uploaded}
{SECTION: END}

{SECTION: month_1}
{MSG: month_1}
{SECTION: END}

{SECTION: month_2}
{MSG: month_2}
{SECTION: END}

{SECTION: month_3}
{MSG: month_3}
{SECTION: END}

{SECTION: month_4}
{MSG: month_4}
{SECTION: END}

{SECTION: month_5}
{MSG: month_5}
{SECTION: END}

{SECTION: month_6}
{MSG: month_6}
{SECTION: END}

{SECTION: month_7}
{MSG: month_7}
{SECTION: END}

{SECTION: month_8}
{MSG: month_8}
{SECTION: END}

{SECTION: month_9}
{MSG: month_9}
{SECTION: END}

{SECTION: month_10}
{MSG: month_10}
{SECTION: END}

{SECTION: month_11}
{MSG: month_11}
{SECTION: END}

{SECTION: month_12}
{MSG: month_12}
{SECTION: END}

{SECTION: male}
{MSG: male}
{SECTION: END}

{SECTION: female}
{MSG: female}
{SECTION: END}

{SECTION: register_flat_view}
{MSG: register_flat_view}
{SECTION: END}

{SECTION: register_tree_view}
{MSG: register_tree_view}
{SECTION: END}

{SECTION: register_tree_msg_view}
{MSG: register_tree_msg_view}
{SECTION: END}

{SECTION: register_msg_tree_view}
{MSG: register_msg_tree_view}
{SECTION: END}

{SECTION: use_forum_default}
{MSG: use_forum_default}
{SECTION: END}

{SECTION: yes}
{MSG: yes}
{SECTION: END}

{SECTION: no}
{MSG: no}
{SECTION: END}

{SECTION: register_email}
{MSG: register_email}
{SECTION: END}

{SECTION: register_icq}
{MSG: register_icq}
{SECTION: END}

{SECTION: register_jabber}
{MSG: register_jabber}
{SECTION: END}

{SECTION: register_err_toomanyimages}
{MSG: register_err_toomanyimages}
{SECTION: END}

{SECTION: unspecified}
{MSG: unspecified}
{SECTION: END}

{SECTION: register_err_not_valid_img}
{MSG: register_err_not_valid_img}
{SECTION: END}

{SECTION: register_err_taken_alias}
{MSG: register_err_taken_alias}
{SECTION: END}

{SECTION: reg_alias}
<tr><td class="RowStyleA">{MSG: register_alias}{VAR: reg_alias_err}<br /><font class="SmallText">{MSG: register_alias_desc}</font></td><td class="RowStyleA"><input type="text" name="reg_alias" size=25 value="{VAR-HTML: reg_alias}" maxLength={GVAR: MAX_LOGIN_SHOW}></td></tr>
{SECTION: END}

{SECTION: email_warning_msg}
<br /><font style="font-size: xx-small; color: 005500;"><b>{MSG: email_warning_msg}</b></font>
{SECTION: END}

{SECTION: register_err_time_limit}
<tr><td class="RowStyleA" colspan="2" align="center"><font color="red" size="+2">{MSG: register_err_time_limit}</font></td></tr>
{SECTION: END}

{SECTION: register_err_avatardimtobig}
{MSG: register_err_avatardimtobig}
{SECTION: END}

{SECTION: register_email_change_subject}
{MSG: register_email_change_subject}
{SECTION: END}

{SECTION: register_email_change_msg}
{MSG: register_email_change_msg}
{SECTION: END}

{SECTION: register_admin_newuser_title}
{MSG: register_admin_newuser_title}
{SECTION: END}

{SECTION: register_admin_newuser_msg}
{MSG: register_admin_newuser_msg}
{SECTION: END}

{SECTION: register_err_sig_too_long}
{MSG: register_err_sig_too_long}
{SECTION: END}

{SECTION: register_sig_limit}
<b>Maximum Length: </b>{MSG: register_sig_limit}
{SECTION: END}
