/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: report.tmpl,v 1.19 2005/12/07 18:07:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: report.php.t; output: report.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: return.tmpl}
{REF: allowed_user_lnk.tmpl}

{PAGE: REPORT_PAGE report message to moderator/administrator form}
{TEMPLATE: header}
{TEMPLATE: usercp}
<form method="post" action="{TEMPLATE: REPORT_PAGE_lnk3}">
<div class="ctb"><table cellspacing="1" cellpadding="2" class="MiniTable">
<tr><th>{MSG: report_report_post}</th></tr>
<tr class="RowStyleB"><td><span class="GenText fb">{MSG: report_reporting_about}</span><br /><table border="0" cellspacing="0" cellpadding="0"><tr><td class="repI"><b>{MSG: report_subject}</b> {VAR: msg->subject} <br /><b>{MSG: report_by}</b> {IF: $msg->alias}{VAR: msg->alias}{ELSE}{VAR: ANON_NICK}{END} <br /><b>{MSG: report_posted_on}</b> <span class="DateText">{TEMPLATE: make_report_date}</span></td></tr></table></td></tr>
<tr class="RowStyleB"><td><span class="GenText">{MSG: report_give_reason}</span><br />{TEMPLATE-DATA: reason_error}<textarea name="reason" cols=80 rows=25></textarea></td></tr>
<tr class="RowStyleB"><td class="ar"><input type="submit" class="button" name="btn_report" value="{MSG: report_submit_report}"></td></tr>
</table></div>
<input type="hidden" name="msg_id" value="{VAR: msg_id}">{DEF: _hs}</form>
{TEMPLATE: curtime}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: report_err_nosuchmsg_title}
{MSG: report_err_nosuchmsg_title}
{SECTION: END}

{SECTION: report_err_nosuchmsg_msg}
{MSG: report_err_nosuchmsg_msg}
{SECTION: END}

{SECTION: report_empty_report}
<span class="ErrorText">{MSG: report_empty_report}</span><br />
{SECTION: END}

{SECTION: report_already_reported_title}
{MSG: report_already_reported_title}
{SECTION: END}

{SECTION: report_already_reported_msg}
{MSG: report_already_reported_msg}
{SECTION: END}
{SECTION: REPORT_PAGE_lnk3}
{ROOT}?t=report
{SECTION: END}
