/**
* copyright            : (C) 2001-2010 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: root_index.php.t; output: #index.php;}
{REF: db.tmpl}
{REF: cookies.tmpl}
{REF: users.tmpl}

{SECTION: forum_CHARSET}
{CHARSET}
{SECTION: END}
