/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: root_index.tmpl,v 1.8 2003/04/20 10:45:32 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: root_index.php.t; output: #index.php;}
{REF: db.tmpl}
{REF: cookies.tmpl}
{REF: users.tmpl}

{SECTION: core_adm_login_msg}
{MSG: core_adm_login_msg}
{SECTION: END}

{SECTION: install_script_present_error}
{MSG: install_script_present_error}
{SECTION: END}
