/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: rst.tmpl,v 1.4 2003/05/06 18:05:54 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: rst.inc.t; output: rst.inc;}

{SECTION: rst_register_conf_subject}
{MSG: rst_register_conf_subject}
{SECTION: END}

{SECTION: rst_newpass_title}
{MSG: rst_newpass_title}
{SECTION: END}

{SECTION: rst_confirmation}
{MSG: rst_confirmation}
{SECTION: END}

{SECTION: rst_reset}
{MSG: rst_reset}
{SECTION: END}
