/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: search_forum_sel.tmpl,v 1.9 2006/09/05 12:51:54 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License.
**/

{PHP_FILE: input: search_forum_sel.inc.t; output: @search_forum_sel.inc;}

{SECTION: forum_limit_cat_option limit by category option}
<option value="c{VAR: k}"{FUNC: (isset($g[$k]) ? ' selected' : '')}>- {FUNC: ($tabw = ($i[0] ? str_repeat('&nbsp;&nbsp;&nbsp;', $i[0]) : ''))}{VAR: i[1]}</option>
{SECTION: END}

{SECTION: forum_limit_frm_option limit by forum select option}
<option value="{VAR: r[0]}"{FUNC: (isset($f[$r[0]]) ? ' selected' : '')}>{VAR: tabw}&nbsp;&nbsp;&nbsp;{VAR: r[1]}</option>
{SECTION: END}
