/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: search.tmpl,v 1.41 2007/01/01 18:23:47 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: search.php.t; output: search.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: show.tmpl}
{REF: rev_fmt.tmpl}
{REF: draw_pager.tmpl}
{REF: alt_var.tmpl}
{REF: draw_radio_opt.tmpl}
{REF: draw_select_opt.tmpl}
{REF: fileio.tmpl}
{REF: search_forum_sel.tmpl}
{REF: isearch.tmpl}

{SECTION: search_results}
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr>
	<th> </th>
	<th>{MSG: search_results_hdr}</th>
</tr>
{TEMPLATE-DATA: search_data}
</table>
{SECTION: END}

{SECTION: no_search_results}
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th class="wa ac">{MSG: search_no_results}</th></tr>
</table>
{SECTION: END}

{SECTION: radio_button_separator}
&nbsp;&nbsp;
{SECTION: END}

{SECTION: search_entry}
<tr>
	<td class="RowStyleC vt"><b>{FUNC: ++$i}</b></td>
	<td class="{ALT-VAR: search_alt RowStyleA RowStyleB}">
		<b>{MSG: search_forum}</b>: <a href="{TEMPLATE: search_entry_lnk1}">{VAR: r->forum_name}</a> &laquo;&raquo;
		<b>{MSG: search_posted_on}</b>: <span class="DateText">{TEMPLATE: search_post_date}</span> &laquo;&raquo;
		<b>{MSG: by}</b> {IF: !empty($r->poster_id)}{TEMPLATE: registered_poster}{ELSE}{TEMPLATE: unregistered_poster}{END}<br />
		<a href="{TEMPLATE: search_entry_lnk}">{VAR: r->subject}</a><br />
		{FUNC: trim_body(read_msg_body($r->foff, $r->length, $r->file_id))}
		{IF: ($is_a || $r->md)}
<hr /><div class="ModOpt">{MSG: moderator_options}: <a href="{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: r->thread_id}&amp;del={VAR: r->id}">{MSG: thread_mod_delete}</a>
{IF: $r->is_rootm}
 | <a href="javascript://" onClick="javascript: window_open(\'{FULL_ROOT}{ROOT}?t=mvthread&amp;{DEF: _rsid}&amp;th={VAR: r->thread_id}\', \'th_move\', 300, 400);">{MSG: move_thread}</a> | <a href="{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: r->thread_id}&amp;{IF: $r->is_lckd}unlock{ELSE}lock{ENDI}=1&amp;SQ={GVAR: sq}">{IF: $r->is_lckd}{MSG: unlock_thread}{ELSE}{MSG: lock_thread}{ENDI}</a>
{ENDIFI}
</div>
		{ENDIFI}
	</td>
</tr>
{SECTION: END}

{SECTION: registered_poster}
<a href="{TEMPLATE: registered_poster_lnk}">{VAR: r->alias}</a>
{SECTION: END}

{SECTION: unregistered_poster}
{GVAR: ANON_NICK}
{SECTION: END}

{PAGE: SEARCH_PAGE message search form}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE: show_links}{TEMPLATE-DATA: admin_cp}
<form name="search" method="get" action="{TEMPLATE: SEARCH_PAGE_lnk3}">{DEF: _hs}<input type="hidden" name="t" value="search">
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th>{MSG: search_forum_search}</th><th class="wa">{MSG: search_options}</th></tr>
<tr class="RowStyleA">
	<td class="vt nw"><input spellcheck="true" type="text" name="srch" tabindex="1" value="{VAR-HTML: srch}"> <input type="submit" tabindex="2" class="button" name="btn_submit" value="{MSG: search}"><br /><span class="SmallText">{TEMPLATE-DATA: search_options}</span></td>
	<td class="RowStyleB SmallText">
<div class="sr">{MSG: search_in_forum}<br /><select class="SmallText" name="forum_limiter"><option value="">{MSG: search_all_forums}</option>{TEMPLATE-DATA: forum_limit_data}</select></div>
<div class="sr">{MSG: search_logic}<br /><select class="SmallText" name="search_logic">{TEMPLATE-DATA: logic_options}</select></div>
<div class="sr">{MSG: search_sorting}<br /><select class="SmallText" name="sort_order">{TEMPLATE-DATA: sort_options}</select></div>
<div class="sr">{MSG: search_user_filter}<br /><input class="SmallText" type="text" value="{VAR-HTML: author}" name="author"></div>
</td>
</tr>
</table></form>
<script language="javascript" type="text/javascript">
<!--
document.search.srch.focus();
//-->
</script>
{TEMPLATE-DATA: search_data}
<div align="left">{TEMPLATE-DATA: page_pager}</div>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: search_title}
{MSG: search_title}
{SECTION: END}

{SECTION: search_update}
{MSG: search_update}
{SECTION: END}

{SECTION: search_entire_msg}
{MSG: search_entire_msg}
{SECTION: END}

{SECTION: search_subect_only}
{MSG: search_subect_only}
{SECTION: END}

{SECTION: search_and}
{MSG: search_and}
{SECTION: END}

{SECTION: search_or}
{MSG: search_or}
{SECTION: END}

{SECTION: search_asc_order}
{MSG: search_asc_order}
{SECTION: END}

{SECTION: search_desc_order}
{MSG: search_desc_order}
{SECTION: END}

{SECTION: search_entry_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: r->id}&amp;{DEF: _rsid}&amp;srch={VAR-URL: srch}#msg_{VAR: r->id}
{SECTION: END}

{SECTION: search_entry_lnk1}
{ROOT}?t={DEF: t_thread_view}&amp;frm_id={VAR: r->forum_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: registered_poster_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: r->poster_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: SEARCH_PAGE_lnk3}
{ROOT}
{SECTION: END}
