/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: selmsg.tmpl,v 1.24 2004/01/04 16:38:28 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: selmsg.php.t; output: selmsg.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: drawmsg.tmpl}
{REF: fileio.tmpl}
{REF: imsg.tmpl}
{REF: is_perms.tmpl}

{SECTION: status_indicator_on indicates that the particular filter option is enabled}
<font class="selmsgInd">(<font class="GenTextRed">{MSG: on}</font>)</font>
{SECTION: END}

{SECTION: status_indicator_off indicates that the particular filter option is disabled}
<font class="selmsgInd">({MSG: off})</font>
{SECTION: END}

{SECTION: todays_posts todays posts link}
<a href="{TEMPLATE: todays_posts_lnk}" title="{MSG: sel_todays_posts_desc}">{MSG: sel_todays_posts} {VAR: s_today}</a>
{SECTION: END}

{SECTION: unread_messages unread messages link}
&nbsp;| <a href="{TEMPLATE: unread_messages_lnk}" title="{MSG: sel_unread_messages_desc}">{MSG: sel_unread_messages} {VAR: s_unread}</a>
{SECTION: END}

{SECTION: unanswered unreplied posts link}
&nbsp;| <a href="{TEMPLATE: unanswered_lnk}" title="{MSG: sel_unanswered_posts_desc}">{MSG: sel_unanswered_posts} {VAR: s_unu}</a>
{SECTION: END}

{SECTION: subscribed_frm subscribed forum link}
&nbsp;| <a href="{TEMPLATE: subscribed_frm_lnk}" title="{MSG: subscribed_forums_desc}">{MSG: subscribed_forums} {VAR: s_subf}</a>
{SECTION: END}

{SECTION: subscribed_thr subscribed thread link}
&nbsp;| <a href="{TEMPLATE: subscribed_thr_lnk}" title="{MSG: subscribed_threads_desc}">{MSG: subscribed_threads} {VAR: s_subt}</a>
{SECTION: END}

{SECTION: more_unread_messages more unread messages link}
<div align="center" class="GenText">[<a href="{TEMPLATE: more_unread_messages_lnk}" title="{MSG: more_unread_messages_desc}">{MSG: more_unread_messages}</a>]</div><img src="blank.gif" alt="" height=3 />
{SECTION: END}

{SECTION: forum_row forum heading row}
<tr><th class="SelFS">{MSG: forum} <a class="thLnk" href="{TEMPLATE: forum_row_lnk}"><font class="lg">{VAR-HTML: r->name}</font></a></th></tr>
{SECTION: END}

{SECTION: thread_row thread heading row}
<tr><th class="SelTS">&nbsp;{MSG: thread} <a class="thLnk" href="{TEMPLATE: thread_row_lnk}">{VAR: r->thr_subject}</a></th></tr>
{SECTION: END}

{SECTION: no_result}
<tr><th align=middle>{MSG: no_posts}</th></tr>
{SECTION: END}

{PAGE: SELMSG_PAGE a form which can show today's,unread,unanswered,etc... posts}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: todays_posts}{TEMPLATE-DATA: unread_messages}{TEMPLATE-DATA: subscribed_frm}{TEMPLATE-DATA: subscribed_thr}{TEMPLATE-DATA: unanswered}
<br />{TEMPLATE-DATA: admin_cp}<br />
<table border="0" cellspacing="0" cellpadding="0" class="ContentTable">{TEMPLATE-DATA: message_data}</table>
{TEMPLATE-DATA: pager}
<p>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
{SECTION: selmsg_update}
{MSG: selmsg_update}
{SECTION: END}

{SECTION: no_unread_messages}
<tr><th align=middle>{MSG: no_unread_messages}</th></tr>
{SECTION: END}

{SECTION: todays_posts_lnk}
{ROOT}?{VAR: dt_opt}
{SECTION: END}

{SECTION: unread_messages_lnk}
{ROOT}?{VAR: un_opt}
{SECTION: END}

{SECTION: unanswered_lnk}
{ROOT}?{VAR: rp_opt}
{SECTION: END}

{SECTION: subscribed_frm_lnk}
{ROOT}?{VAR: frm_opt}
{SECTION: END}

{SECTION: subscribed_thr_lnk}
{ROOT}?{VAR: th_opt}
{SECTION: END}

{SECTION: more_unread_messages_lnk}
{ROOT}?{VAR: _SERVER['QUERY_STRING']}
{SECTION: END}

{SECTION: forum_row_lnk}
{ROOT}?t={DEF: t_thread_view}&amp;frm_id={VAR: r->forum_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: thread_row_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: r->id}&amp;{DEF: _rsid}
{SECTION: END}
