/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: showposts.tmpl,v 1.2 2002/07/08 23:15:19 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: showposts.php.t; output: showposts.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: is_perms.tmpl}
{REF: allperms.tmpl}
{REF: alt_var.tmpl}

{SECTION: post_entry}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="GenText"><a class="GenLink" href="{ROOT}?t={DEF: d_thread_view}&goto={VAR: obj->id}&{DEF: _rsid}">{VAR: obj->subject}</a></td><td class="GenText" nowrap><a href="{ROOT}?t=thread&frm_id={VAR: obj->fid}&{DEF: _rsid}" class="GenLink">{VAR: obj->forum_name}</a></td><td class="DateText" nowrap>{DATE: obj->post_stamp %a, %d %B %Y %H:%M}</td></tr>
{SECTION: END}

{PAGE: SHOWPOSTS_PAGE show all posts by a user}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br>{TEMPLATE-DATA: admin_cp}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=3>{MSG: user_info}</th></tr>
<tr class="RowStyleA"><td class="GenText" width="100%">{MSG: login_header} <a class="GenLink" href="{ROOT}?t=usrinfo&id={VAR: u->id}&{DEF: _rsid}">{VAR-HTML: u->alias}</a></td>
<td class="GenText" nowrap>{MSG: registered_on}</td><td class="GenText" nowrap>{MSG: post_count}</td></tr>
<tr><th width="100%">{MSG: subject}</th><th nowrap>{MSG: forum}</th><th nowrap>{MSG: date_posted}</th></tr>
{TEMPLATE-DATA: post_entry}
</table>
{TEMPLATE-DATA: pager}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: show_posts_by}
{MSG: show_posts_by}
{SECTION: END}

{SECTION: showposts_update}
{MSG: showposts_update}
{SECTION: END}