/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: show.tmpl,v 1.1 2002/06/18 16:41:05 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: show.inc.t; output: @show.inc;}

{MAIN_SECTION: show_links the links that you see on index/thread/msg page that allow you to access selmsg}
<font class="GenText"><b>{MSG: show_show}</b></font> <a class="GenLink" href="{ROOT}?t=selmsg&date=today&{DEF: _rsid}&frm_id={VAR: frm_id}&th={VAR: th}"><acronym title="{MSG: todays_posts_desc}">{MSG: todays_posts}</acronym></a>&nbsp;{TEMPLATE-DATA: unread_posts}{TEMPLATE-DATA: unanswered_posts}<br><img src="blank.gif" height=2 border=0>
{MAIN_SECTION: END}

{SECTION: unread_posts}
<b>::</b> <a class="GenLink" href="{ROOT}?t=selmsg&unread=1&{DEF: _rsid}&frm_id={VAR: frm_id}&th={VAR: th}"><acronym title="{MSG: unread_posts_desc}">{MSG: unread_posts}</acronym></a>&nbsp;
{SECTION: END}

{SECTION: unanswered_posts}
<b>::</b> <a class="GenLink" href="{ROOT}?t=selmsg&reply_count=0&{DEF: _rsid}&frm_id={VAR: frm_id}&th={VAR: th}"><acronym title="{MSG: unanswered_posts_desc}">{MSG: unanswered_posts}</acronym></a>
{SECTION: END}
