/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: smladd.tmpl,v 1.4 2003/04/08 14:14:38 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: smladd.php.t; output: smladd.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}

{PAGE: SMLLIST_PAGE}
{TEMPLATE: header_plain}
<table border=0 cellspacing=1 cellpadding=0 width="100%" class="dashed">
{TEMPLATE-DATA: sml_smiley_row}
<tr><td align="center" colspan="{VAR: col_count}">[<a href="javascript://" onClick="javascript: window.close();">{MSG: smladd_close_window}</a>]</td></tr>
</table>
{TEMPLATE: footer_plain}
{PAGE: END}

{SECTION: sml_smiley_entry}
<a href="javascript: insertParentTag(\' {VAR: r[0]} \',\'\');"><img src="images/smiley_icons/{VAR: r[1]}" border=0 title="{VAR: r[2]}" alt="{VAR: r[2]}" /></a>&nbsp;&nbsp;
{SECTION: END}

{SECTION: sml_smiley_row}
<tr valign="bottom"><td>{TEMPLATE-DATA: sml_smiley_entry}</td></tr>
{SECTION: END}

{SECTION: sml_no_smilies}
{MSG: sml_no_smilies}
{SECTION: END}
