/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: split_th.tmpl,v 1.19 2005/03/18 01:58:51 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: split_th.php.t; output: split_th.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: th.tmpl}
{REF: fileio.tmpl}
{REF: draw_select_opt.tmpl}
{REF: logaction.tmpl}
{REF: replace.tmpl}
{REF: th_adm.tmpl}

{SECTION: msg_entry individual message entries}
<tr>
<td class="RowStyleC vt ac"><input type="checkbox" name="sel_th[]" value="{VAR: r->id}"></td>
<td class="RowStyleA">
<table cellspacing=1 cellpadding=2 class="ContentTable">
<tr class="RowStyleB">
	<td class="SmallText">
	<b>{MSG: split_th_post_by}</b> {IF: $r->alias}{VAR: r->alias}{ELSE}{VAR: anon_alias}{ENDI}<br />
	<b>{MSG: split_th_posted_on}</b> {TEMPLATE: search_post_date}<br />
	<b>{MSG: split_th_subject}</b> {VAR: r->subject}
	</td>
</tr>
<tr class="RowStyleA"><td>{FUNC: read_msg_body($r->foff, $r->length, $r->file_id)}</td></tr>
</table>
</td>
</tr>
{SECTION: END}

{PAGE: SPLIT_TH_PAGE a form that allowes moderators to split threads}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<form name="split_th" action="{TEMPLATE: SPLIT_TH_PAGE_lnk3}" method="post">{DEF: _hs}<input type="hidden" name="th" value="{VAR: th}">
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th class="wa" colspan=2>{MSG: split_cp}</th></tr>
<tr class="RowStyleA">
	<td class="al fb">{MSG: split_th_new_thread_title}</td>
	<td ><input type="text" name="new_title" value="" size=50></td>
</tr>
<tr class="RowStyleA">
	<td class="al fb">{MSG: split_th_forum}</td>
	<td class="al"><select name="forum">{VAR: forum_sel}</select></td>
</tr>
<tr class="RowStyleC">
	<td colspan=2 class="ac">
		<input type="submit" class="button" name="btn_selected" value="{MSG: split_th_split_sel}">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" class="button" name="btn_unselected" value="{MSG: split_th_split_unsel}">
	</td>
</tr>
</table>
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th class="nw">{MSG: split_th_select}</th><th width="100%">{MSG: split_th_messages}</th></tr>
{TEMPLATE-DATA: msg_entry}
</table>
<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr class="RowStyleC">
	<td colspan=2 class="ac">
		<input type="submit" class="button" name="btn_selected" value="{MSG: split_th_split_sel}">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" class="button" name="btn_unselected" value="{MSG: split_th_split_unsel}">
	</td>
</tr>
</table>
</form>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: SPLIT_TH_PAGE_lnk3}
{ROOT}?t=split_th
{SECTION: END}
