/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: stats.tmpl,v 1.10 2005/02/25 16:18:49 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
**/

{PHP_FILE: input: stats.inc.t; output: !stats.inc;}

{MAIN_SECTION: admin_page_stats administrator page stats}
<br /><div class="SmallText al">{MSG: page_timings}</div>
{MAIN_SECTION: END}

{MAIN_SECTION: public_page_stats page stats}
<br /><div class="SmallText al">{MSG: page_timings}</div>
{MAIN_SECTION: END}
