/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: subscribed.tmpl,v 1.3 2002/07/18 03:01:51 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: subscribed.php.t; output: subscribed.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: forum_notify.tmpl}
{REF: thread_notify.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: tabs.tmpl}
{REF: alt_var.tmpl}

{PAGE: SUBSCRIBED_PAGE subscribed forums and threads list}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: tabs}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2>{MSG: subscribed_forums}<a name="fff"></a></th></tr>
{TEMPLATE-DATA: subscribed_forum_data}
<tr><th colspan=2>{MSG: subscribed_threads}</th></tr>
{TEMPLATE-DATA: subscribed_thread_data}
</table>
{TEMPLATE-DATA: pager}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: subscribed_forum_entry}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td width="100%"><a class="GenLink" href="{ROOT}?t=thread&frm_id={VAR: obj->frm_id}&{DEF: _rsid}">{VAR: obj->name}</a></td><td nowrap><a class="GenLink" href="{ROOT}?t=subscribed&frm_id={VAR: obj->id}&{DEF: _rsid}">{MSG: unsubscribe}</a> | <a class="GenLink" href="{ROOT}?t=thread&frm_id={VAR: obj->frm_id}&{DEF: _rsid}" target="_blank">{MSG: view_forum}</a></td></tr>
{SECTION: END}

{SECTION: no_subscribed_forums}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td colspan=2>{MSG: no_subscribed_forums}</td></tr>
{SECTION: END}

{SECTION: subscribed_thread_entry}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td width="100%"><a class="GenLink" href="{ROOT}?t={DEF: d_thread_view}&th={VAR: obj->th_id}&{DEF: _rsid}">{VAR: obj->subject}</a></td><td nowrap><a class="GenLink" href="{ROOT}?t=subscribed&th={VAR: obj->th_id}&{DEF: _rsid}">{MSG: unsubscribe}</a> | <a class="GenLink" href="{ROOT}?t={DEF: d_thread_view}&th={VAR: obj->th_id}&{DEF: _rsid}" target="_blank">{MSG: view_thread}</a></td></tr>
{SECTION: END}

{SECTION: no_subscribed_threads}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td colspan=2>{MSG: no_subscribed_threads}</td></tr>
{SECTION: END}

{SECTION: subscribed_update}
{MSG: subscribed_update}
{SECTION: END}
