/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: thr_exch.tmpl,v 1.9 2003/10/10 14:20:16 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: thr_exch.php.t; output: thr_exch.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: ssu.tmpl}
{REF: private.tmpl}
{REF: logaction.tmpl}
{REF: th_adm.tmpl}

{SECTION: thr_exch_entry thread that has been marked for moving}
<tr><td>
<table border=0 cellspacing=0 cellpadding=3 width="100%">
	<tr class="RowStyleB">
		<td align=left nowrap valign=top>
			<font class="SmallText"><b>{MSG: move_request_by}</b> <a class="GenLink" href="{TEMPLATE: thr_exch_entry_lnk}">{VAR: obj->alias}</a><br /></font>
		</td>
		<td align=center width="100%" valign=top>
			<font class="SmallText">
			<b>{MSG: move_reason}</b><br />
			<table border=1 cellspacing=1 cellpadding=0><tr><td align=left>&nbsp;{VAR: obj->reason_msg} &nbsp;</td></tr></table>
			</font>
		</td>
	</tr>
	<tr class="RowStyleC">
		<td colspan=2>
			<table border=0 cellspacing=0 cellpadding=3 width="100%">
			<tr>
				<td align="left"><font size="-1"><b>{MSG: thr_exch_orig_forum}</b> {VAR: obj->sf_name}<br /><b>{MSG: thr_exch_dest_forum}</b> {VAR: obj->df_name}<br /><b>{MSG: thread}</b> <a href="{TEMPLATE: thr_exch_entry_lnk1}">{VAR: obj->subject}</a></font></td>
				<td align="right">[<a class="GenLink" href="{TEMPLATE: thr_exch_entry_lnk2}">{MSG: thr_exch_accept}</a>]&nbsp;&nbsp;[<a class="GenLink" href="{TEMPLATE: thr_exch_entry_lnk3}">{MSG: thr_exch_decline}</a>]</td>
			</tr>
			</table>
		</td>
	</tr>		
</table>
</td></tr>
{SECTION: END}

{SECTION: no_thr_exch}
<tr><td class="RowStyleA" align="center">{MSG: thr_exch_no_threads}</td></tr>
{SECTION: END}

{SECTION: thr_move_decline}
<form method="post" action="{ROOT}?t=thr_exch" name="thr_exch">
{DEF: _hs}<input type="hidden" name="decl" value="{VAR: decl}">
<tr><td class="RowStyleC">{MSG: thr_exch_decl_reason}<br /><textarea name="reason" cols=60 rows=10></textarea><br /><input type="submit" class="button" name="btn_submit" value="{MSG: thr_exch_submit}"></td><tr>
</form>
{SECTION: END}

{SECTION: exch_decline_ttl}
{MSG: exch_decline_ttl}
{SECTION: END}

{PAGE: THR_EXCH_PAGE list of messages that moderators have put up for moving}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<table border="0" cellspacing="0" cellpadding="0" class="ContentTable">
<tr><th>{MSG: thread_exchange}</th></tr>
{TEMPLATE-DATA: thr_exch_data}
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}
{SECTION: thr_exch_entry_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: obj->req_by}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch_entry_lnk1}
{ROOT}?t=msg&amp;{DEF: _rsid}&amp;th={VAR: obj->th}
{SECTION: END}

{SECTION: thr_exch_entry_lnk2}
{ROOT}?t=thr_exch&amp;appr={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch_entry_lnk3}
{ROOT}?t=thr_exch&amp;decl={VAR: obj->id}&amp;{DEF: _rsid}
{SECTION: END}
