/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: thread.tmpl,v 1.17 2003/07/23 02:01:37 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: thread.php.t; output: thread.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: announcement.tmpl}
{REF: draw_pager.tmpl}
{REF: forumsel.tmpl}
{REF: show.tmpl}
{REF: forum_notify.tmpl}
{REF: thread_view_common.tmpl}

{SECTION: thread_legend}
<br />
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
	<tr><td class="RowStyleB"><font class="SmallText"><b>{MSG: legend}</b></font><br /></td></tr>
	<tr><td align=left class="RowStyleB">
		<table border=0 cellspacing=0 cellpadding=0 align=left>
			<tr>
				<td>
				<table border=0 cellspacing=0 cellpadding=2>
					<tr><td><img src="{THEME_IMAGE_ROOT}/unread.gif" alt="{MSG: new_posts}" border=0 /></td><td class="SmallText">{MSG: new_posts}</td></tr>
				</table>
				</td>
				
				<td>
				<table border=0 cellspacing=0 cellpadding=2>
					<tr><td><img src="{THEME_IMAGE_ROOT}/read.gif" border=0 alt="{MSG: no_new_posts}" /></td><td class="SmallText">{MSG: no_new_posts}</td></tr>
				</table>
				</td>
				
				<td>
				<table border=0 cellspacing=0 cellpadding=2>
					<tr><td><img src="{THEME_IMAGE_ROOT}/unreadlocked.gif" border=0 alt="{MSG: locked_with_new_posts}" /></td><td class="SmallText">{MSG: locked_with_new_posts}</td></tr>
				</table>
				</td>
				
				<td>
				<table border=0 cellspacing=0 cellpadding=2>
					<tr><td><img src="{THEME_IMAGE_ROOT}/readlocked.gif" border=0 alt="{MSG: locked}" /></td><td class="SmallText">{MSG: locked}</td></tr>
				</table>
				</td>
				
				<td>
				<table border=0 cellspacing=0 cellpadding=2>
					<tr><td><img src="{THEME_IMAGE_ROOT}/moved.gif" border=0 alt="{MSG: moved}" /></td><td class="SmallText">{MSG: moved}</td></tr>
				</table>
				</td>
			</tr>
		</table>
	</td></tr>
</table>	
{SECTION: END}

{SECTION: admin_heading_row}
<th nowrap>{MSG: moderator_options}</th>
{SECTION: END}

{SECTION: mini_thread_pager}
<font class="SmallText">(<img src="{THEME_IMAGE_ROOT}/pager.gif" border=0 alt="" />{TEMPLATE-DATA: mini_pager_data})</font>
{SECTION: END}

{SECTION: mini_pager_entry}
&nbsp;<a class="GenLink" href="{ROOT}?t={DEF: d_thread_view}&amp;th={VAR: r[13]}&amp;start={VAR: st_pos}&amp;{DEF: _rsid}">{VAR: pg_num}</a> 
{SECTION: END}

{SECTION: mini_pager_limiter}
&nbsp;...
{SECTION: END}

{SECTION: first_unread_msg_link}
<a href="{ROOT}?t={DEF: d_thread_view}&amp;th={VAR: r[13]}&amp;unread=1&amp;{DEF: _rsid}"><img src="{THEME_IMAGE_ROOT}/newposts.gif" border=0 title="{MSG: thread_first_unread_msg}" alt="" /></a>&nbsp;
{SECTION: END}

{SECTION: thread_icon}
<img src="images/message_icons/{VAR: r[3]}" border=0 alt="{VAR: r[3]}" />
{SECTION: END}

{SECTION: rating}
<td class="RowStyleA" align="center"><img src="{THEME_IMAGE_ROOT}/{VAR: r[18]}stars.gif" border=0 alt="{VAR: r[18]}" /></td>
{SECTION: END}

{SECTION: rating_none}
<td class="RowStyleA" align="center"> </td>
{SECTION: END}

{SECTION: sticky}
<font class="SmallText"><b>{MSG: sticky}</b>&nbsp;</font>
{SECTION: END}

{SECTION: announcement}
<font class="SmallText"><b>{MSG: thread_announcement}</b>&nbsp;</font>
{SECTION: END}

{SECTION: thread_last_post}
<font class="DateText">{DATE: r[10] %a, %d %B %Y %H:%M}</font>
{SECTION: END}

{SECTION: unreg_user_link}
{GVAR: ANON_NICK}
{SECTION: END}

{SECTION: reg_user_link}
<a href="{ROOT}?t=usrinfo&amp;id={VAR: r[7]}&amp;{DEF: _rsid}">{VAR: r[8]}</a>
{SECTION: END}

{SECTION: threaded_view tree view link}
<a href="{ROOT}?t=threadt&amp;frm_id={VAR: frm->id}&amp;{DEF: _rsid}" class="GenLink"><img title="{MSG: switch_to_thread_view}" alt="{MSG: switch_to_thread_view}" src="{THEME_IMAGE_ROOT}/tree_view.gif" border=0 /></a>&nbsp;
{SECTION: END}

{SECTION: last_msg_in_thread}
<a href="{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: r[9]}&amp;{DEF: _rsid}" class="GenLink"><img src="{THEME_IMAGE_ROOT}/goto.gif" border=0 title="{MSG: last_thread_msg}" alt="" /></a>
{SECTION: END}

{SECTION: thread_first_post}
<font class="DateText">{DATE: r[4] %a, %d %B %Y}</font>
{SECTION: END}

{SECTION: first_post_unreg_user_link if the thread stater was an anon user link}
{GVAR: ANON_NICK}
{SECTION: END}

{SECTION: first_post_reg_user_link if the thread stater was a registered user link}
<a href="{ROOT}?t=usrinfo&amp;id={VAR: r[6]}&amp;{DEF: _rsid}">{VAR: r[5]}</a>
{SECTION: END}

{SECTION: admin_control_row_all moderator link for moving & deleting a thread}
<td align=center class="RowStyleA"><a href="javascript://" onClick="javascript: window_open(\'{ROOT}?t=mvthread&amp;{DEF: _rsid}&amp;th={VAR: r[13]}\', \'th_move\', 300, 400);">{MSG: move_thread}</a> | <a href="{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: r[13]}&amp;del={VAR: r[15]}">{MSG: thread_mod_delete}</a></td>
{SECTION: END}

{SECTION: admin_control_row_move moderator link for moving a thread}
<td align=center class="RowStyleA"><a href="javascript://" onClick="javascript: window_open(\'{ROOT}?t=mvthread&amp;{DEF: _rsid}&amp;th={VAR: r[13]}\', \'th_move\', 300, 400);">{MSG: move_thread}</a></td>
{SECTION: END}

{SECTION: admin_control_row_del moderator link for deleting a thread}
<td align=center class="RowStyleA"><a href="{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: r[13]}&amp;del={VAR: r[15]}">{MSG: thread_mod_delete}</a></td>
{SECTION: END}

{SECTION: thread_row}
<tr>		
<td width=1 class="RowStyleB">{TEMPLATE-DATA: thread_read_status}</td>
<td class="RowStyleB" width=1 align="center">{TEMPLATE-DATA: thread_icon}</td>
<td class="RowStyleA">{TEMPLATE-DATA: stick_status}{TEMPLATE-DATA: first_unread_msg_link}{TEMPLATE-DATA: thread_poll_indicator}{TEMPLATE-DATA: thread_attach_indicator}<a class="GenLink" href="{ROOT}?t={DEF: d_thread_view}&amp;th={VAR: r[13]}&amp;start=0&amp;{DEF: _rsid}">{VAR: r[2]}</a>&nbsp;{TEMPLATE-DATA: mini_thread_pager}</td>
<td class="RowStyleB" align="center">{VAR: r[16]}</td>
<td class="RowStyleB" align="center">{VAR: r[21]}</td>
{TEMPLATE-DATA: rating}
<td class="RowStyleB" nowrap>{TEMPLATE: thread_last_post}<br />{MSG: by} {TEMPLATE-DATA: user_link} {TEMPLATE: last_msg_in_thread}</td>
<td class="RowStyleB" nowrap>{TEMPLATE: thread_first_post}<br />{MSG: by} {TEMPLATE-DATA: first_post_login}</td>
{TEMPLATE-DATA: admin_control_row}
</tr>
{SECTION: END}

{SECTION: thread_row_moved a row indicating that the thread has been moved}
<tr>
<td width=1 class="RowStyleB"><img src="{THEME_IMAGE_ROOT}/moved.gif" border=0 title="{MSG: moved_thread_message}" /></td>
<td class="RowStyleB" colspan="{VAR: moved_cols}" align="center" class="GenText">{MSG: was_moved_msg}</td>
</tr>
{SECTION: END}

{SECTION: rating_heading}
<th align="center">{MSG: rating}</th>
{SECTION: END}

{SECTION: thread_list}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th width="100%">{MSG: thread_thread}</th>
	<th width=1>{MSG: replies}</th>
	<th width=1>{MSG: views}</th>
	{TEMPLATE-DATA: rating_heading}
	<th nowrap>{MSG: last_post}</th>
	<th nowrap>{MSG: started_on}</th>
	{TEMPLATE-DATA: admin_heading_row}
</tr>
{TEMPLATE-DATA: announcements}
{TEMPLATE-DATA: thread_list_table_data}
</table>
{SECTION: END}

{PAGE: THREAD_PAGE shows the threads in a particular forum}
{TEMPLATE: header}
{TEMPLATE: usercp}
<table width="100%" border=0 cellspacing=0 cellpadding=0><tr>
<td valign="bottom" align="left" width="100%">{TEMPLATE: forum_path}<br />{TEMPLATE: show_links}<br />{TEMPLATE-DATA: subscribe}{TEMPLATE-DATA: admin_cp}</td>
<td valign="bottom" align="right" class="GenText">{TEMPLATE-DATA: threaded_view}{TEMPLATE: new_thread_link}</td>
</tr></table><img src="blank.gif" alt="" height=2 border=0 />

{TEMPLATE: thread_list}
<img src="blank.gif" alt="" width=1 height=2 /><br />
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr>
<td valign="top">{TEMPLATE-DATA: page_pager}&nbsp;</td>
<td align="right" class="GenText" valign="bottom" nowrap>{TEMPLATE-DATA: threaded_view}{TEMPLATE: new_thread_link}</td>
</tr>
</table>
{TEMPLATE-DATA: forum_select}
{TEMPLATE-DATA: mark_all_read}
{TEMPLATE: thread_legend}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: thread_update}
{MSG: thread_update}
{SECTION: END}
