/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: threadt.tmpl,v 1.35 2004/10/21 00:08:38 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: threadt.php.t; output: threadt.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: announcement.tmpl}
{REF: draw_pager.tmpl}
{REF: forumsel.tmpl}
{REF: show.tmpl}
{REF: forum_notify.tmpl}
{REF: thread_view_common.tmpl}

{SECTION: flat_view_lnk}
{ROOT}?t=thread&amp;frm_id={VAR: frm->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: flat_view switch to flat view link}
<a href="{TEMPLATE: flat_view_lnk}"><img alt="{MSG: flat_view}" title="{MSG: flat_view}" src="{THEME_IMAGE_ROOT}/flat_view.gif" /></a>
{SECTION: END}

{SECTION: thread_icon}
<img src="images/message_icons/{VAR: cur->icon}" alt="{VAR: cur->icon}" />
{SECTION: END}

{SECTION: unreg_user_link}
{GVAR: ANON_NICK}
{SECTION: END}

{SECTION: reg_user_link_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: cur->poster_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: reg_user_link}
<a href="{TEMPLATE: reg_user_link_lnk}">{VAR: cur->alias}</a>
{SECTION: END}

{SECTION: thread_row_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: cur->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: thread_row}
<tr>
<td class="RowStyleB">{TEMPLATE-DATA: thread_read_status}</td>
<td class="RowStyleB">{TEMPLATE-DATA: thread_icon}</td>
<td class="tt" style="padding-left: {VAR: width}px">{TEMPLATE-DATA: thread_poll_indicator}{TEMPLATE-DATA: thread_attach_indicator}<a href="{TEMPLATE: thread_row_lnk}" class="big">{VAR: cur->subject}</a>{VAR: sticky}
<div class="TopBy">{MSG: by} {TEMPLATE-DATA: user_link} {MSG: thread_on} {TEMPLATE: threadt_msg_post_date}</div></td>
</tr>
{SECTION: END}

{SECTION: thread_row_moved a row indicating that the thread has been moved}
<tr>
<td class="RowStyleB">&nbsp;</td>
<td class="RowStyleB"><img src="{THEME_IMAGE_ROOT}/moved.png" title="{MSG: moved_thread_message}" /></td>
<td class="tt">{MSG: was_moved_msg}</td>
</tr>
{SECTION: END}

{SECTION: max_depth_reached_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: cur->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: max_depth_reached maximum allowed depth of thread reached}
<tr>
<td class="RowStyleB" colspan=2>&nbsp;</td>
<td class="tt" style="padding-left: {VAR: width}px"><a href="{TEMPLATE: max_depth_reached_lnk}" class="big">{MSG: threadt_more}</a></td>
</tr>
{SECTION: END}

{SECTION: thread_list}
<table cellspacing="0" cellpadding="2" class="ContentTable">
{TEMPLATE-DATA: announcements}
{TEMPLATE-DATA: thread_list_table_data}
</table>
{SECTION: END}

{SECTION: thread_sep_e}
</table></td></tr>
{SECTION: END}

{SECTION: thread_sep_s}
<tr><td><table border=0 cellspacing=0 cellpadding=0 class="tt">
{SECTION: END}

{PAGE: THREAD_PAGE shows the threads in a particular forum}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: admin_cp}
<table class="wa" border=0 cellspacing=0 cellpadding=0><tr>
<td class="al wa">{FUNC: draw_forum_path($frm->cat_id, $frm->name)}<br />{TEMPLATE: show_links}<br />{TEMPLATE-DATA: subscribe}{TEMPLATE-DATA: merget}</td>
<td class="GenText nw vb ar">{TEMPLATE: flat_view}&nbsp;{TEMPLATE: new_thread_link}</td>
</tr></table>
{TEMPLATE: thread_list}
<table border=0 cellspacing=0 cellpadding=0 class="wa">
<tr>
<td class="vt">{TEMPLATE-DATA: page_pager}&nbsp;</td>
<td class="GenText nw vb ar">{TEMPLATE: flat_view}&nbsp;{TEMPLATE: new_thread_link}</td>
</tr>
</table>
{FUNC: tmpl_create_forum_select((isset($frm->forum_id) ? $frm->forum_id : $frm->id), $usr->users_opt & 1048576)}
{TEMPLATE-DATA: mark_all_read}
{TEMPLATE: thread_legend}
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: threadt_update}
{MSG: threadt_update}
{SECTION: END}

{SECTION: threadt_disabled_ttl}
{MSG: threadt_disabled_ttl}
{SECTION: END}

{SECTION: threadt_disabled_desc}
{MSG: threadt_disabled_desc}
{SECTION: END}

{SECTION: sticky}
<span class="StClr"> ({MSG: threadt_sticky})</span>
{SECTION: END}

{SECTION: announcement}
<span class="AnClr"> ({MSG: threadt_announce})</span>
{SECTION: END}

{SECTION: threadt_tab_width}
20
{SECTION: END}
