/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: thread_view_common.tmpl,v 1.20 2004/04/21 21:17:45 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: thread_view_common.inc.t; output: thread_view_common.inc;}
{REF: is_perms.tmpl}

{SECTION: thread_mark_all_read_lnk}
{ROOT}?t=markread&amp;{DEF: _rsid}&id={VAR: frm->id}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: thread_mark_all_read}
<div align="right"><font class="SmallText">[<a href="{TEMPLATE: thread_mark_all_read_lnk}" title="{MSG: thread_mark_all_read_desc}">{MSG: thread_mark_all_read}</a>]{TEMPLATE-DATA: thread_printable_pdf}{TEMPLATE-DATA: thread_syndicate}</font></div>
{SECTION: END}

{SECTION: forum_path_lnk}
{ROOT}?t=index&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: forum_path}
<a href="{TEMPLATE: forum_path_lnk}">{VAR: frm->cat_name}</a><font class="GenText"> &raquo; <b>{VAR-HTML: frm->name}</b></font>
{SECTION: END}

{SECTION: new_thread_link_lnk}
{ROOT}?t=post&amp;frm_id={VAR: frm->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: new_thread_link}
<a href="{TEMPLATE: new_thread_link_lnk}"><img src="{THEME_IMAGE_ROOT}/new_thread.gif" alt="{MSG: new_thread}" /></a>
{SECTION: END}

{SECTION: unsubscribe_link_lnk}
{ROOT}?t={VAR: _GET['t']}&amp;unsub=1&amp;frm_id={VAR: frm->id}&amp;start={VAR: start}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: unsubscribe_link}
<a href="{TEMPLATE: unsubscribe_link_lnk}" title="{MSG: unsubscribe_desc}">{MSG: unsubscribe}</a>
{SECTION: END}

{SECTION: subscribe_link_lnk}
{ROOT}?t={VAR: _GET['t']}&amp;sub=1&amp;frm_id={VAR: frm->id}&amp;start={VAR: start}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: subscribe_link}
<a href="{TEMPLATE: subscribe_link_lnk}" title="{MSG: subscribe_desc}">{MSG: subscribe}</a>
{SECTION: END}

{SECTION: no_messages}
<font class="GenText">{MSG: no_messages}</font>
{SECTION: END}

{SECTION: thread_poll_indicator}
{MSG: poll}&nbsp;
{SECTION: END}

{SECTION: thread_attach_indicator}
<img src="{THEME_IMAGE_ROOT}/attachment.gif" alt="" />
{SECTION: END}

{SECTION: thread_read}
<img src="{THEME_IMAGE_ROOT}/read.png" title="{MSG: no_unread_msg}" alt="" />
{SECTION: END}

{SECTION: thread_read_unreg}
<img src="{THEME_IMAGE_ROOT}/read.png" title="{MSG: no_unread_msg_unreg}" alt="" />
{SECTION: END}

{SECTION: thread_read_locked}
<img src="{THEME_IMAGE_ROOT}/readlocked.png" title="{MSG: no_unread_locked}" alt="" />
{SECTION: END}

{SECTION: thread_unread}
<img src="{THEME_IMAGE_ROOT}/unread.png" title="{MSG: unread_msg}" alt="" />
{SECTION: END}

{SECTION: thread_unread_locked}
<img src="{THEME_IMAGE_ROOT}/unreadlocked.png" title="{MSG: unread_msg_locked}" alt="" />
{SECTION: END}

{SECTION: thread_icon_none}
&nbsp;
{SECTION: END}

{SECTION: thread_title}
{MSG: thread_title}
{SECTION: END}

{SECTION: thread_printable_pdf_lnk}
{GVAR: WWW_ROOT}pdf.php?frm={VAR: frm->id}&amp;page={VAR: cur_frm_page}
{SECTION: END}

{SECTION: thread_printable_pdf}
&nbsp;[ <a href="{TEMPLATE: thread_printable_pdf_lnk}">{MSG: thread_printable_pdf}</a> ]
{SECTION: END}

{SECTION: thread_syndicate_lnk}
{ROOT}?t=help_index&amp;section=boardusage#syndicate
{SECTION: END}

{SECTION: thread_syndicate}
&nbsp;[ <a href="{TEMPLATE: thread_syndicate_lnk}">{MSG: thread_syndicate}</a> ]
{SECTION: END}

{SECTION: thread_pdf_rdf}
<div align="right"><font class="SmallText">{TEMPLATE-DATA: thread_printable_pdf}{TEMPLATE-DATA: thread_syndicate}</font></div>
{SECTION: END}

{SECTION: thread_merge_t_lnk}
{ROOT}?t=merge_th&amp;frm={VAR: frm->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: thread_merge_t}
&nbsp;<a href="{TEMPLATE: thread_merge_t_lnk}">{MSG: merge_topics}</a>
{SECTION: END}

{SECTION: thread_legend}
<fieldset>
        <legend>{MSG: legend}</legend>
<img src="{THEME_IMAGE_ROOT}/unread.png" alt="{MSG: new_posts}" />&nbsp;{MSG: new_posts}&nbsp;&nbsp;
<img src="{THEME_IMAGE_ROOT}/read.png" alt="{MSG: no_new_posts}" />&nbsp;{MSG: no_new_posts}&nbsp;&nbsp;
<img src="{THEME_IMAGE_ROOT}/unreadlocked.png" alt="{MSG: locked_with_new_posts}" />&nbsp;{MSG: locked_with_new_posts}&nbsp;&nbsp;
<img src="{THEME_IMAGE_ROOT}/readlocked.png" alt="{MSG: locked}" />&nbsp;{MSG: locked}&nbsp;&nbsp;
<img src="{THEME_IMAGE_ROOT}/moved.png" alt="{MSG: moved}" />&nbsp;{MSG: moved}
</fieldset>
{SECTION: END}
