/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: tree_msg.tmpl,v 1.7 2009/01/29 18:37:29 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: tree_msg.php.t; output: tree_msg.php;}
{REF: security.tmpl}
{REF: alt_var.tmpl}
{REF: is_perms.tmpl}
{REF: drawmsg.tmpl}
{REF: th.tmpl}

{PAGE: TREE_MSG_PAGE}
<table cellspacing="0" cellpadding="0" id="msgTbl" class="ContentTable">
{FUNC: tmpl_drawmsg($msg_obj, $usr, $perms, false, $n, $pn)}
</table>
{PAGE: END}