/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: tree.tmpl,v 1.53 2004/05/30 17:44:09 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: tree.php.t; output: tree.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: forumsel.tmpl}
{REF: drawmsg.tmpl}
{REF: fileio.tmpl}
{REF: imsg.tmpl}
{REF: thread_notify.tmpl}
{REF: alt_var.tmpl}
{REF: is_perms.tmpl}
{REF: show.tmpl}
{REF: th_nav.tmpl}
{REF: th.tmpl}

{SECTION: tree_unread_message new message}
<img src="{THEME_IMAGE_ROOT}/unread.png" alt="{MSG: unread_message}" title="{MSG: unread_message}" />
{SECTION: END}

{SECTION: tree_read_message read message}
<img src="{THEME_IMAGE_ROOT}/read.png" alt="{MSG: read_message}" title="{MSG: read_message}" />
{SECTION: END}

{SECTION: msg_forum_path_lnk}
{ROOT}?t=index&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: msg_forum_path_lnk2}
{ROOT}?t={DEF: t_thread_view}&amp;frm_id={VAR: frm->forum_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: msg_forum_path forum location forum>thread>}
<span class="GenText"><a name="page_top" href="{TEMPLATE: msg_forum_path_lnk}">{VAR: frm->cat_name}</a> &raquo; <a href="{TEMPLATE: msg_forum_path_lnk2}">{VAR-HTML: frm->frm_name}</a> &raquo; <b>{VAR: frm->subject}</b></span>
{SECTION: END}

{SECTION: thread_rating}
&nbsp;(<img src="{THEME_IMAGE_ROOT}/{VAR: frm->rating}stars.gif" alt="{VAR: frm->rating}" />) {MSG: vote}
{SECTION: END}

{SECTION: no_thread_rating}
{SECTION: END}

{SECTION: split_thread_lnk}
{ROOT}?t=split_th&amp;{DEF: _rsid}&amp;th={VAR: th}
{SECTION: END}

{SECTION: split_thread}
<a href="{TEMPLATE: split_thread_lnk}">{MSG: split_thread}</a>&nbsp;|&nbsp;
{SECTION: END}

{SECTION: mod_lock_thread_lnk}
{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: th}&amp;lock=1&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: mod_lock_thread}
<a href="{TEMPLATE: mod_lock_thread_lnk}">{MSG: lock_thread}</a>&nbsp;|&nbsp;
{SECTION: END}

{SECTION: mod_unlock_thread_lnk}
{ROOT}?t=mmod&amp;{DEF: _rsid}&amp;th={VAR: th}&amp;unlock=1&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: mod_unlock_thread}
<a href="{TEMPLATE: mod_unlock_thread_lnk}">{MSG: unlock_thread}</a>&nbsp;|&nbsp;
{SECTION: END}

{SECTION: email_page_to_friend_lnk}
{ROOT}?t=remail&amp;th={VAR: th}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: email_page_to_friend}
<a href="{TEMPLATE: email_page_to_friend_lnk}" title="{MSG: email_to_friend_desc}">{MSG: email_to_friend}</a>&nbsp;
{SECTION: END}

{SECTION: sub_from_thread_lnk}
{ROOT}?t=tree&amp;th={VAR: th}&amp;notify={VAR: usr->id}&amp;{DEF: _rsid}&amp;opt=on&amp;mid={VAR: mid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: sub_from_thread subscribe to thread link}
| <a href="{TEMPLATE: sub_from_thread_lnk}" title="{MSG: sub_to_thread_desc}">{MSG: sub_to_thread}</a>&nbsp;
{SECTION: END}

{SECTION: unsub_to_thread_lnk}
{ROOT}?t=tree&amp;th={VAR: th}&amp;notify={VAR: usr->id}&amp;{DEF: _rsid}&amp;opt=off&amp;mid={VAR: mid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: unsub_to_thread unsubscribe from thread link}
| <a href="{TEMPLATE: unsub_to_thread_lnk}" title="{MSG: unsub_from_thread_desc}">{MSG: unsub_from_thread}</a>&nbsp;
{SECTION: END}

{SECTION: flat_view_lnk}
{ROOT}?t=msg&amp;th={VAR: th}&amp;{DEF: _rsid}#msg_{VAR: mid}
{SECTION: END}

{SECTION: flat_view switch to flat view link}
<a href="{TEMPLATE: flat_view_lnk}"><img alt="{MSG: flat_view}" title="{MSG: flat_view}" src="{THEME_IMAGE_ROOT}/flat_view.gif" /></a>
{SECTION: END}

{SECTION: new_thread_lnk}
{ROOT}?t=post&amp;frm_id={VAR: frm->forum_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: new_thread new thread link}
<a href="{TEMPLATE: new_thread_lnk}"><img alt="{MSG: new_thread}" src="{THEME_IMAGE_ROOT}/new_thread.gif" /></a>
{SECTION: END}

{SECTION: post_reply_lnk}
{ROOT}?t=post&amp;th_id={VAR: th}&amp;reply_to={VAR: mid}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: post_reply}
&nbsp;<a href="{TEMPLATE: post_reply_lnk}"><img alt="{MSG: submit_reply}" src="{THEME_IMAGE_ROOT}/post_reply.gif" /></a>
{SECTION: END}

{SECTION: rate_thread rate thread select}
<table border=0 cellspacing=0 cellpadding=0><tr><form action="{TEMPLATE: rate_thread_lnk3}" name="vote_frm" method="post"><td nowrap>
<select name="sel_vote" onChange="javascript: if ( !this.value ) return false; document.vote_frm.submit();">
<option>{MSG: rate_thread}</option>
<option value="1">1 {MSG: rate_worst}</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5 {MSG: rate_best}</option>
</select>
</td><td>&nbsp;<input type="submit" class="button" name="btn_vote" value="{MSG: vote_for_thread}">
<input type="hidden" name="rate_thread_id" value="{VAR: frm->id}">{DEF: _hs}
</td></form></tr></table>
{SECTION: END}

{SECTION: reg_user_link_lnk}
{ROOT}?t=usrinfo&amp;id={VAR: cur->poster_id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: reg_user_link}
<a href="{TEMPLATE: reg_user_link_lnk}">{VAR: cur->alias}</a>
{SECTION: END}

{SECTION: anon_user}
{GVAR: ANON_NICK}
{SECTION: END}

{SECTION: tree_branch_lnk}
{ROOT}?t=tree&amp;th={VAR: th}&amp;mid={VAR: cur->id}&amp;{DEF: _rsid}&amp;rev={VAR: rev}&amp;reveal={VAR: reveal}
{SECTION: END}

{SECTION: tree_branch message with replies}
<tr class="{ALT-VAR: tree_alt RowStyleA RowStyleB}">
<td>{TEMPLATE-DATA: read_indicator}</td>
<td class="Gentext nw wa vt" style="padding-left: {VAR: width}px">
<a href="{TEMPLATE: tree_branch_lnk}" class="big">{VAR: cur->subject}</a>
<div class="TopBy">{MSG: by} {TEMPLATE-DATA: user_login} {MSG: thread_on} {DATE: cur->post_stamp %a, %d %B %Y %H:%M}</div></td>
</tr>
{SECTION: END}

{SECTION: tree_entry_lnk}
{ROOT}?t=tree&amp;th={VAR: th}&amp;mid={VAR: cur->id}&amp;{DEF: _rsid}&amp;rev={VAR: rev}&amp;reveal={VAR: reveal}
{SECTION: END}

{SECTION: tree_entry message without replies}
<tr class="{ALT-VAR: tree_alt RowStyleA RowStyleB}">
<td>{TEMPLATE-DATA: read_indicator}</td>
<td class="Gentext nw wa vt" style="padding-left: {VAR: width}px">
<a href="{TEMPLATE: tree_entry_lnk}" class="big">{VAR: cur->subject}</a>
<div class="TopBy">{MSG: by} {TEMPLATE-DATA: user_login} {MSG: thread_on} {DATE: cur->post_stamp %a, %d %B %Y %H:%M}</div></td>
{SECTION: END}

{SECTION: tree_branch_selected_lnk}
{ROOT}?t=tree&amp;th={VAR: th}&amp;mid={VAR: cur->id}&amp;{DEF: _rsid}&amp;rev={VAR: rev}&amp;reveal={VAR: reveal}
{SECTION: END}

{SECTION: tree_branch_selected message with replies that is currently being viewed}
<tr class="RowStyleC">
<td>{TEMPLATE-DATA: read_indicator}</td>
<td class="Gentext nw wa vt" style="padding-left: {VAR: width}px">
<a href="{TEMPLATE: tree_branch_selected_lnk}" class="big">{VAR: cur->subject}</a><a name="tree_view">&nbsp;</a>
<div class="TopBy">{MSG: by} {TEMPLATE-DATA: user_login} {MSG: thread_on} {DATE: cur->post_stamp %a, %d %B %Y %H:%M}</div></td>
{SECTION: END}

{SECTION: tree_entry_selected_lnk}
{ROOT}?t=tree&amp;th={VAR: th}&amp;mid={VAR: cur->id}&amp;{DEF: _rsid}&amp;rev={VAR: rev}&amp;reveal={VAR: reveal}
{SECTION: END}

{SECTION: tree_entry_selected message without replies that is currently being viewed}
<tr class="RowStyleC">
<td>{TEMPLATE-DATA: read_indicator}</td>
<td class="Gentext nw wa vt" style="padding-left: {VAR: width}px">
<a href="{TEMPLATE: tree_entry_selected_lnk}" class="big">{VAR: cur->subject}</a><a name="tree_view">&nbsp;</a>
<div class="TopBy">{MSG: by} {TEMPLATE-DATA: user_login} {MSG: thread_on} {DATE: cur->post_stamp %a, %d %B %Y %H:%M}</div></td>
{SECTION: END}

{PAGE: TREE_PAGE a tree(thread) view of all the messages inside a thread}
{TEMPLATE: header}
{TEMPLATE: usercp}
{TEMPLATE-DATA: admin_cp}
{TEMPLATE-DATA: msg_forum_path} {TEMPLATE-DATA: thread_rating}
<table cellspacing=0 cellpadding=0 border=0 class="wa">
<tr>
<td class="GenText al">{TEMPLATE: show_links}{TEMPLATE-DATA: split_thread}{TEMPLATE-DATA: lock_thread}{TEMPLATE-DATA: email_page_to_friend}{TEMPLATE-DATA: subscribe_status}</td>
<td class="vb ar">{TEMPLATE: flat_view}&nbsp;{TEMPLATE: new_thread}{TEMPLATE-DATA: post_reply}</td>
</tr>
</table>
<table cellspacing="0" cellpadding="0" class="ContentTable">{TEMPLATE-DATA: message_data}</table>
<div class="ac GenText">[<a href="javascript://" onClick="chng_focus('tree_view');" title="{MSG: message_index_desc}">{MSG: message_index}</a>]</div>
<p>
<table cellspacing="1" cellpadding="2" class="MsgTable">
{TEMPLATE-DATA: tree_data}
</table>
<table border=0 cellspacing=1 cellpadding=1 align="right">
{TEMPLATE-DATA: prev_thread_link}
{TEMPLATE-DATA: next_thread_link}
</table>
{TEMPLATE-DATA: rate_thread}
{TEMPLATE-DATA: forum_select}
<br /><div class="wa ac">-=] <a href="javascript://" onClick="chng_focus('page_top');">{MSG: back_to_top}</a> [=-</div>
<div class="ar SmallText">{TEMPLATE-DATA: pdf_link} {TEMPLATE-DATA: xml_link}</div>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: tree_title}
{MSG: tree_title}
{SECTION: END}

{SECTION: tree_update}
{MSG: tree_update}
{SECTION: END}

{SECTION: tree_pdf_link_lnk}
{GVAR: WWW_ROOT}pdf.php?msg={VAR: mid}
{SECTION: END}

{SECTION: tree_pdf_link}
[ <a href="{TEMPLATE: tree_pdf_link_lnk}">{MSG: thread_printable_pdf}</a> ]
{SECTION: END}

{SECTION: tree_xml_link_lnk}
{ROOT}?t=help_index&amp;section=boardusage#syndicate
{SECTION: END}

{SECTION: tree_xml_link}
[ <a href="{TEMPLATE: tree_xml_link_lnk}">{MSG: thread_syndicate}</a> ]
{SECTION: END}

{SECTION: tree_tab_width the width of the tab beside each message in pixels}
15
{SECTION: END}

{SECTION: rate_thread_lnk3}
{ROOT}?t=ratethread
{SECTION: END}
