/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: ulink.tmpl,v 1.10 2007/01/01 18:23:47 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: ulink.inc.t; output: ulink.inc;}

{SECTION: ulink_custom_color}
<span style="color: {VAR: custom_color}">{VAR: login}</span>
{SECTION: END}

{SECTION: ulink_reg_user}
{VAR: login}
{SECTION: END}

{SECTION: ulink_mod_user}
<span class="modsColor">{VAR: login}</span>
{SECTION: END}

{SECTION: ulink_adm_user}
<span class="adminColor">{VAR: login}</span>
{SECTION: END}
