/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@fudforum.org
* $Id: usrinfo.tmpl,v 1.63 2009/08/09 11:33:37 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: usrinfo.php.t; output: usrinfo.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: rev_fmt.tmpl}
{REF: is_perms.tmpl}
{REF: alt_var.tmpl}
{REF: allowed_user_lnk.tmpl}

{SECTION: last_post_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: r[1]}&amp;{DEF: _rsid}#msg_{VAR: r[1]}
{SECTION: END}

{SECTION: last_post last post link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: usrinfo_last_post}</td><td class="GenText"><span class="DateText">{TEMPLATE: uinfo_last_post_date}</span><br /><a href="{TEMPLATE: last_post_lnk}">{VAR: r[0]}</a></td></tr>
{SECTION: END}

{SECTION: email_link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="GenText nw">{MSG: email}</td><td class="GenText"><a href="mailto:{VAR: u->email}">{VAR: u->email}</a></td></tr>
{SECTION: END}

{SECTION: email_form_link_lnk}
{ROOT}?t=email&amp;toi={VAR: u->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: email_form_link link to the email form}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: email}</td><td class="GenText">[<a href="{TEMPLATE: email_form_link_lnk}">{MSG: email_user}</a>]</td></tr>
{SECTION: END}

{SECTION: usrinfo_private_msg_lnk}
{ROOT}?t=ppost&amp;{DEF: _rsid}&amp;toi={VAR: u->id}
{SECTION: END}

{SECTION: referals_lnk}
{ROOT}?t=list_referers&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: referals an indicator of how many people this user has referred}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_referals}</td><td class="GenText"><a href="{TEMPLATE: referals_lnk}">{MSG: userinfo_referals_count}</a></td></tr>
{SECTION: END}

{SECTION: birth_date}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: birth_date}</td><td class="GenText">{VAR: bday['month']} {VAR: bday['day']}, {VAR: bday['year']}</td></tr>
{SECTION: END}

{SECTION: level_name user's level name as determined by post count}
{VAR: u->level_name}<br />
{SECTION: END}

{SECTION: level_image user's level image if available as determined by post count}
<img src="images/{VAR: u->level_img}" alt="" /><br />
{SECTION: END}

{SECTION: moderation list of all forums moderated by user}
{MSG: moderator_of}&nbsp;{TEMPLATE-DATA: moderation}
{SECTION: END}

{SECTION: moderation_entry_lnk}
{ROOT}?t={DEF: t_thread_view}&amp;frm_id={VAR: r[0]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: moderation_entry link to forum moderated by user}
<a href="{TEMPLATE: moderation_entry_lnk}">{VAR: r[1]}</a>&nbsp;
{SECTION: END}

{SECTION: USERINFO_PAGE_lnk}
{ROOT}?t=showposts&amp;id={VAR: u->id}&amp;{DEF: _rsid}
{SECTION: END}

{PAGE: USERINFO_PAGE info about a particular user in the forum}
{TEMPLATE: header}
{TEMPLATE: usercp}
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan="2" class="wa">{IF: !($u->users_opt & 32768) && (($u->time_sec + $LOGEDIN_TIMEOUT * 60) > __request_timestamp__)}<img src="{THEME_IMAGE_ROOT}/online{DEF: img_ext}" alt="{MSG: user_online}" title="{MSG: user_online}" />{ELSE}<img src="{THEME_IMAGE_ROOT}/offline{DEF: img_ext}" alt="{MSG: user_offline}" title="{MSG: user_offline}" />{END}&nbsp;{MSG: usrinfo_profile}</th></tr>
<tr class="RowStyleA"><td class="nw GenText">{MSG: date_registered}</td><td class="wa DateText">{TEMPLATE: uinfo_join_date}</td></tr>
<tr class="RowStyleB"><td class="vt nw GenText">{MSG: post_count_l}</td><td class="GenText">{MSG: average_post_count}<br /><a href="{TEMPLATE: USERINFO_PAGE_lnk}">{MSG: usrinfo_show_all_posts}</a></td></tr>
{IF: $u->users_opt & 32768}{ELSE}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_real_name}</td><td class="GenText">{VAR: u->name}</td></tr>{END}
{IF: ($level_name || $moderation || $level_image || $u->custom_status)}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw vt GenText">{MSG: status}</td><td class="GenText">
<span class="LevelText">
{TEMPLATE-DATA: level_name}
{TEMPLATE-DATA: level_image}
{IF: $u->custom_status}{VAR: u->custom_status}<br />{ENDIFI}
</span>
{TEMPLATE-DATA: moderation}
</td></tr>{ENDIF}
{IF: ($FUD_OPT_1 & 28 && $u->users_opt & 8388608 && !($u->level_opt & 2))}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: avatar}</td><td class="GenText">{VAR: u->avatar_loc}</td></tr>{ENDIF}
{TEMPLATE-DATA: last_post}
{IF: $u->last_visit && !($u->users_opt & 32768)}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: usrinfo_last_visit}</td><td class="GenText DateText">{TEMPLATE: uinfo_last_visit_date}</td></tr>{ENDIF}
{TEMPLATE-DATA: polls}
{IF: ($FUD_OPT_2 & 65536 && $u->user_image && strpos($u->user_image, '://'))}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: image}</td><td class="GenText"><img src="{VAR: u->user_image}" alt="" /></td></tr>{ENDIF}
{TEMPLATE-DATA: email_link}
{IF: ($FUD_OPT_1 & 1024 && _uid)}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: usrinfo_private_message}</td><td class="GenText"><a href="{TEMPLATE: usrinfo_private_msg_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_pm.gif" alt="" /></a></td></tr>{ENDIF}
{TEMPLATE-DATA: buddy}
{TEMPLATE-DATA: referals}
{IF: $u->home_page}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: homepage}</td><td class="GenText"><a href="{VAR: u->home_page}" rel="nofollow" target="_blank">{VAR: u->home_page}</a></td></tr>{ENDIF}
{TEMPLATE-DATA: gender}
{IF: $u->location}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: location}</td><td class="GenText">{VAR: u->location}</td></tr>{ENDIF}
{IF: $u->occupation}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: occupation}</td><td class="GenText">{VAR: u->occupation}</td></tr>{ENDIF}
{IF: $u->interests}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: interests}</td><td class="GenText">{VAR: u->interests}</td></tr>{ENDIF}
{IF: $u->bio}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: biography}</td><td class="GenText">{VAR: u->bio}</td></tr>{ENDIF}
{TEMPLATE-DATA: birth_date}
{IF: $u->icq}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw vt GenText"><a name="icq_msg">{MSG: icq_message_form}</a></td><td class="GenText">
		{VAR: u->icq} <img src="http://web.icq.com/whitepages/online?icq={VAR: u->icq}&amp;img=5" /><br />
			<table class="icqCP">
			<tr><td colspan="2">
				<form action="http://wwp.icq.com/scripts/WWPMsg.dll" method="post" target=_blank>
				<b>{MSG: icq_control_panel}</b>
			</td></tr>
			<tr>
				<td>
					{MSG: sender_name}<br />
					<input type="text" name="from" value="" size="15" maxlength="40" onfocus="this.select()" />
				</td>
				<td>
					{MSG: sender_email}<br />
					<input type="text" name="fromemail" value="" size="15" maxlength="40" onfocus="this.select()" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					{MSG: subject}<br />
					<input type="text" spellcheck="true" name="subject" value="" size="32" /><br />
					{MSG: message}<br />
					<textarea name="body" rows="3" cols="32" wrap="Virtual"></textarea>
					<input type="hidden" name="to" value="{VAR: u->icq}" /><br />
				</td>
			</tr>
			<tr><td colspan="2" align="right"><input type="submit" class="button" name="Send" value="{MSG: send}" /></td></tr>
			</form>
			</table>
			</td>
</tr>{ENDIF}
{IF: $u->aim}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_aim}</td><td class="GenText"><a href="aim:goim?screenname={VAR: u->aim}&amp;message=Hello+Are+you+there?"><img src="{THEME_IMAGE_ROOT}/aim{DEF: img_ext}" title="{VAR: obj->aim}" alt="" />{FUNC: htmlentities(urldecode($u->aim))}</a></td></tr>{ENDIF}
{IF: $u->yahoo}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_yahoo}</td><td class="GenText"><a href="http://edit.yahoo.com/config/send_webmesg?.target={VAR: u->yahoo}&amp;.src=pg"><img src="{THEME_IMAGE_ROOT}/yahoo{DEF: img_ext}" title="{VAR: obj->yahoo}" alt="" />{FUNC: htmlentities(urldecode($u->yahoo))}</a></td></tr>{ENDIF}
{IF: $u->msnm}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_msnm}</td><td class="GenText"><img src="{THEME_IMAGE_ROOT}/msnm{DEF: img_ext}" title="{VAR: obj->msnm}" alt="" />{FUNC: char_fix(htmlspecialchars(urldecode($u->msnm)))}</td></tr>{ENDIF}
{IF: $u->jabber}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_jabber}</td><td class="GenText"><img src="{THEME_IMAGE_ROOT}/jabber{DEF: img_ext}" title="{VAR: obj->jabber}" alt="" />{VAR: u->jabber}</td></tr>{ENDIF}
{IF: $u->google}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_google}</td><td class="GenText"><img src="{THEME_IMAGE_ROOT}/google{DEF: img_ext}" title="{VAR: obj->google}" alt="" />{VAR: u->google}</td></tr>{ENDIF}
{IF: $u->skype}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_skype}</td><td class="GenText"><a href="callto://{VAR: u->skype}"><img src="{THEME_IMAGE_ROOT}/skype{DEF: img_ext}" title="{VAR: obj->skype}" alt="" />{VAR: u->skype}</a></td></tr>{ENDIF}
{IF: $u->twitter}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_twitter}</td><td class="GenText"><a href="http://twitter.com/{VAR: u->twitter}"><img src="{THEME_IMAGE_ROOT}/twitter{DEF: img_ext}" title="{VAR: obj->twitter}" alt="" />{VAR: u->twitter}</a></td></tr>{ENDIF}
{IF: ($FUD_OPT_2 & 2048 && $u->affero)}<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_affero}</td><td class="GenText"><a href="http://svcs.affero.net/user-history.php?u={VAR: u->affero}" target="_blank">{VAR-UH: u->affero}</a></td></tr>{ENDIF}
{IF: $is_a}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: findu_admin_opts_header}</td>
<td>
<a href="{GVAR: WWW_ROOT}adm/admuser.php?usr_id={VAR: u->id}&amp;S={DEF: s}&amp;act=1&amp;SQ={GVAR: sq}">{MSG: findu_edit}</a> || <a href="{GVAR: WWW_ROOT}adm/admuser.php?usr_id={VAR: u->id}&amp;S={DEF: s}&amp;act=del&amp;SQ={GVAR: sq}">{MSG: findu_delete}</a> || 
{IF: $u->users_opt & 65536}
<a href="{GVAR: WWW_ROOT}adm/admuser.php?act=block&amp;usr_id={VAR: u->id}&amp;S={DEF: s}&amp;SQ={GVAR: sq}">{MSG: findu_unban}</a>
{ELSE}
<a href="{GVAR: WWW_ROOT}adm/admuser.php?act=block&amp;usr_id={VAR: u->id}&amp;S={DEF: s}&amp;SQ={GVAR: sq}">{MSG: findu_ban}</a>
{ENDI}
</td></tr>
{ENDIF}

<tr class="RowStyleC"><td class="nw ar GenText" colspan="2"><a href="{TEMPLATE: USERINFO_PAGE_lnk}">{MSG: usrinfo_show_all_posts}</a></td></tr>
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: user_info_l}
{MSG: user_info_l}
{SECTION: END}

{SECTION: userinfo_update}
{MSG: userinfo_update}
{SECTION: END}

{SECTION: male}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: gender}</td><td class="GenText">{MSG: male}</td></tr>
{SECTION: END}

{SECTION: female}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: gender}</td><td class="GenText">{MSG: female}</td></tr>
{SECTION: END}

{SECTION: no_view_perm}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: usrinfo_last_post}</td><td class="GenText">{MSG: no_view_perm}</td></tr>
{SECTION: END}

{SECTION: polls_lnk}
{ROOT}?t=polllist&amp;uid={VAR: u->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: polls an indicator of how many polls this user has created}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_polls}</td><td class="GenText"><a href="{TEMPLATE: polls_lnk}">{VAR: polls}</a></td></tr>
{SECTION: END}

{SECTION: ui_buddy_lnk}
{ROOT}?t=buddy_list&amp;add={VAR: u->id}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: ui_buddy}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_buddy}</td><td class="GenText"><a href="{TEMPLATE: ui_buddy_lnk}">{MSG: add_to_buddy_list}</a></td></tr>
{SECTION: END}
