/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: usrinfo.tmpl,v 1.34 2004/05/11 17:31:44 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: usrinfo.php.t; output: usrinfo.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: rev_fmt.tmpl}
{REF: is_perms.tmpl}
{REF: alt_var.tmpl}
{REF: allowed_user_lnk.tmpl}

{SECTION: last_post_lnk}
{ROOT}?t={DEF: d_thread_view}&amp;goto={VAR: r[1]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: last_post last post link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: usrinfo_last_post}</td><td class="GenText"><span class="DateText">{DATE: r[2] %a, %d %B %Y %H:%M}</span><br /><a href="{TEMPLATE: last_post_lnk}">{VAR: r[0]}</a></td></tr>
{SECTION: END}

{SECTION: last_visit last visit}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: usrinfo_last_visit}</td><td class="GenText DateText">{DATE: u->last_visit %a, %d %B %Y %H:%M}</td></tr>
{SECTION: END}

{SECTION: user_image}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: image}</td><td class="GenText"><img src="{VAR: u->user_image}" /></td></tr>
{SECTION: END}

{SECTION: avatar}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: avatar}</td><td class="GenText">{VAR: u->avatar_loc}</td></tr>
{SECTION: END}

{SECTION: email_link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="GenText nw">{MSG: email}</td><td class="GenText"><a href="mailto:{VAR: u->email}">{VAR: u->email}</a></td></tr>
{SECTION: END}

{SECTION: email_form_link_lnk}
{ROOT}?t=email&amp;toi={VAR: u->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: email_form_link link to the email form}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: email}</td><td class="GenText">[<a href="{TEMPLATE: email_form_link_lnk}">{MSG: email_user}</a>]</td></tr>
{SECTION: END}

{SECTION: usrinfo_private_msg_lnk}
{ROOT}?t=ppost&amp;{DEF: _rsid}&amp;toi={VAR: u->id}
{SECTION: END}

{SECTION: usrinfo_private_msg private message link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: usrinfo_private_message}</td><td class="GenText"><a href="{TEMPLATE: usrinfo_private_msg_lnk}"><img src="{THEME_IMAGE_ROOT}/msg_pm.gif" /></a></td></tr>
{SECTION: END}

{SECTION: home_page}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: homepage}</td><td class="GenText"><a href="{VAR: u->home_page}" target="_blank">{VAR: u->home_page}</a></td></tr>
{SECTION: END}

{SECTION: location}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: location}</td><td class="GenText">{VAR: u->location}</td></tr>
{SECTION: END}

{SECTION: occupation}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: occupation}</td><td class="GenText">{VAR: u->occupation}</td></tr>
{SECTION: END}

{SECTION: interests}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: interests}</td><td class="GenText">{VAR: u->interests}</td></tr>
{SECTION: END}

{SECTION: referals_lnk}
{ROOT}?t=list_referers&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: referals an indicator of how many people this user has referred}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_referals}</td><td class="GenText"><a href="{TEMPLATE: referals_lnk}">{MSG: userinfo_referals_count}</a></td></tr>
{SECTION: END}

{SECTION: bio biography}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: biography}</td><td class="GenText">{VAR: u->bio}</td></tr>
{SECTION: END}

{SECTION: birth_date}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: birth_date}</td><td class="GenText">{VAR: bday['month']} {VAR: bday['day']}, {VAR: bday['year']}</td></tr>
{SECTION: END}

{SECTION: im_icq ICQ control center}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw vt GenText"><a name="icq_msg">{MSG: icq_message_form}</a></td><td class="GenText">
		{VAR: u->icq} <img src="http://web.icq.com/whitepages/online?icq={VAR: u->icq}&amp;img=5" /><br />
			<table border="0" style="font-face: Arial, Helvetica; font-size: smaller">
			<tr><td colspan=2>
				<form action="http://wwp.icq.com/scripts/WWPMsg.dll" method="post" target=_blank>
				<b>{MSG: icq_control_panel}</b>
			</td></tr>
			<tr>
				<td>
					{MSG: sender_name}<br />
					<input type="text" name="from" value="" size="15" maxlength="40" onfocus="this.select()">
				</td>
				<td>
					{MSG: sender_email}<br />
					<input type="text" name="fromemail" value="" size="15" maxlength="40" onfocus="this.select()">
				</td>
			</tr>
			<tr>
				<td colspan=2>
					{MSG: subject}<br />
					<input type="text" name="subject" value="" size="32"><br />
					{MSG: message}<br />
					<textarea name="body" rows="3" cols="32" wrap="Virtual"></textarea>
					<input type="hidden" name="to" value="{VAR: u->icq}"><br />
				</td>
			</tr>
			<tr><td colspan=2 align=right><input type="submit" class="button" name="Send" value="{MSG: send}"></td></tr>
			</form>
			</table>
			</td></tr>
{SECTION: END}

{SECTION: im_aim AIM link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_aim}</td><td class="GenText"><a href="aim:goim?screenname={VAR: u->aim}&amp;message=Hello+Are+you+there?">{VAR: u->aim}</a></td></tr>
{SECTION: END}

{SECTION: im_yahoo Yahoo Instant Messanger link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_yahoo}</td><td class="GenText"><a href="http://edit.yahoo.com/config/send_webmesg?.target={VAR: u->yahoo}&amp;.src=pg">{VAR: u->yahoo}</a></td></tr>
{SECTION: END}

{SECTION: im_msnm MSN Messagenger Link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_msnm}</td><td class="GenText">{VAR: u->msnm}</td></tr>
{SECTION: END}

{SECTION: im_jabber Jabber link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_jabber}</td><td class="GenText">{VAR: u->jabber}</td></tr>
{SECTION: END}

{SECTION: level_name user's level name as determined by post count}
{VAR: u->level_name}<br />
{SECTION: END}

{SECTION: level_image user's level image if available as determined by post count}
<img src="images/{VAR: u->level_img}" /><br />
{SECTION: END}

{SECTION: custom_tags}
{VAR: u->custom_status}<br />
{SECTION: END}

{SECTION: no_custom_tags}
{SECTION: END}

{SECTION: moderation list of all forums moderated by user}
{MSG: moderator_of}&nbsp;{TEMPLATE-DATA: moderation}
{SECTION: END}

{SECTION: moderation_entry_lnk}
{ROOT}?t={DEF: t_thread_view}&amp;frm_id={VAR: r[0]}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: moderation_entry link to forum moderated by user}
<a href="{TEMPLATE: moderation_entry_lnk}">{VAR-HTML: r[1]}</a>&nbsp;
{SECTION: END}

{SECTION: status various forum related tags assigned to user}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw vt GenText">{MSG: status}</td><td class="GenText">
<span class="LevelText">
{TEMPLATE-DATA: level_name}
{TEMPLATE-DATA: level_image}
{TEMPLATE-DATA: custom_tags}
</span>
{TEMPLATE-DATA: moderation}
</td></tr>
{SECTION: END}

{SECTION: USERINFO_PAGE_lnk}
{ROOT}?t=showposts&amp;id={VAR: u->id}&amp;{DEF: _rsid}
{SECTION: END}

{PAGE: USERINFO_PAGE info about a particular user in the forum}
{TEMPLATE: header}
{TEMPLATE: usercp}
<table cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2 class="wa ">{MSG: usrinfo_profile}</th></tr>
<tr class="RowStyleA"><td class="nw GenText">{MSG: date_registered}</td><td class="wa DateText">{DATE: u->join_date %B %d, %Y}</td></tr>
<tr class="RowStyleB"><td class="vt nw GenText">{MSG: post_count_l}</td><td class="GenText">{MSG: average_post_count}<br /><a href="{TEMPLATE: USERINFO_PAGE_lnk}">{MSG: usrinfo_show_all_posts}</a></td></tr>
{TEMPLATE-DATA: real_name}
{TEMPLATE-DATA: status}
{TEMPLATE-DATA: avatar}
{TEMPLATE-DATA: last_post}
{TEMPLATE-DATA: last_visit}
{TEMPLATE-DATA: polls}
{TEMPLATE-DATA: user_image}
{TEMPLATE-DATA: email_link}
{TEMPLATE-DATA: usrinfo_private_msg}
{TEMPLATE-DATA: buddy}
{TEMPLATE-DATA: referals}
{TEMPLATE-DATA: home_page}
{TEMPLATE-DATA: gender}
{TEMPLATE-DATA: location}
{TEMPLATE-DATA: occupation}
{TEMPLATE-DATA: interests}
{TEMPLATE-DATA: bio}
{TEMPLATE-DATA: birth_date}
{TEMPLATE-DATA: im_icq}
{TEMPLATE-DATA: im_aim}
{TEMPLATE-DATA: im_yahoo}
{TEMPLATE-DATA: im_msnm}
{TEMPLATE-DATA: im_jabber}
{TEMPLATE-DATA: im_affero}
<tr class="RowStyleC"><td class="nw ar GenText" colspan=2><a href="{TEMPLATE: USERINFO_PAGE_lnk}">{MSG: usrinfo_show_all_posts}</a></td></tr>
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: user_info_l}
{MSG: user_info_l}
{SECTION: END}

{SECTION: userinfo_update}
{MSG: userinfo_update}
{SECTION: END}

{SECTION: male}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: gender}</td><td class="GenText">{MSG: male}</td></tr>
{SECTION: END}

{SECTION: female}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: gender}</td><td class="GenText">{MSG: female}</td></tr>
{SECTION: END}

{SECTION: no_view_perm}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="vt nw GenText">{MSG: usrinfo_last_post}</td><td class="GenText">{MSG: no_view_perm}</td></tr>
{SECTION: END}

{SECTION: polls_lnk}
{ROOT}?t=polllist&amp;uid={VAR: u->id}&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: polls an indicator of how many polls this user has created}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_polls}</td><td class="GenText"><a href="{TEMPLATE: polls_lnk}">{VAR: polls}</a></td></tr>
{SECTION: END}

{SECTION: usrinfo_affero}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: im_affero}</td><td class="GenText"><a href="http://svcs.affero.net/user-history.php?u={VAR: u->affero}" target="_blank">{VAR-UH: u->affero}</a></td></tr>
{SECTION: END}

{SECTION: ui_buddy_lnk}
{ROOT}?t=buddy_list&amp;add={VAR: u->id}&amp;{DEF: _rsid}&amp;SQ={GVAR: sq}
{SECTION: END}

{SECTION: ui_buddy}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_buddy}</td><td class="GenText"><a href="{TEMPLATE: ui_buddy_lnk}">{MSG: add_to_buddy_list}</a></td></tr>
{SECTION: END}

{SECTION: usr_real_name}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td class="nw GenText">{MSG: userinfo_real_name}</td><td class="GenText">{VAR: u->name}</td></tr>
{SECTION: END}
