/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: admincp.inc.t; output: @admincp.inc;}

{SECTION: group_mgr_lnk}
{ROOT}/gm/{DEF: _rsid}
{SECTION: END}

{SECTION: reported_msgs_lnk}
{ROOT}/rl/{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch_lnk}
{ROOT}/te/{DEF: _rsid}
{SECTION: END}

{SECTION: mod_que_lnk}
{ROOT}/mq/{DEF: _rsid}
{SECTION: END}
