/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: coppa.tmpl,v 1.8 2005/12/07 18:07:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
**/

{PHP_FILE: input: coppa.php.t; output: coppa.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: usercp.tmpl}
{REF: curtime.tmpl}
{REF: footer.tmpl}

{SECTION: COPPA_PAGE_lnk}
{ROOT}/pr/0/{DEF: _rsid}
{SECTION: END}

{SECTION: COPPA_PAGE_lnk1}
{ROOT}/pr/1/{DEF: _rsid}
{SECTION: END}
