/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: drawpmsg.tmpl,v 1.6 2004/01/04 16:38:29 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: drawpmsg.inc.t; output: drawpmsg.inc;}

{SECTION: dpmsg_buddy_link_lnk}
{ROOT}/bl/{VAR: obj->user_id}/1/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_im_icq_lnk}
{ROOT}/u/{VAR: obj->user_id}/{DEF: _rsid}#icq_msg
{SECTION: END}

{SECTION: dpmsg_file_attachment_lnk}
{ROOT}/fa/{VAR: r->id}/1/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_user_profile_lnk}
{ROOT}/u/{VAR: obj->user_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_email_link_lnk}
{ROOT}/em/{VAR: obj->user_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_private_msg_link_lnk}
{ROOT}/pmm/toi/{VAR: obj->user_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_edit_link_lnk}
{ROOT}/pmm/msg_id/{VAR: obj->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_reply_link_lnk}
{ROOT}/pmm/reply/{VAR: obj->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_quote_link_lnk}
{ROOT}/pmm/quote/{VAR: obj->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_msg_toolbar_lnk}
{ROOT}/pdm/btn_delete/{VAR: obj->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_msg_toolbar_lnk2}
{ROOT}/pmm/forward/{VAR: obj->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_profile_link_lnk}
{ROOT}/u/{VAR: obj->user_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_prev_message_lnk}
{ROOT}/pmv/{VAR: pid}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_next_message_lnk}
{ROOT}/pmv/{VAR: nid}/{DEF: _rsid}
{SECTION: END}

{SECTION: dpmsg_buddy_link_remove_lnk}
{ROOT}/bl/{VAR: obj->user_id}/0/1/{DEF: _rsid}
{SECTION: END}
