/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: forum.css.tmpl,v 1.2 2003/10/09 14:34:31 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: forum.css.t; output: forum.css;}

{SECTION: body Body settings css}
body { 
	background: #E5E5E5;
	margin: 2px;
}
{SECTION: END}

{SECTION: forum_background forum background & border settings}
.ForumBackground {
	background:#FFFFFF;
	border: #AEBDC4;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
{SECTION: END}

{SECTION: link_color}
a:link {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration:underline;
}
{SECTION: END}

{SECTION: link_hover Link mouseover style}
a:hover {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	color: #C23030; 
	text-decoration:underline;
}
{SECTION: END}

{SECTION: visited_link}
a:visited {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration:underline;
}
{SECTION: END}

{SECTION: text default text style}
text { 
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
}
{SECTION: END}

{SECTION: cat_link category link style}
a.CatLink {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 13px;
	text-decoration: none;
}
{SECTION: END}

{SECTION: cat_desc category description style}
.CatDesc {
	color: #000000;
	font-size: 12px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	background: url("{THEME_IMAGE_ROOT}/tableHeaderbg3.gif");
}
{SECTION: END}

{SECTION: user_control_panel style of links in the user control panel}
a.UserControlPanel {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration:none;
}
{SECTION: END}

{SECTION: cat_locked_name style of the locked category name}
.CatLockedName {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
{SECTION: END}

{SECTION: gen_text default text style inside tables}
.GenText {
	color: #000000;
	font-size: 11px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
}
{SECTION: END}

{SECTION: gen_link default link style inside tables}
.GenLink {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 12px;
	color: #000000;
}
{SECTION: END}

{SECTION: error_text text style for error & warning messages}
.ErrorText {
	color: #FF0000;
	font-size: 11px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-weight: bold;
}
{SECTION: END}

{SECTION: small_text}
.SmallText {
	color: #000000;
	font-size: 10px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
}
{SECTION: END}

{SECTION: date_text style of text used to show dates}
.DateText {
	color: #000000;
	font-size: 10px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
}
{SECTION: END}

{SECTION: table_heading style of text for table headings}
th {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 13px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	background: url("{THEME_IMAGE_ROOT}/tableHeaderbg.gif");
}
{SECTION: END}

{SECTION: table_heading_link style of links for table headings}
a.thLnk:link { 
	font-size: 11px;
	text-decoration: underline; 
	color: #EEEEEE;
	vertical-align: +1px;
}
{SECTION: END}

{SECTION: table_heading_hover_link style of links on mouseover for table headings}
a.thLnk:hover { 
	font-size: 11px;
	text-decoration: underline; 
	vertical-align: +1px;
	color: #DEE2E6; 
}
{SECTION: END}

{SECTION: table_heading_visited_link style of visited links for table headings}
a.thLnk:visited { 
	font-size: 11px;
	text-decoration: underline; 
	color: #C2CDD6;
	vertical-align: +1px;
}
{SECTION: END}

{SECTION: row_style_a color of the 1st row, when alternating colors}
.RowStyleA {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	background: #eeeeee;
}
{SECTION: END}

{SECTION: row_style_b color of the 2nd row, when alternating colors}
.RowStyleB {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	background: #dee2e6;
}
{SECTION: END}

{SECTION: row_style_c color of the selected row}
.RowStyleC {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	background: #c2cdd6;
}
{SECTION: END}

{SECTION: msg_toolbar style for FUDcode icons}
.MsgToolBar {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	background: url("{THEME_IMAGE_ROOT}/tableHeaderbg2.gif");
}
{SECTION: END}

{SECTION: content_table general table style}
.ContentTable {
	background : #FFFFFF;
	width : 100%;
	border : 0px;
	padding : 0px;
	margin : 0px;
	border-spacing : 1px;
}
{SECTION: END}

{SECTION: poll_table style of a table used for polls}
.PollTable { 
	background : #FFFFFF;
	border : 0px;
	padding : 0px;
	margin : 0px;
	border-spacing : 1px;
}
{SECTION: END}

{SECTION: dialog_table style of a table used for dialogs}
.DialogTable { 
	background: #FFFFFF;
	width : 50%;
	border : 0px;
	padding : 0px;
	margin : 0px;
	border-spacing : 1px;
}
{SECTION: END}

{SECTION: preview_table style of a table used for message previews on post forms} 
.PreviewTable {
	background: #FFFFFF;
	width: 75%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing: 1px;
}
{SECTION: END}

{SECTION: annon_table style of a table used for forum announcements} 
.AnnonTable {
	background: #FFFFFF;
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing: 1px;
}
{SECTION: END}

{SECTION: annon_text style of text used in announcments}
.AnnText { 
	color: #000000;
	font-size: 11px;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	background: #f5d300;
}
{SECTION: END}

{SECTION: annon_subj style of text used in announcment subject}
.AnnSubjText {
	font-weight: bold;
}
{SECTION: END}

{SECTION: pager_link style of links used in pagers}
.PagerLink {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}
{SECTION: END}

{SECTION: level_text style of text used to show user's post based level & custom tags}
.LevelText {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}
{SECTION: END}

{SECTION: msg_subj style of text used in message subjects}
.MsgSubText {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
{SECTION: END}

{SECTION: msg_body style of text used in message bodies}
.MsgBodyText {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
}
{SECTION: END}

{SECTION: fudcode_rowbg_color background color of FUDcode buttons table}
.FormattingToolsBG {
	background: #000000;
}
{SECTION: END}

{SECTION: fudcode_colfg_color background color of FUDcode buttons column}
.FormattingToolsCLR {
	background: #FFFFFF;
}
{SECTION: END}

{SECTION: mini_table table with smallest possible width}
.MiniTable {
	background: #FFFFFF;
	border : 0px;
	padding : 0px;
	margin : 0px;
	border-spacing : 1px;	
}
{SECTION: END}

{SECTION: msg_quote style for quotes inside messages}
.quote {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	color: #444444;
	background: #FAFAFA;
	border: #c2cdd6;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}
{SECTION: END}

{SECTION: dashed style for border around simply dialogs, ex. poll editor & list editor}
.dashed {
	border: #1B7CAD;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-style: dashed;
}
{SECTION: END}

{SECTION: adminColor the color of the link for the admin on the logged in user's list}
.adminColor {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}
{SECTION: END}

{SECTION: modsColor the color of the link for the moderator(s) on the logged in user's list}
.modsColor {
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	color: #00BB00;
	font-weight: bold;
}
{SECTION: END}

{SECTION: normal_tab style of a non-selected tab used for navigation in user's profile}
.brdrNormal {
	border: #000000;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	background-repeat: repeat;
	background-position: top;
}
{SECTION: END}

{SECTION: selected_tab style of a selected tab used for navigation in user's profile}
.brdrSelected {
	border: #000000;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	background-repeat: repeat;
	background-position: top;
}
{SECTION: END}

{SECTION: buttons style for all of the forum's buttons}
input.button {
        background: #EEEEEE;
	color: #000000;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #B4B2B4 #444444 #444444 #B4B2B4;
	         
}
{SECTION: END}

{SECTION: form_controls style for <form> element}
form {
	padding: 0px; 
	margin: 0px;
}	
{SECTION: END}

{PAGE: FORUM_CSS forum's css styles}
{TEMPLATE: body}
{TEMPLATE: forum_background}
{TEMPLATE: link_color}
{TEMPLATE: visited_link}
{TEMPLATE: link_hover}
{TEMPLATE: text}
{TEMPLATE: cat_link}
{TEMPLATE: cat_desc}
{TEMPLATE: cat_locked_name}
{TEMPLATE: gen_link}
{TEMPLATE: gen_text}
{TEMPLATE: error_text}
{TEMPLATE: small_text}
{TEMPLATE: date_text}
{TEMPLATE: table_heading}
{TEMPLATE: table_heading_link}
{TEMPLATE: table_heading_visited_link}
{TEMPLATE: table_heading_hover_link}
{TEMPLATE: row_style_a}
{TEMPLATE: row_style_b}
{TEMPLATE: row_style_c}
{TEMPLATE: msg_toolbar}
{TEMPLATE: content_table}
{TEMPLATE: poll_table}
{TEMPLATE: dialog_table}
{TEMPLATE: preview_table}
{TEMPLATE: annon_table}
{TEMPLATE: annon_text}
{TEMPLATE: annon_subj}
{TEMPLATE: pager_link}
{TEMPLATE: level_text}
{TEMPLATE: msg_subj}
{TEMPLATE: msg_body}
{TEMPLATE: fudcode_rowbg_color}
{TEMPLATE: fudcode_colfg_color}
{TEMPLATE: mini_table}
{TEMPLATE: msg_quote}
{TEMPLATE: dashed}
{TEMPLATE: adminColor}
{TEMPLATE: modsColor}
{TEMPLATE: normal_tab}
{TEMPLATE: selected_tab}
{TEMPLATE: buttons}
{TEMPLATE: form_controls}
{TEMPLATE: user_control_panel}
{PAGE: END}