/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: help_index.tmpl,v 1.7 2004/01/04 16:38:29 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: help_index.php.t; output: help_index.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: usercp.tmpl}
{REF: curtime.tmpl}

{SECTION: return_top_lnk}
{ROOT}/h/{DEF: _rsid}
{SECTION: END}
