/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: iemail.tmpl,v 1.9 2004/01/04 16:38:29 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: iemail.inc.t; output: iemail.inc;}
{REF: rev_fmt.tmpl}
{REF: smtp.tmpl}

{SECTION: iemail_body_lnk}
{ROOT}/r/reply_to/{VAR: obj->id}/{VAR: pfx}
{SECTION: END}

{SECTION: iemail_body_lnk1}
{ROOT}/r/quote/true/{VAR: obj->id}/{VAR: pfx}
{SECTION: END}

{SECTION: iemail_attach_entry_lnk}
{ROOT}/fa/{VAR: v[0]}/{VAR: pfx}
{SECTION: END}

{SECTION: iemail_thread_unsub_lnk}
{ROOT}/t/{VAR: id}
{SECTION: END}

{SECTION: iemail_forum_unsub_lnk}
{ROOT}/f/{VAR: id}
{SECTION: END}
