/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: ignore_list.tmpl,v 1.9 2004/04/21 21:17:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: ignore_list.php.t; output: ignore_list.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: ignore.tmpl}
{REF: return.tmpl}
{REF: tabs.tmpl}
{REF: alt_var.tmpl}

{SECTION: email_link_lnk}
{ROOT}/em/{VAR: r[2]}/{DEF: _rsid}
{SECTION: END}

{SECTION: ignore_user_lnk}
{ROOT}/u/{VAR: r[2]}/{DEF: _rsid}
{SECTION: END}

{SECTION: ignore_user_lnk1}
{ROOT}/il/{VAR: r[0]}/0/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: ignore_user_lnk2}
{ROOT}/sp/{VAR: r[2]}/{DEF: _rsid}
{SECTION: END}

{SECTION: ignore_anon_user_lnk}
{ROOT}/il/{VAR: r[1]}/0/{DEF: _rsid}
{SECTION: END}

{SECTION: IGNORELIST_PAGE_lnk3}
{ROOT}/il/{DEF: _rsid}
{SECTION: END}
