/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: index.tmpl,v 1.27 2009/03/31 10:26:45 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: index.php.t; output: index.php;}
{REF: security.tmpl}
{REF: logedin.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: show.tmpl}
{REF: quicklogin.tmpl}

{SECTION: index_to_cat_lnk}
{ROOT}/i/{VAR: k}/{DEF: _rsid}
{SECTION: END}

{SECTION: index_forum_entry_lnk}
{IF: empty($r[12])}{ROOT}/f/{VAR: r[7]}/{DEF: _rsid}{ELSE}{VAR: r[12]}{ENDI}
{SECTION: END}

{SECTION: last_post_lnk}
{ROOT}/m/{VAR: r[8]}/{DEF: _rsid}#msg_{VAR: r[8]}
{SECTION: END}

{SECTION: profile_link_user_lnk}
{ROOT}/u/{VAR: r[3]}/{DEF: _rsid}
{SECTION: END}

{SECTION: profile_link_mod_lnk}
{ROOT}/u/{VAR: k}/{DEF: _rsid}
{SECTION: END}

{SECTION: mark_all_read_lnk}
{ROOT}/mar/0/{VAR: cat_id}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: idx_cat_path_lnk}
{ROOT}/i/{DEF: _rsid}
{SECTION: END}

{SECTION: idx_forum_path_lnk}
{ROOT}/i/{VAR: cid}/{DEF: _rsid}
{SECTION: END}
