/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: index.tmpl,v 1.15 2004/10/21 15:52:36 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: index.php.t; output: index.php;}
{REF: security.tmpl}
{REF: logedin.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: show.tmpl}
{REF: quicklogin.tmpl}

{SECTION: index_category_allow_collapse_Y_lnk}
{ROOT}/i/{VAR: cat_id}/{FUNC: url_tog_collapse($k, $cs)}/{DEF: _rsid}
{SECTION: END}

{SECTION: index_to_cat_lnk}
{ROOT}/i/{VAR: k}/{VAR: cs}/{DEF: _rsid}
{SECTION: END}

{SECTION: index_forum_entry_lnk}
{ROOT}/f/{VAR: r[10]}/{DEF: _rsid}
{SECTION: END}

{SECTION: last_post_lnk}
{ROOT}/m/{VAR: r[11]}/{DEF: _rsid}
{SECTION: END}

{SECTION: profile_link_user_lnk}
{ROOT}/u/{VAR: r[3]}/{DEF: _rsid}
{SECTION: END}

{SECTION: profile_link_mod_lnk}
{ROOT}/u/{VAR: k}/{DEF: _rsid}
{SECTION: END}

{SECTION: mark_all_read_lnk}
{ROOT}/mar/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}
