/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: mklist.tmpl,v 1.9 2004/11/24 19:53:41 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
**/

{PHP_FILE: input: mklist.php.t; output: mklist.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: draw_select_opt.tmpl}

{SECTION: MKLIST_PAGE_lnk3}
{ROOT}/mk/0/{DEF: _rsid}
{SECTION: END}
