/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: mklist.tmpl,v 1.4 2003/10/09 14:34:31 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: mklist.php.t; output: mklist.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: draw_select_opt.tmpl}

{SECTION: sel_opt select list options unselected style}
{SECTION: END}

{SECTION: sel_opt_selected list options select unselected style}
{SECTION: END}

{PAGE: MKLIST_PAGE a popup assistant for creating lists using FUDcode}
{TEMPLATE: header_plain}
<form name="list" method="post" action="{ROOT}/mk/0/{DEF: _rsid}">
<table border=0 cellspacing=2 cellpadding=0 width="99%" class="dashed">
<tr>
	<td>{MSG: mklist_type}</td>
	<td><select name="tp" onChange="document.list.submit();">{TEMPLATE-DATA: tp_select_data}</select></td>
</tr>
<tr>
	<td>{MSG: mklist_option}</td>
	<td nowrap>
		<input type="text" name="opt" size=20>
		<input type="submit" class="button" name="btn_submit" value="{MSG: mklist_additem}">
	</td>
</tr>
{TEMPLATE-DATA: list_sample}
<tr>
<td colspan=2 align=right>
<input type="submit" class="button" name="go" value="{MSG: mklist_apply}">
<input type="button" class="button" name="close" value="{MSG: mklist_close}" onClick="javascript: window.close();">
</td></tr>
</table>
<input type="hidden" name="opt_list" value="{VAR: _POST['opt_list']}"><input type="hidden" name="del" value="">
</form>
{TEMPLATE: footer_plain}
{PAGE: END}

{SECTION: list_sample preview list sample}
<tr>
<td colspan=2>
<{VAR: list_tag} type="{VAR: list_type}">
{TEMPLATE-DATA: list_entry_data}
</{VAR: list_tag}>
</td>
</tr>
{SECTION: END}

{SECTION: list_entry preview list entry row}
<li>{VAR-FORM: op}&nbsp;&nbsp;&nbsp;<font size="-1"><a href="javascript:document.list.del.value=\'{VAR: k}\'; document.list.submit();">{MSG: mklist_delete}</a></font>
{SECTION: END}

{SECTION: mklist_numerical}
{MSG: mklist_numerical}
{SECTION: END}

{SECTION: mklist_aplha}
{MSG: mklist_aplha}
{SECTION: END}

{SECTION: mklist_square}
{MSG: mklist_square}
{SECTION: END}

{SECTION: mklist_disc}
{MSG: mklist_disc}
{SECTION: END}

{SECTION: mklist_circle}
{MSG: mklist_circle}
{SECTION: END}
