/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: modque.tmpl,v 1.7 2003/10/10 12:43:29 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: modque.php.t; output: modque.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: drawmsg.tmpl}
{REF: imsg.tmpl}
{REF: imsg_edt.tmpl}
{REF: logaction.tmpl}
{REF: is_perms.tmpl}
{REF: th.tmpl}
{REF: smiley.tmpl}

{SECTION: modque_msg_header moderator message options}
<tr class="RowStyleB">
<td class="GenText">
<table border=0 cellspacing=0 cellpadding=3 width="100%">
<tr>
	<td align="left"><b>{MSG: forum}</b> {VAR: obj->cat_name}<br /><b>{MSG: thread}</b> {VAR: obj->frm_name}</td>
	<td align="right">[<a class="GenLink" href="{ROOT}/mq/appr/{VAR: obj->id}/{DEF: _rsid}">{MSG: modque_approve}</a>]&nbsp;&nbsp;[<a class="GenLink" href="{ROOT}/del/{VAR: obj->id}/{DEF: _rsid}">{MSG: modque_delete}</a>]</td>
</tr>
</table>
</td>
</tr>
{SECTION: END}
