/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: msg.tmpl,v 1.20 2005/12/07 18:07:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
**/

{PHP_FILE: input: msg.php.t; output: msg.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: forumsel.tmpl}
{REF: drawmsg.tmpl}
{REF: show.tmpl}
{REF: fileio.tmpl}
{REF: th.tmpl}
{REF: thread_notify.tmpl}
{REF: is_perms.tmpl}
{REF: th_nav.tmpl}
{REF: draw_forum_path.tmpl}

{SECTION: split_thread_lnk}
{ROOT}/stt/{VAR: th}/{DEF: _rsid}
{SECTION: END}

{SECTION: mod_lock_thread_lnk}
{ROOT}/lk/{VAR: th}/lock/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: mod_unlock_thread_lnk}
{ROOT}/lk/{VAR: th}/unlock/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: email_page_to_friend_lnk}
{ROOT}/ef/{VAR: th}/{DEF: _rsid}
{SECTION: END}

{SECTION: first_unread_message_link_lnk}
{ROOT}/t/{VAR: th}/0/unread/{DEF: _rsid}
{SECTION: END}

{SECTION: sub_from_thread_lnk}
{ROOT}/mn/msg/{VAR: th}/1/on/{VAR: _GET['start']}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: unsub_to_thread_lnk}
{ROOT}/mn/msg/{VAR: th}/1/off/{VAR: _GET['start']}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: threaded_view_lnk}
{ROOT}/mv/tree/{VAR: th}/{DEF: _rsid}
{SECTION: END}

{SECTION: new_thread_lnk}
{ROOT}/r/frm_id/{VAR: frm->forum_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: post_reply_lnk}
{ROOT}/r/th_id/{VAR: th}/{VAR: frm->root_msg_id}/0/{VAR: _GET['start']}/{DEF: _rsid}
{SECTION: END}

{SECTION: rate_thread_lnk3}
{ROOT}/tr/{DEF: _rsid}
{SECTION: END}

{SECTION: msg_xml_link_lnk}
{ROOT}/h/boardusage/{DEF: _rsid}#syndicate
{SECTION: END}

{SECTION: msg_mv_thread}
{FULL_ROOT}{ROOT}/mh/{VAR: th}/{DEF: _rsid}
{SECTION: END}
