/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: mvthread.tmpl,v 1.6 2003/10/10 15:22:24 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: mvthread.php.t; output: mvthread.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: logaction.tmpl}
{REF: th_adm.tmpl}

{SECTION: MVTHREAD_PAGE_lnk3}
{ROOT}/mh/{VAR: th}/{DEF: _rsid}
{SECTION: END}

{SECTION: forum_entry_lnk}
{ROOT}/mh/{VAR: thr->id}/to/{VAR: ent[1]}/{DEF: _rsid}
{SECTION: END}

{SECTION: txc_forum_entry_lnk}
{ROOT}/mh/{VAR: thr->id}/thx/{VAR: ent[1]}/{DEF: _rsid}
{SECTION: END}
