/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: pmuserloc.tmpl,v 1.1 2003/05/28 20:05:26 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: pmuserloc.php.t; output: pmuserloc.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: alt_var.tmpl}

{PAGE: PMUSERLOC_PAGE find user popup used by private message post form}
{TEMPLATE: header_plain}
<form action="{ROOT}" method="get">{DEF: _hs}
<table border=0 width="100%" cellspacing=0 cellpadding=3 class="dashed">
<tr>
	<td>{MSG: pmuserloc_login}</td>
	<td><input type="text" name="usr_login" value="{VAR-HTML: usr_login}"></td>
	
</tr>
<tr>
	<td>{MSG: pmuserloc_email}</td>
	<td><input type="text" name="usr_email" value="{VAR-HTML: usr_email}"></td>
</tr>
<tr>
<td colspan=2 align=right><input type="submit" class="button" name="btn_submit" value="{MSG: pmuserloc_submit}"></td>
</tr>
</table>
<input type="hidden" name="js_redr" value="{VAR: js_redr}">
<input type="hidden" name="overwrite" value="{VAR: overwrite}">
<input type="hidden" name="t" value="pmuserloc">
</form>
<br />
<table border=0 width="100%" cellspacing=0 cellpadding=3 class="dashed">
<tr><td bgcolor="#efefef">{MSG: pmuserloc_user}</td></tr>
{TEMPLATE-DATA: find_user_data}
</table>

{TEMPLATE: footer_plain}
{PAGE: END}

{SECTION: user_result_entry}
<tr class="{ALT-VAR: pmuserloc_alt RowStyleA RowStyleB}"><td><a href="{VAR: retlink}">{VAR: r[0]}</a></td></tr>
{SECTION: END}

{SECTION: no_result_entry}
<tr><td colspan=2>{MSG: pmuserloc_no_result}</td>
{SECTION: END}
