/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: poll.tmpl,v 1.8 2004/01/04 16:38:31 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: poll.php.t; output: poll.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: ipoll.tmpl}
{REF: post_proc.tmpl}
{REF: smiley.tmpl}
{REF: draw_select_opt.tmpl}
{REF: replace.tmpl}
{REF: is_perms.tmpl}

{SECTION: poll_option_entry_lnk}
{ROOT}/po/{VAR: frm_id}/{VAR: pl_id}/pl_optedit/{VAR: k}/{DEF: _rsid}
{SECTION: END}

{SECTION: poll_option_entry_lnk1}
{ROOT}/po/{VAR: frm_id}/{VAR: pl_id}/del_id/{VAR: k}/{DEF: _rsid}
{SECTION: END}

{SECTION: POLL_PAGE_lnk3}
{ROOT}/po/{VAR: frm_id}/{DEF: _rsid}
{SECTION: END}
