/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: ppost.tmpl,v 1.16 2007/01/01 18:23:47 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: ppost.php.t; output: ppost.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: stats.tmpl}
{REF: usercp.tmpl}
{REF: smiley.tmpl}
{REF: postcheck.tmpl}
{REF: spell.tmpl}
{REF: wordwrap.tmpl}
{REF: private.tmpl}
{REF: post_opt.tmpl}
{REF: rev_fmt.tmpl}
{REF: post_proc.tmpl}
{REF: replace.tmpl}
{REF: get_cur_ppage.tmpl}
{REF: tabs.tmpl}
{REF: allowed_user_lnk.tmpl}
{REF: post_common.tmpl} 
{REF: attach.tmpl}
{REF: rhost.tmpl}
{REF: return.tmpl}

{SECTION: pm_find_user_lnk1}
{FULL_ROOT}{ROOT}/pml/post_form.msg_to_list/{DEF: _rsid}
{SECTION: END}

{SECTION: PPOST_PAGE_lnk}
{ROOT}/l/1/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: PPOST_PAGE_lnk2}
{FULL_ROOT}{ROOT}/qb/{DEF: _rsid}
{SECTION: END}

{SECTION: PPOST_PAGE_lnk3}
{ROOT}/pmm/{DEF: _rsid}
{SECTION: END}
