/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: referals.tmpl,v 1.9 2004/07/02 16:54:28 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: referals.php.t; output: referals.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: alt_var.tmpl}
{REF: tabs.tmpl}

{SECTION: pm_link_lnk}
{ROOT}/pmm/toi/{VAR: r[1]}/{DEF: _rsid}
{SECTION: END}

{SECTION: email_link_lnk}
{ROOT}/em/{VAR: r[1]}/{DEF: _rsid}
{SECTION: END}

{SECTION: refered_entry_lnk}
{ROOT}/u/{VAR: r[1]}/{DEF: _rsid}
{SECTION: END}

{SECTION: refered_entry_lnk1}
{ROOT}/sp/{VAR: r[1]}/{DEF: _rsid}
{SECTION: END}
