/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: register.php.t; output: register.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_select_opt.tmpl}
{REF: draw_radio_opt.tmpl}
{REF: tz.tmpl}
{REF: post_opt.tmpl}
{REF: users_reg.tmpl}
{REF: post_proc.tmpl}
{REF: rev_fmt.tmpl}
{REF: wordwrap.tmpl}
{REF: smiley.tmpl}
{REF: replace.tmpl}
{REF: return.tmpl}
{REF: tabs.tmpl}
{REF: iemail.tmpl}
{REF: allowed_user_lnk.tmpl}
{REF: captcha.tmpl}

{SECTION: change_passwd_link_lnk1}
{FULL_ROOT}{ROOT}/rp/{DEF: _rsid}
{SECTION: END}

{SECTION: built_in_avatar_lnk1}
{FULL_ROOT}{ROOT}/as/{DEF: _rsid}
{SECTION: END}

{SECTION: REGISTER_PAGE_lnk3}
{ROOT}/re/{DEF: _rsid}
{SECTION: END}
