/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: remail.tmpl,v 1.11 2006/09/19 14:37:56 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: remail.php.t; output: remail.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: iemail.tmpl}
{REF: return.tmpl}
{REF: postcheck.tmpl}
{REF: allowed_user_lnk.tmpl}
{REF: alt_var.tmpl}

{SECTION: REMAIL_PAGE_lnk3}
{ROOT}/ef/{VAR: th}/{DEF: _rsid}
{SECTION: END}
