/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: reset.tmpl,v 1.2 2003/06/02 15:45:27 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: reset.php.t; output: reset.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: iemail.tmpl}
{REF: users_reg.tmpl}

{PAGE: RESET_PAGE  reset password for an account form}
{TEMPLATE: header}
{TEMPLATE: usercp}
<div align="center">
<form method="post" action="{ROOT}/rst/{DEF: _rsid}">
<table border="0" cellspacing="1" cellpadding="2" class="DialogTable">
<tr><th colspan=2>{MSG: reset_remind_pass}</th></tr>
<tr class="RowStyleA"><td colspan=2 class="RowStyleA"><font class="GenText">{MSG: reset_reset_conf}</font></td></tr>
<tr class="RowStyleB"><td class="GenText">{MSG: reset_email}</td><td>{TEMPLATE-DATA: no_such_email}<input type="text" name="email" value="{VAR: email}"></td></tr>
<tr class="RowStyleA"><td colspan=2 nowrap align="right"><input type="submit" class="button" name="reset_passwd" value="{MSG: reset_reset_button}"></td></tr>
</table>
</form>
</div>
{TEMPLATE: curtime}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: no_such_email}
<font class="ErrorText">{MSG: reset_error}</font><br />
{SECTION: END}

{SECTION: reset_newpass_title}
{MSG: reset_newpass_title}
{SECTION: END}

{SECTION: reset_newpass_msg}
{MSG: reset_newpass_msg}
{SECTION: END}

{SECTION: reset_login_notify}
{MSG: reset_login_notify}
{SECTION: END}

{SECTION: reset_err_invalidkey_title}
{MSG: reset_err_invalidkey_title}
{SECTION: END}

{SECTION: reset_err_invalidkey_msg}
{MSG: reset_err_invalidkey_msg}
{SECTION: END}

{SECTION: register_conf_subject}
{MSG: register_conf_subject}
{SECTION: END}

{SECTION: reset_confirmation}
{MSG: reset_confirmation}
{SECTION: END}

{SECTION: reset_reset}
{MSG: reset_reset}
{SECTION: END}

{SECTION: reset_err_rstconf_title}
{MSG: reset_err_rstconf_title}
{SECTION: END}

{SECTION: reset_err_rstconf_msg}
{MSG: reset_err_rstconf_msg}
{SECTION: END}

{SECTION: reset_title}
{MSG: reset_title}
{SECTION: END}

{SECTION: register_conf_msg}
{MSG: register_conf_msg}
{SECTION: END}