/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: rpasswd.tmpl,v 1.4 2003/10/09 23:45:55 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: rpasswd.php.t; output: rpasswd.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}

{PAGE: RPASSWD_PAGE change password popup}
{TEMPLATE: header_plain}
<form method="post" action="{ROOT}/rp/{DEF: _rsid}"><div align="center">
<table border="0" cellspacing="1" cellpadding="2" class="MiniTable">
{TEMPLATE-DATA: rpasswd_error}
<tr><th colspan=2>{MSG: rpasswd_change_pass}</th></tr>
<tr class="RowStyleB"><td>{MSG: rpasswd_login}</td><td>{VAR-HTML: usr->login}</td></tr>
<tr class="RowStyleB"><td>{MSG: rpasswd_cur_pass}</td><td><input type="password" name="cpasswd" value=""></td></tr>
<tr class="RowStyleB"><td>{MSG: rpasswd_new_pass}</td><td><input type="password" name="passwd1" value=""></td></tr>
<tr class="RowStyleB"><td>{MSG: rpasswd_conf_pass}</td><td><input type="password" name="passwd2" value=""></td></tr>
<tr class="RowStyleB"><td align=right colspan=2><input type="submit" class="button" value="{MSG: go}" name="btn_submit"></td></tr>
</table></div></form>
{TEMPLATE: footer_plain}
{PAGE: END}
