/**
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: selmsg.tmpl,v 1.10 2004/11/24 19:53:41 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
**/

{PHP_FILE: input: selmsg.php.t; output: selmsg.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: drawmsg.tmpl}
{REF: fileio.tmpl}
{REF: imsg.tmpl}
{REF: is_perms.tmpl}

{SECTION: todays_posts_lnk}
{ROOT}{VAR: dt_opt}
{SECTION: END}

{SECTION: forum_row_lnk}
{ROOT}/f/{VAR: r->forum_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: thread_row_lnk}
{ROOT}/m/{VAR: r->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: more_unread_messages_lnk}
{ROOT}{VAR: _SERVER['QUERY_STRING']}
{SECTION: END}

{SECTION: subscribed_frm_lnk}
{ROOT}{VAR: frm_opt}
{SECTION: END}

{SECTION: subscribed_thr_lnk}
{ROOT}{VAR: th_opt}
{SECTION: END}

{SECTION: unread_messages_lnk}
{ROOT}{VAR: un_opt}
{SECTION: END}

{SECTION: unanswered_lnk}
{ROOT}{VAR: rp_opt}
{SECTION: END}
