/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: selmsg.tmpl,v 1.6 2003/10/10 12:43:30 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: selmsg.php.t; output: selmsg.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: drawmsg.tmpl}
{REF: fileio.tmpl}
{REF: imsg.tmpl}
{REF: is_perms.tmpl}

{SECTION: todays_posts todays posts link}
<a class="GenLink" href="{ROOT}{VAR: dt_opt}" title="{MSG: sel_todays_posts_desc}">{MSG: sel_todays_posts} {VAR: s_today}</a>
{SECTION: END}

{SECTION: forum_row forum heading row}
<tr><th>{MSG: forum} <a class="thLnk" href="{ROOT}/f/{VAR: r->forum_id}/{DEF: _rsid}"><font style="font-size: 12px;">{VAR-HTML: r->name}</font></a></th></tr>
{SECTION: END}

{SECTION: thread_row thread heading row}
<tr><th>&nbsp;{MSG: thread} <a class="thLnk" href="{ROOT}/m/{VAR: r->id}/{DEF: _rsid}">{VAR: r->thr_subject}</a></th></tr>
{SECTION: END}
