/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: show.tmpl,v 1.11 2005/12/07 18:07:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
**/

{PHP_FILE: input: show.inc.t; output: @show.inc;}

{SECTION: show_links_lnk}
{ROOT}/sel/date/today/frm_id/{IF: isset($frm->forum_id)}{VAR: frm->forum_id}{ELSE}{VAR: frm->id}{ENDI}/th/{VAR: th}/{DEF: _rsid}
{SECTION: END}

{SECTION: show_links_lnk1}
{ROOT}/pl/{DEF: _rsid}
{SECTION: END}

{SECTION: show_links_lnk2}
{ROOT}/ma/{DEF: _rsid}
{SECTION: END}

{SECTION: unread_posts_lnk}
{ROOT}/sel/unread/1/frm_id/{IF: isset($frm->forum_id)}{VAR: frm->forum_id}{ELSE}{VAR: frm->id}{ENDI}/{DEF: _rsid}
{SECTION: END}

{SECTION: unanswered_posts_lnk}
{ROOT}/sel/reply_count/0/frm_id/{IF: isset($frm->forum_id)}{VAR: frm->forum_id}{ELSE}{VAR: frm->id}{ENDI}/{DEF: _rsid}
{SECTION: END}
