/***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: split_th.tmpl,v 1.4 2003/09/20 04:07:41 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: split_th.php.t; output: split_th.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: th.tmpl}
{REF: fileio.tmpl}
{REF: draw_select_opt.tmpl}
{REF: logaction.tmpl}
{REF: replace.tmpl}
{REF: th_adm.tmpl}

{SECTION: msg_entry individual message entries}
<tr>
<td class="RowStyleC" valign="top" align="center"><input type="checkbox" name="sel_th[]" value="{VAR: r->id}"></td>
<td class="RowStyleA">
<table cellspacing=1 cellpadding=2 border=0 class="ContentTable">
<tr class="RowStyleB">
	<td><font size="-1">
	<b>{MSG: split_th_post_by}</b> {VAR: r->alias}<br />
	<b>{MSG: split_th_posted_on}</b> {DATE: r->post_stamp %a, %d %B %Y %H:%M}<br />
	<b>{MSG: split_th_subject}</b> {VAR: r->subject}
	</font></td>
</tr>
<tr class="RowStyleA">
	<td>{VAR: msg_body}</td>
</tr>
</table>
</td>
</tr>
{SECTION: END}

{PAGE: SPLIT_TH_PAGE a form that allowes moderators to split threads}
{TEMPLATE: header}
{TEMPLATE: usercp}
<br />{TEMPLATE-DATA: admin_cp}
<form name="split_th" action="{ROOT}/stt/{DEF: _rsid}" method="post"><input type="hidden" name="th" value="{VAR: th}">
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th width="100%" colspan=2>{MSG: split_cp}</th></tr>
<tr class="RowStyleA">
	<td align="left"><b>{MSG: split_th_new_thread_title}</b></td>
	<td ><input type="text" name="new_title" value="" size=50></td>
</tr>
<tr class="RowStyleA">
	<td align="left"><b>{MSG: split_th_forum}</b></td>
	<td align="left"><select name="forum">{VAR: forum_sel}</select></td>
</tr>
<tr class="RowStyleC">
	<td colspan=2 align="center">
		<input type="submit" class="button" name="btn_selected" value="{MSG: split_th_split_sel}">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" class="button" name="btn_unselected" value="{MSG: split_th_split_unsel}">
	</td>
</tr>
</table>
<br />
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th nowrap>{MSG: split_th_select}</th><th width="100%">{MSG: split_th_messages}</th></tr>
{TEMPLATE-DATA: msg_entry}
</table>
<br />
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr class="RowStyleC">
	<td colspan=2 align="center">
		<input type="submit" class="button" name="btn_selected" value="{MSG: split_th_split_sel}">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" class="button" name="btn_unselected" value="{MSG: split_th_split_unsel}">
	</td>
</tr>
</table>
</form>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: sel_opt}
{SECTION: END}

{SECTION: sel_opt_selected}
{SECTION: END}
