/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: split_th.tmpl,v 1.15 2006/09/05 12:51:54 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License. 
**/

{PHP_FILE: input: split_th.php.t; output: split_th.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: th.tmpl}
{REF: fileio.tmpl}
{REF: draw_select_opt.tmpl}
{REF: logaction.tmpl}
{REF: replace.tmpl}
{REF: th_adm.tmpl}
{REF: isearch.tmpl}

{SECTION: SPLIT_TH_PAGE_lnk3}
{ROOT}/stt/{DEF: _rsid}
{SECTION: END}
