/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: subscribed.tmpl,v 1.14 2006/09/19 14:37:56 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: subscribed.php.t; output: subscribed.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: forum_notify.tmpl}
{REF: thread_notify.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: tabs.tmpl}
{REF: alt_var.tmpl}

{SECTION: subscribed_forum_entry_lnk}
{ROOT}/f/{VAR: r[0]}/{DEF: _rsid}
{SECTION: END}

{SECTION: subscribed_forum_entry_lnk1}
{ROOT}/sl/{VAR: r[0]}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: subscribed_thread_entry_lnk}
{ROOT}/t/{VAR: r[0]}/0/unread/{DEF: _rsid}
{SECTION: END}

{SECTION: subscribed_thread_entry_lnk1}
{ROOT}/sl/0/{VAR: r[0]}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: subscribed_action}
{ROOT}/sl/
{SECTION: END}
