/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: th_nav.tmpl,v 1.4 2003/10/10 15:22:24 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: th_nav.inc.t; output: th_nav.inc;}

{SECTION: next_thread_link_lnk}
{ROOT}/m/{VAR: n[0]}/{DEF: _rsid}
{SECTION: END}

{SECTION: prev_thread_link_lnk}
{ROOT}/m/{VAR: p[0]}/{DEF: _rsid}
{SECTION: END}
