/**
* copyright            : (C) 2001-2007 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: thr_exch.tmpl,v 1.12 2007/01/01 18:23:47 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: thr_exch.php.t; output: thr_exch.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: ssu.tmpl}
{REF: private.tmpl}
{REF: logaction.tmpl}
{REF: th_adm.tmpl}

{SECTION: thr_exch_entry_lnk}
{ROOT}/u/{VAR: obj->req_by}/{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch_entry_lnk1}
{ROOT}/t/{VAR: obj->th}/{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch_entry_lnk2}
{ROOT}/te/appr/{VAR: obj->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch_entry_lnk3}
{ROOT}/te/decl/{VAR: obj->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: thr_move_decline_lnk3}
{ROOT}/te/{DEF: _rsid}
{SECTION: END}
