/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: threadt.tmpl,v 1.18 2005/12/07 18:07:46 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
**/

{PHP_FILE: input: threadt.php.t; output: threadt.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_pager.tmpl}
{REF: forumsel.tmpl}
{REF: show.tmpl}
{REF: forum_notify.tmpl}
{REF: thread_view_common.tmpl}

{SECTION: flat_view_lnk}
{ROOT}/tt/thread/{VAR: frm->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: reg_user_link_lnk}
{ROOT}/u/{VAR: cur->poster_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: thread_row_lnk}
{ROOT}/m/{VAR: cur->id}/{DEF: _rsid}#msg_{VAR: cur->id}
{SECTION: END}

{SECTION: max_depth_reached_lnk}
{ROOT}/m/{VAR: cur->id}/{DEF: _rsid}#msg_{VAR: cur->id}
{SECTION: END}
