/**
* copyright            : (C) 2001-2006 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: thread_view_common.tmpl,v 1.20 2006/09/19 14:37:56 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: thread_view_common.inc.t; output: thread_view_common.inc;}
{REF: is_perms.tmpl}
{REF: draw_forum_path.tmpl}

{SECTION: thread_mark_all_read_lnk}
{ROOT}/mar/{VAR: frm->id}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: new_thread_link_lnk}
{ROOT}/r/frm_id/{VAR: frm->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: unsubscribe_link_lnk}
{ROOT}/sf/{VAR: _GET['t']}/{VAR: frm->id}/unsub/{VAR: start}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: subscribe_link_lnk}
{ROOT}/sf/{VAR: _GET['t']}/{VAR: frm->id}/sub/{VAR: start}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: thread_syndicate_lnk}
{ROOT}/h/boardusage/#syndicate
{SECTION: END}

{SECTION: thread_merge_t_lnk}
{ROOT}/met/{VAR: frm->id}/{DEF: _rsid}
{SECTION: END}
