***************************************************************************
*   copyright            : (C) 2001,2002 Advanced Internet Designs Inc.
*   email                : forum@prohost.org
*
*   $Id: thread_view_common.tmpl,v 1.7 2003/10/09 21:08:03 hackie Exp $
****************************************************************************

****************************************************************************
*
*       This program is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 2 of the License, or
*       (at your option) any later version.
*
***************************************************************************/

{PHP_FILE: input: thread_view_common.inc.t; output: thread_view_common.inc;}

{REF: is_perms.tmpl}

{SECTION: thread_mark_all_read}
<div align="right"><font class="SmallText">[<a href="{ROOT}/mar/{VAR: frm->id}/{DEF: _rsid}" class="GenLink" title="{MSG: thread_mark_all_read_desc}">{MSG: thread_mark_all_read}</a>]{TEMPLATE-DATA: thread_printable_pdf}{TEMPLATE-DATA: thread_syndicate}</font></div>
{SECTION: END}

{SECTION: forum_path}
<a class="GenLink" href="{ROOT}/i/{DEF: _rsid}">{VAR: frm->cat_name}</a><font class="GenText"> &raquo; <b>{VAR-HTML: frm->name}</b></font>
{SECTION: END}

{SECTION: new_thread_link}
<a class="GenLink" href="{ROOT}/r/frm_id/{VAR: frm->id}/{DEF: _rsid}"><img src="{THEME_IMAGE_ROOT}/new_thread.gif" alt="{MSG: new_thread}" /></a>
{SECTION: END}

{SECTION: unsubscribe_link}
<a class="GenLink" href="{ROOT}/{DEF: pinfo_page}/{VAR: frm->id}/{VAR: start}/1/{DEF: _rsid}" title="{MSG: unsubscribe_desc}">{MSG: unsubscribe}</a>
{SECTION: END}

{SECTION: subscribe_link}
<a class="GenLink" href="{ROOT}/{DEF: pinfo_page}/{VAR: frm->id}/{VAR: start}/0/{DEF: _rsid}" title="{MSG: subscribe_desc}">{MSG: subscribe}</a>
{SECTION: END}

{SECTION: no_messages}
<font class="GenText">{MSG: no_messages}</font>
{SECTION: END}

{SECTION: thread_poll_indicator}
{MSG: poll}&nbsp;
{SECTION: END}

{SECTION: thread_attach_indicator}
<img src="{THEME_IMAGE_ROOT}/attachment.gif" alt="" />
{SECTION: END}

{SECTION: thread_read}
<img src="{THEME_IMAGE_ROOT}/read.gif" title="{MSG: no_unread_msg}" alt="" />
{SECTION: END}

{SECTION: thread_read_unreg}
<img src="{THEME_IMAGE_ROOT}/read.gif" title="{MSG: no_unread_msg_unreg}" alt="" />
{SECTION: END}

{SECTION: thread_read_locked}
<img src="{THEME_IMAGE_ROOT}/readlocked.gif" title="{MSG: no_unread_locked}" alt="" />
{SECTION: END}

{SECTION: thread_unread}
<img src="{THEME_IMAGE_ROOT}/unread.gif" title="{MSG: unread_msg}" alt="" />
{SECTION: END}

{SECTION: thread_unread_locked}
<img src="{THEME_IMAGE_ROOT}/unreadlocked.gif" title="{MSG: unread_msg_locked}" alt="" />
{SECTION: END}

{SECTION: thread_icon_none}
&nbsp;
{SECTION: END}

{SECTION: thread_title}
{MSG: thread_title}
{SECTION: END}

{SECTION: thread_printable_pdf}
&nbsp;[ <a href="{GVAR: WWW_ROOT}pdf.php/p/{VAR: frm->id}/{VAR: cur_frm_page}/{DEF: _rsid}" class="GenLink">{MSG: thread_printable_pdf}</a> ]
{SECTION: END}

{SECTION: thread_syndicate}
&nbsp;[ <a href="{ROOT}/h/boardusage/#syndicate" class="GenLink">{MSG: thread_syndicate}</a> ]
{SECTION: END}

{SECTION: thread_pdf_rdf}
<div align="right"><font class="SmallText">{TEMPLATE-DATA: thread_printable_pdf}{TEMPLATE-DATA: thread_syndicate}</font></div>
{SECTION: END}

{SECTION: thread_merge_t}
&nbsp;<a href="{ROOT}/met/{VAR: frm->id}/{DEF: _rsid}" class="GenLink">{MSG: merge_topics}</a>
{SECTION: END}
