/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: tree.tmpl,v 1.19 2004/07/02 16:54:28 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: tree.php.t; output: tree.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: forumsel.tmpl}
{REF: drawmsg.tmpl}
{REF: fileio.tmpl}
{REF: imsg.tmpl}
{REF: thread_notify.tmpl}
{REF: alt_var.tmpl}
{REF: is_perms.tmpl}
{REF: show.tmpl}
{REF: th_nav.tmpl}
{REF: th.tmpl}

{SECTION: msg_forum_path_lnk}
{ROOT}/i/{DEF: _rsid}
{SECTION: END}

{SECTION: msg_forum_path_lnk2}
{ROOT}/f/{VAR: frm->forum_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: split_thread_lnk}
{ROOT}/stt/{VAR: th}/{DEF: _rsid}
{SECTION: END}

{SECTION: mod_lock_thread_lnk}
{ROOT}/lk/{VAR: th}/lock/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: mod_unlock_thread_lnk}
{ROOT}/lk/{VAR: th}/unlock/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: email_page_to_friend_lnk}
{ROOT}/ef/{VAR: th}/{DEF: _rsid}
{SECTION: END}

{SECTION: sub_from_thread_lnk}
{ROOT}/mn/tree/{VAR: th}/1/on/{VAR: mid}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: unsub_to_thread_lnk}
{ROOT}/mn/tree/{VAR: th}/1/off/{VAR: mid}/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: flat_view_lnk}
{ROOT}/mv/msg/{VAR: th}/{DEF: _rsid}#msg_{VAR: mid}
{SECTION: END}

{SECTION: new_thread_lnk}
{ROOT}/r/frm_id/{VAR: frm->forum_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: post_reply_lnk}
{ROOT}/r/th_id/{VAR: th}/{VAR: mid}/{DEF: _rsid}
{SECTION: END}

{SECTION: rate_thread_lnk3}
{ROOT}/tr/{DEF: _rsid}
{SECTION: END}

{SECTION: reg_user_link_lnk}
{ROOT}/u/{VAR: cur->poster_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: tree_branch_lnk}
{ROOT}/m/{VAR: cur->id}/{VAR: th}/0/{VAR: rev}/{VAR: reveal}/{DEF: _rsid}
{SECTION: END}

{SECTION: tree_entry_lnk}
{ROOT}/m/{VAR: cur->id}/{VAR: th}/0/{VAR: rev}/{VAR: reveal}/{DEF: _rsid}
{SECTION: END}

{SECTION: tree_branch_selected_lnk}
{ROOT}/m/{VAR: cur->id}/{VAR: th}/0/{VAR: rev}/{VAR: reveal}/{DEF: _rsid}
{SECTION: END}

{SECTION: tree_entry_selected_lnk}
{ROOT}/m/{VAR: cur->id}/{VAR: th}/0/{VAR: rev}/{VAR: reveal}/{DEF: _rsid}
{SECTION: END}

{SECTION: tree_xml_link_lnk}
{ROOT}/h/boardusage/{DEF: _rsid}#syndicate
{SECTION: END}

{SECTION: tree_pdf_link_lnk}
{GVAR: WWW_ROOT}pdf.php/p/mid/{VAR: mid}/{DEF: _rsid}
{SECTION: END}
