/***************************************************************************
* copyright            : (C) 2001-2004 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: uc.tmpl,v 1.1 2004/04/20 18:12:29 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: uc.php.t; output: uc.php;}
{REF: security.tmpl}
{REF: admincp.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: draw_select_opt.tmpl}
{REF: tabs.tmpl}
{REF: draw_pager.tmpl}
{REF: allowed_user_lnk.tmpl}
{REF: buddy.tmpl}
{REF: thread_notify.tmpl}
{REF: forum_notify.tmpl}

{SECTION: uc_pm_lnk}
{ROOT}/pmm/toi/{VAR: r[0]}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_profile_lnk}
{ROOT}/u/{VAR: r[0]}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_profile_lnk2}
{ROOT}/u/{VAR: r->poster_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_buddy_lnk}
{ROOT}/uc/ubid/{VAR: r[0]}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_new_pm_ent_lnk}
{ROOT}/pmv/{VAR: r[4]}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_forum_entry_lnk}
{ROOT}/f/{VAR: r->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_last_post_lnk}
{ROOT}/m/{VAR: r->mid}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_forum_unsub}
{ROOT}/uc/ufid/{VAR: r->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_new_topic}
{ROOT}/r/frm_id/{VAR: r->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_first_unread_msg_link_lnk}
{ROOT}/t/{VAR: r->id}/0/unread/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_mini_pager_entry_lnk}
{ROOT}/t/{VAR: r->id}/{VAR: st_pos}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_last_msg_in_thread_lnk}
{ROOT}/m/{VAR: r->last_post_id}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_thread_reply}
{ROOT}/r/th_id/{VAR: r->id}/{DEF: _rsid}
{SECTION: END}

{SECTION: uc_thread_unsub}
{ROOT}/uc/utid/{VAR: r->id}/{DEF: _rsid}
{SECTION: END}
