/**
* copyright            : (C) 2001-2010 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; version 2 of the License. 
**/

{PHP_FILE: input: usercp.inc.t; output: @usercp.inc;}

{SECTION: usercp_lnk}
{ROOT}/s/{DEF: _rsid}
{SECTION: END}

{SECTION: usercp_lnk2}
{ROOT}/h/{DEF: _rsid}
{SECTION: END}

{SECTION: usercp_lnk3}
{ROOT}/i/{DEF: _rsid}
{SECTION: END}

{SECTION: login_lnk}
{ROOT}/l/{DEF: _rsid}
{SECTION: END}

{SECTION: logout_lnk}
{ROOT}/l/1/{DEF: _rsid}?SQ={GVAR: sq}
{SECTION: END}

{SECTION: register_lnk}
{ROOT}/re/{DEF: _rsid}
{SECTION: END}

{SECTION: private_msg_empty_lnk}
{ROOT}/pdm/{DEF: _rsid}
{SECTION: END}

{SECTION: private_msg_unread_lnk}
{ROOT}/pdm/{DEF: _rsid}
{SECTION: END}

{SECTION: member_search_lnk}
{ROOT}/ml/{DEF: _rsid}
{SECTION: END}

{SECTION: usercp_usercp_lnk}
{ROOT}/uc/{DEF: _rsid}
{SECTION: END}
