/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: usrinfo.tmpl,v 1.5 2003/10/10 00:05:28 hackie Exp $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: usrinfo.php.t; output: usrinfo.php;}
{REF: security.tmpl}
{REF: header.tmpl}
{REF: footer.tmpl}
{REF: curtime.tmpl}
{REF: usercp.tmpl}
{REF: stats.tmpl}
{REF: rev_fmt.tmpl}
{REF: is_perms.tmpl}
{REF: alt_var.tmpl}

{SECTION: last_post last post link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td valign="top" nowrap class="GenText">{MSG: usrinfo_last_post}</td><td class="GenText"><font class="DateText">{DATE: r[2] %a, %d %B %Y %H:%M}</font><br /><a href="{ROOT}/m/{VAR: r[1]}/{DEF: _rsid}" class="GenLink">{VAR: r[0]}</a></td></tr>
{SECTION: END}

{SECTION: email_form_link link to the email form}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td nowrap class="GenText">{MSG: email}</td><td class="GenText">[<a href="{ROOT}/em/{VAR: u->id}/{DEF: _rsid}">{MSG: email_user}</a>]</td></tr>
{SECTION: END}

{SECTION: usrinfo_private_msg private message link}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td nowrap class="GenText">{MSG: usrinfo_private_message}</td><td class="GenText"><a href="{ROOT}/pmm/toi/{VAR: u->id}/{DEF: _rsid}" class="GenLink"><img src="{THEME_IMAGE_ROOT}/msg_pm.gif" /></a></td></tr>
{SECTION: END}

{SECTION: referals an indicator of how many people this user has referred}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td nowrap class="GenText">{MSG: userinfo_referals}</td><td class="GenText"><a href="{ROOT}/lr/{DEF: _rsid}">{MSG: userinfo_referals_count}</a></td></tr>
{SECTION: END}

{SECTION: moderation_entry link to forum moderated by user}
<a href="{ROOT}/f/{VAR: r[0]}/{DEF: _rsid}" class="GenLink">{VAR-HTML: r[1]}</a>&nbsp;
{SECTION: END}

{PAGE: USERINFO_PAGE info about a particular user in the forum}
{TEMPLATE: header}
{TEMPLATE: usercp}
<table border="0" cellspacing="1" cellpadding="2" class="ContentTable">
<tr><th colspan=2 width="100%">{MSG: usrinfo_profile}</th></tr>
<tr class="RowStyleA"><td nowrap class="GenText">{MSG: date_registered}</td><td width="100%" class="DateText">{DATE: u->join_date %B %d, %Y}</td></tr>
<tr class="RowStyleB"><td valign="top" nowrap class="GenText">{MSG: post_count_l}</td><td class="GenText">{MSG: average_post_count}<br /><a class="GenLink" href="{ROOT}/sp/{VAR: u->id}/{DEF: _rsid}">{MSG: usrinfo_show_all_posts}</a></td></tr>
{TEMPLATE-DATA: status}
{TEMPLATE-DATA: avatar}
{TEMPLATE-DATA: last_post}
{TEMPLATE-DATA: polls}
{TEMPLATE-DATA: user_image}
{TEMPLATE-DATA: email_link}
{TEMPLATE-DATA: usrinfo_private_msg}
{TEMPLATE-DATA: referals}
{TEMPLATE-DATA: home_page}
{TEMPLATE-DATA: gender}
{TEMPLATE-DATA: location}
{TEMPLATE-DATA: occupation}
{TEMPLATE-DATA: interests}
{TEMPLATE-DATA: bio}
{TEMPLATE-DATA: birth_date}
{TEMPLATE-DATA: im_icq}
{TEMPLATE-DATA: im_aim}
{TEMPLATE-DATA: im_yahoo}
{TEMPLATE-DATA: im_msnm}
{TEMPLATE-DATA: im_jabber}
{TEMPLATE-DATA: im_affero}
<tr class="RowStyleC"><td nowrap align="right" class="GenText" colspan=2><a class="GenLink" href="{ROOT}/sp/{VAR: u->id}/{DEF: _rsid}">{MSG: usrinfo_show_all_posts}</a></td></tr>
</table>
{TEMPLATE: curtime}
{TEMPLATE-DATA: page_stats}
{TEMPLATE: footer}
{PAGE: END}

{SECTION: polls an indicator of how many polls this user has created}
<tr class="{ALT-VAR: search_alt RowStyleA RowStyleB}"><td nowrap class="GenText">{MSG: userinfo_polls}</td><td class="GenText"><a href="{ROOT}/pl/{VAR: u->id}/{DEF: _rsid}">{VAR: polls}</a></td></tr>
{SECTION: END}
