/***************************************************************************
* copyright            : (C) 2001-2010 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
***************************************************************************/

{PHP_FILE: input: forum.css.t; output: forum.css;}

{SECTION: css_overrides}

body {
	background-color: #ecf3eb;
}
 
.ForumBackground {
	border-color: #aebdc4;
 }
 
a:link, a:visited, a:active, a.PagerLink {
	color: #226c22;
 }
 
a.UserControlPanel, a.UserControlPanel:visited {
	color: #226c22;
}
 
a.thLnk:link, a.thLnk:active, a.thLnk:visited {
	color: #eaf4e9;
}
 
a.thLnk:visited {
	color: #9c9;
}
 
.RowStyleA, td.tt {
	background-color: #eaf4e9;
}
 
.RowStyleB, .curtime, fieldset {
	background-color: #d0f0c0;
 }
 
.RowStyleC {
	background-color: #9c9;
}
 
.MsgToolBar {
	background-color: #d0f0c0;
 }

.MsgTable {
	border: 1px solid #000;
}
 
blockquote {
	background-color: #f0fff0;
	border-left: 1px dashed #9c9;
} 

blockquote blockquote {
	background-color: #e0eee0;
}
 
blockquote blockquote blockquote {
	background-color: #c1cdc1;
}
 
.dashed {
	border-color: #1b7cad;
}
 
input.button {
        background-color: #eaf4e9;
}
 
.MsgR2, .MsgR1, .MsgR3, .MsgIg {
	background-color: #d0f0c0;
 }
 
.MsgR1 {
	background-color: #9c9;
}
 
.MsgR3 {
	background-color: #eaf4e9;
}
 
a.big:link, a.big:active, a.big:visited {
	color: #226c22;
}
 
a.small:link, a.small:active, a.small:visited {
	color: #226c22;
}
 
th.SelFS {
	 border-bottom: 1px solid white;
}
 
td.NoAvatar {
	background-color: #eaf4e9;
}
 
td.Av1, td.Av2 {
	background-color: #eaf4e9;
}

td.tabI, td.tabA, td.tabI:hover, td.tabOVER, td.tabON {
	background-color: #d0f0c0; 
}
 
td.tabOVER, td.tabI:hover, td.tabI:active {
	background-color: #9c9;
}
 
td.tabON {
	background-color: #4f7942;
}
 
table.pmDu {
	border-color: #9c9;
}

tr.mnavH {
	background-color: #eaf4e9;
}

tr.mnavM {
	background-color: #d0f0c0;
}

a.MsgSubText:active, a.MsgSubText:hover {
	color: #131;
}

.header {color:#eaf4e9; background-color: #337147;}
.header a {color:#eaf4e9;}
.headbutton {background-color: #004123;}

.resizable-textarea .grippie {
	background-color: #eaf4e9;
}
 
{SECTION: END}
