/***************************************************************************
* copyright            : (C) 2001-2010 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
***************************************************************************/

{PHP_FILE: input: forum.css.t; output: forum.css;}

{SECTION: css_overrides}

body {
	background-color: #ede9f4;
}

text, .GenText {
	color: #000;
}

a:link, a:visited, a:active, a.PagerLink {
	color: #339;
}

a.CatLink {
	color: #fff;
}

.CatDesc {
	color: #fff;
}

a.UserControlPanel, a.UserControlPanel:visited {
	color: #22229c;
}

a.thLnk:link, a.thLnk:active, a.thLnk:visited {
	color: #f5f5ff;
}

a.thLnk:visited {
	color: #869bbf;
}

.RowStyleA, td.tt {
	background-color: #f5f5ff;
}

.RowStyleB, .curtime, fieldset {
	background-color: #d1d1e1;
}

.RowStyleC {
	background-color: #869bbf;
}

.MsgToolBar {
	background-color: #d1d1e1;
}

.MsgTable {
	border-color: darkblue;
}

a.MsgSubText, a.MsgSubText:visited {
	color: #fff;
}

.dashed {
	border-color: #1b7cad;
}
 
input.button {
        background-color: #f5f5ff;
}

.MsgR2, .MsgR1, .MsgR3, .MsgIg {
	background-color: #d1d1e1;
}

.MsgR1 {
	color: #fff;
	background-color: #869bbf;
	background: url('images/tableHeaderbg2.png');
	padding-top: 2px;
	padding-bottom: 2px;
}

.MsgR3 {
	background-color: #f5f5ff;
}

td.tt {
	border-bottom: 1px solid #fff;
}

a.big:link, a.big:active, a.big:visited {
	color: #22229c;
}

a.small:link, a.small:active, a.small:visited {
	color: #22229c;
}

legend {
	background-color: #fff;
}

th.SelFS {
	 border-bottom: 1px solid #fff;
}

td.NoAvatar {
	background-color: #f5f5ff;
}

td.Av1, td.Av2 {
	background-color: #f5f5ff;
}

td.tabI, td.tabA, td.tabI:hover, td.tabOVER, td.tabON {
	background-color: #d1d1e1; 
}

td.tabOVER, td.tabI:hover, td.tabI:active {
	background-color: #869bbf;
}

td.tabON {
	background-color: #334d80;
}

a.tabON:link, a.tabON:active, a.tabON:visited, a.tabON:hover {
	color: #000;
}

table.tab {
	border-bottom: 1px solid black;
}

table.pmDu {
	border-color: #869bbf;
}

tr.mnavH {
	background-color: #f5f5ff;
}

tr.mnavM {
	background-color: #d1d1e1;
}

.header {color: #f5f5ff; background-color: #334d80;}
.header a {color: #f5f5ff;}
.headbutton {background-color: #003153;} 
 
.resizable-textarea .grippie {
	background-color: #f5f5ff;
}

{SECTION: END}