/***************************************************************************
* copyright            : (C) 2001-2010 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id$
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
***************************************************************************/

{PHP_FILE: input: forum.css.t; output: forum.css;}

{SECTION: css_overrides}

body {
	background: url(images/gradient.gif) repeat-x top #dfe0df;
}

a:link, a:visited, a:active, a.PagerLink {
	color: #224422;
}

a.CatLink {
	color: #fff;
}

.CatDesc {
	color: #fff;
	height: 27px;
	background: url('images/gradient.gif') 0 -100px repeat-x;
}

a.UserControlPanel, a.UserControlPanel:visited {
	color: #2b332b;
}

th {
	height: 27px;
	background: url('images/gradient.gif') 0 -50px repeat-x;
}

a.thLnk:link, a.thLnk:active, a.thLnk:visited {
	color: #f5f5ff;
}

a.thLnk:visited {
	color: #9da0a7;
}

.RowStyleA, td.tt {
	background-color: #f5f5ff;
}

.RowStyleB, .curtime, fieldset {
	background-color: #d1d1e1;
}

.RowStyleC {
	background-color: #9da0a7;
}

.MsgToolBar {
	background-color: #d1d1e1;
}

.MsgTable {
	border-color: darkblue;
}

a.MsgSubText, a.MsgSubText:visited {
	color: #fff;
}

blockquote blockquote {
	background-color: #f0f0f0;
}

blockquote blockquote blockquote {
	background-color: #e0e0e0;
}

.MsgR2, .MsgR1, .MsgR3, .MsgIg {
	background-color: #d1d1e1;
}

.MsgR1 {
	color: #fff;
	background: #9da0a7 url('images/gradient.gif') 0 -100px repeat-x;
}

.MsgR3 {
	background-color: #f5f5ff;
}

a.big:link, a.big:active, a.big:visited {
	color: #2b332b;
}

a.small:link, a.small:active, a.small:visited {
	color: #2b332b;
}

td.NoAvatar {
	background-color: #f5f5ff;
}

td.Av1, td.Av2 {
	background-color: #f5f5ff;
}

td.tabI, td.tabA, td.tabI:hover, td.tabOVER, td.tabON {
	background-color: #d1d1e1; 
}

td.tabOVER, td.tabI:hover, td.tabI:active {
	background-color: #9da0a7;
}

td.tabON {
	background-color: #485164;
}

table.pmDu {
	border-color: #9da0a7;
}

tr.mnavH {
	background-color: #f5f5ff;
}

tr.mnavM {
	background-color: #d1d1e1;
}

.header {color:#fff; background: url(images/gradient.gif) repeat-x top #dfe0df; }
.header a {color:#fff;}
.headdescr {color:#bee7d9;}

.resizable-textarea .grippie {
	background-color: #f5f5ff;
}

{SECTION: END}
