body, body.popup {
	color: #555;
	background: #aba;
	font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
	font-size: medium;
	font-size-adjust: 0.50;
}

body.popup {
	vertical-align: top;
	background: #cde;
}

a {
	text-decoration: none;
}

a:visited, a:link {
	color: #242;
}

a:active, a:hover {
	color: red;
}

.admin_fixed {
	font-family: courier;
	text-decoration: none;
	font-size: small;
}

table.headtable {
	background: #527bbd;
	color: white;
	width: 100%;
	height: 50px;
}

table.headtable a {
	color: yellow;
}

table.maintable {
	background: #ddefed;
	border-spacing: 0;
	border: 0;
	padding: 0;
	-moz-border-radius: 0.75em;
	-webkit-border-radius: 0.75em;
	border-radius: 0.75em;
}

table.linktable {
	text-align: center;
	border: 0;
	border-spacing: 0;
	padding: 0;
	padding-top: 10px;
	font-size: small;
}

.linkdata {
	vertical-align: text-top;
}

.maindata {
	vertical-align: top;
	background: #cde;
	width: 100%;
	padding-left: 5px;
}

span.linkhead {
	color: #fff;
	font-weight: bold;
	font-size: x-large;
}

span.linkgroup {
	color: #396;
	font-weight: bold;
	font-size: medium;
}

.linktable a {
	font-size: small;
}

.datatable {
	border: 0px;
	border-spacing: 1px;
	padding: 3px;
}

.resulttable {
	border: 0px;
	border-spacing: 3px;
	padding: 1px;
}


.fulltable {
	border: 1px dashed #000;
	width: 100%;
}

.solidtable {
	border-spacing: 0px;
}

.field {
	vertical-align: top;
	background: #deeffe;
}

.field .fieldtopic {
	background: #cddeed;
}

.field .field {
	background: #dddeed;
}

.field:hover {
        background: #eeeffe;
	border-bottom: 1px solid red;
} 

.field td {
        border-bottom: 1px inset #f0f0f0;
}

.tiny {
	font-size: x-small;
}


.fieldaction {
	background: transparent;
}

.fieldtopic {
	background: transparent;
}

.resulttopic {
	background: #deefef;
}

.resultrow1 {
	background: #d0d0d0;
}

.resultrow2 {
	background: #f0f0f0;
}

.resultrow3 {
	background: #0b0;
}

.tutor {
	padding: 5px;
	margin: 3px;
	background: #fffeee;
	-moz-border-radius: 0.75em;
	-webkit-border-radius: 0.75em;
	border-radius: 0.75em;
}

.alert {
	padding: 5px;
	margin: 3px;
	color: red;
	background-color: #fcc;
	font-size: large;
	text-align: center;
	-moz-border-radius: 0.75em;
	-webkit-border-radius: 0.75em;
	border-radius: 0.75em;
}

/* Textarea editor */
.resizable-textarea .grippie {
	height: 9px;
	background: #eaf4e9 url('../theme/default/images/grippie.gif') no-repeat center 2px;
	border: 1px solid #ddd;
	border-top-width: 0;
	cursor: s-resize;
	overflow: hidden;
}

phpinfo {border-collapse: collapse;}
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left;}
.center th { text-align: center !important; }
.p {text-align: left;}
.e {background-color: #ccf; font-weight: bold; color: #000;}
.h {background-color: #99c; font-weight: bold; color: #000;}
.v {background-color: #ccc; color: #000000;}
.vr {background-color: #ccc; text-align: right; color: #000;}
hr {width: 600px; background-color: #ccc; border: 0px; height: 1px; color: #000;}

img {float: right; border: 0px;}
