php_value output_buffering 16000
php_value variables_order GPCS
php_flag implicit_flush 0
php_flag register_globals 0
php_flag register_argc_argv 0
php_flag magic_quotes_gpc 0
php_flag session.use_trans_sid 0
